<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Distribuciones</h2>

        <ul class="breadcrumb">

          <li><a href="#">Inversionistas</a></li>

          <li>Información bursátil</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
      <div class="row">
        <br>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

          <h3>Distribuciones</h3>

          <p>Como Política de Distribución inicial planeamos distribuir a nuestros Tenedores, de forma trimestral y si el flujo lo permite, el 100% del resultado neto del trimestre correspondiente, política que estará acorde con los mandatos de nuestro Comité Técnico.</p>
          <p>No hay ninguna garantía de que nuestra política de distribución no cambie en el futuro. Cualquier cambio a nuestra política de distribución tendrá que ser aprobada por el Comité Técnico. Nuestra habilidad de ejecutar distribuciones en el futuro dependerá de muchos factores, algunos de los cuales están fuera de nuestro control y podrían afectar materialmente nuestras distribuciones.
          </p>
          <br/>

        </div>

        <!-- Menu complementario en 3md -->
        <%= erb :"layouts/ri-sidebar" %>


      </div>
      <!-- end row -->
      <div class="clearfix"></div>
    </div>
  </section>

  <!--Contenido END -->



  <%= erb :"layouts/parallax-mensaje1" %>

  <%= erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"layouts/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>