<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Equipo directivo</h2>

        <ul class="breadcrumb">

          <li><a href="#">Inversionistas</a></li>

          <li>FIBHIOS</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <h3>Equipo Administrativo Experimentado y Multidisciplinario</h3>
                    <p style="margin-bottom: 0px">
                      La gestión del Portafolio de Créditos de FIBHIOS es llevada a cabo por el equipo directivo de nuestro Administrador, FHIPOS. El Comité Técnico de FIBHIOS tiene las facultades de proponer y aprobar, así como de remover a los directivos de nuestro Administrador, o en su caso de proponer funcionarios que vigilen su gestión, a su plena discreción.</p>

                    <p>El equipo directivo de nuestro Administrador se hallará integrado por funcionarios a tiempo completo que serán remunerados por el propio Administrador, dicha remuneración estará enfocada a alinear incentivos entre los directivos y el mejor interés de los tenedores de FIBHIOS. Todas las funciones del equipo directivo de nuestro Administrador tendrán el fin último de incrementar y preservar el patrimonio de los tenedores de certificados de FIBHIOS.
                    </p>
                    <div class="clearfix"></div>
                    <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
                      <div class="team_member padding-top">
                        <div class="entry">
                          <img class="img-responsive" src="/images/fibhios/directivos/JuanSordo.jpg" alt="">
                          <div class="magnifier">
                            <div class="buttons">
                              <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                              <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                          </div><!-- end magnifier -->
                        </div><!-- end entry -->
                      </div><!-- end team_member -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                      <div class="team_member">
                        <h1>José Juan Sordo <span> | </span> <small>Director General</small></h1>
                        <p> Se ha desempeñado como Director Financiero y de Desarrollo Inmobiliario en Grupo Sordo Madaleno (GSM). En 2014 dirigió la adquisición de 2 proyectos de usos mixtos por un monto superior a los Ps.5,000 millones, logrando obtener financiamientos para estos proyectos por Ps.3,250 millones, a través de diversas instituciones financieras. Es también miembro del Consejo de Administración de diversos centros comerciales, entre ellos Antara, Angelópolis, Plaza Universidad, Plaza Satélite, desde 2010 ha sido responsable de estructurar todos los financiamientos de GSM, logrando en 2010, refinanciar el 100% de su deuda bancaria con diferentes acreedores. Adicionalmente, es fundador de dos fondos privados de inversión inmobiliaria que han levantado capital por más de US$500 millones. De 2007 a 2009, participó en la empresa IDEAL de Grupo CARSO, en el área de valuación y análisis de proyectos. Es Licenciado en Administración Financiera por el Instituto Tecnológico de Estudios Superiores de Monterrey.</p>
                        <p>La función principal del Director General de FHIPOS consistirá en ejecutar los objetivos estratégicos aprobados por el Comité Técnico e implementar el plan de negocios, así como gestionar una cercana relación con inversionistas.</p>
                      </div><!-- end team_member -->
                    </div><!-- end col-lg-6 -->

                    <div class="clearfix"></div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
                      <div class="team_member padding-top">
                        <div class="entry">
                          <img class="img-responsive" src="/images/fibhios/directivos/ErikGonzalez.jpg" alt="">
                          <div class="magnifier">
                            <div class="buttons">
                              <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                              <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                          </div><!-- end magnifier -->
                        </div><!-- end entry -->
                      </div><!-- end team_member -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                      <div class="team_member">
                        <h1>Erik González <span> | </span> <small>Director de Finanzas</small></h1>
                        <p>Cuenta con 17 años de experiencia en el sector financiero, principalmente en análisis, estrategia, planeación, M&A, presupuestos, contraloría financiera y auditoría. Ha participado en la constitución de instituciones financieras del sector financiero mexicano, y cuenta con una amplia experiencia en el manejo de portafolios crediticios, así como en emisión de deuda en mercados internacionales. Desde el año 2005, ha ocupado posiciones de alta responsabilidad en la banca de desarrollo, y en diversas instituciones financieras, como Ixe Grupo Financiero y Grupo Financiero Banorte, así como en fondos de capital privado especializados en la compra y reestructura de empresas en los sectores de energía y salud, participando como miembro del Consejo de Administración en varias de ellas. Colaboró, también, para la Comisión Nacional Bancaria y de Valores (CNBV) por 8 años, como Director de Análisis Financiero y Supervisión Bancaria. Es Contador Público y Licenciado en Administración de Empresas por el Instituto Tecnológico Autónomo de México, y cuenta con un MBA con especialidad en finanzas por la Escuela de Negocios de Manchester, RU, donde se graduó con honores.</p>

                        <p>La función principal del Director de Finanzas será establecer la estrategia de administración financiera para mantener una estructura adecuada de deuda y capital, incluyendo las funciones de contabilidad, cumplimiento fiscal, procuración de capital y financiamiento. El Director de Finanzas reportará al Director General.</p>
                        <br>

                      </div><!-- end team_member -->
                    </div><!-- end col-lg-6 -->

                    <div class="clearfix"></div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
                      <div class="team_member padding-top">
                        <div class="entry">
                          <img class="img-responsive" src="/images/fibhios/directivos/MiguelOsioBuch.jpg" alt="">
                          <div class="magnifier">
                            <div class="buttons">
                              <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                              <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                          </div><!-- end magnifier -->
                        </div><!-- end entry -->
                      </div><!-- end team_member -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                      <div class="team_member">
                        <h1>Luis Miguel Osio Buch<span> | </span> <small>Director de Operaciones</small></h1>
                        <p>Durante junio de 2013 y septiembre de 2014, el Sr. Osio Buch se desempeñó como Gerente de Análisis de Negocios en Infraestructura Energética Nova S.A.B. de C.V. (IEnova), en donde participó en la obtención de financiamientos a largo plazo por más de US$300 millones y en operaciones de M&A por más de US $100 millones; así mismo, participó en el desarrollo de múltiples proyectos de generación de energía y transporte de gas natural. Desde 2007, ha sido Director General de Mobiloffice S.A. de C.V. (iP@phone), empresa especializada en la comercialización de servicios de telecomunicación fija. Desde 2005, ha participado, a través de Central de Arquitectura, en diversos Consejos de Administración de proyectos inmobiliarios, desarrollos de proyectos comerciales y residenciales, por más de 100,000 metros cuadrados en distintos sitios de México, participando activamente en la estructuración y obtención de financiamientos superiores a los US$100 millones. El Sr. Osio Buch es Licenciado en Administración Financiera por el Instituto Tecnológico y de Estudios Superiores de Monterrey, obteniendo en 2010 el título de Maestro en Administración de Empresas por la misma institución.</p>
                        <p>La función principal del Director de Operaciones será establecer la estrategia en el manejo de portafolios de inversión en mercados financieros en los ámbitos nacional e internacional, diseñar estrategias de emisión de capital y deuda, así como operar instrumentos derivados para cobertura y negociación.</p>
                      </div><!-- end team_member -->
                    </div><!-- end col-lg-6 -->

                    <div class="clearfix"></div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
                      <div class="team_member padding-top">
                        <div class="entry">
                          <img class="img-responsive" src="/images/fibhios/directivos/GuillermoMascarenas.jpg" alt="">
                          <div class="magnifier">
                            <div class="buttons">
                              <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                              <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                          </div><!-- end magnifier -->
                        </div><!-- end entry -->
                      </div><!-- end team_member -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                      <div class="team_member">
                        <h1>Guillermo Mascareñas<span> | </span> <small>Director de Crédito</small></h1>
                        <p>El Sr. Mascareñas cuenta con más de 9 años de experiencia en el sector financiero en bancos y fondos de capital privado. De diciembre de 2013 a agosto de 2014, fue director del fondo de capital privado CIGEM, fondo especializado en acceso a financiamiento para empresas y financiamiento de proyectos. De agosto 2012 a diciembre 2013, se desempeñó como asociado en el fondo de inversión Abraaj Capital, en las áreas de finanzas corporativas, originación de inversiones, administración de inversiones, financiamiento inmobiliario y financiamiento de proyectos. De enero 2011 a agosto 2012, se desempeñó como Vicepresidente del Fondo de Fondos México Ventures, encargado de levantamiento de capital, originacion, inversión, administración y seguimiento en fondos de capital privado y coinversiones. De enero 2005 a junio 2009, colaboró en Ixe Grupo Financiero en el área de banca de inversión. Su experiencia incluye asesoría a clientes en procesos de levantamiento de capital y deuda, coordinación con autoridades, agencias calificadoras, abogados, banqueros e inversionistas, transacciones en el mercado de deuda (bursatilizaciones, créditos quirografarios, créditos a corto y largo plazo), mercado de capitales (ofertas públicas de acciones, opinión de valor), fusiones y adquisiciones y financiamiento estructurado. Es Licenciado en Administración Financiera por el Instituto Tecnológico de Monterrey, Campus Santa Fe, México D.F. En 2010 obtuvo el tituló de Maestro en Administración de Empresas por Maquarie Graduate School of Management, en Australia.</p>

                        <p>La función principal del Director de Crédito será establecer la estrategia en originación, otorgamiento y seguimiento para los créditos que conformen el Portafolio de Créditos.</p>
                      </div><!-- end team_member -->
                    </div><!-- end col-lg-6 -->

                    <div class="clearfix"></div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
                      <div class="team_member padding-top">
                        <div class="entry">
                          <img class="img-responsive" src="/images/fibhios/directivos/EmilioAarun.jpg" alt="">
                          <div class="magnifier">
                            <div class="buttons">
                              <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                              <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                          </div><!-- end magnifier -->
                        </div><!-- end entry -->
                      </div><!-- end team_member -->
                    </div><!-- end col-lg-3 -->
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                      <div class="team_member">
                        <h1>Emilio Aarún<span> | </span> <small>Director Jurídico</small></h1>
                        <p>De octubre 2012 a octubre 2014, se desempeñó como abogado general de crédito y asuntos especiales de CIBanco, donde se especializó en finanzas corporativas, financiamiento inmobiliario, financiamiento de proyectos y mercado de capitales. De agosto 2011 a septiembre 2012 y de 2006 a 2010, se desempeñó como asociado en Creel, García-Cuéllar, Aiza y Enríquez, S.C., concentrándose en finanzas corporativas, financiamiento inmobiliario, financiamientos de proyecto y mercado de capitales, brindando asesoría legal a diversos bancos e instituciones financieras, nacionales y extranjeras, en transacciones internacionales. De mayo 2010 a julio 2011, colaboró como asociado extranjero en las oficinas de Cleary Gottlieb Steen & Hamilton LLP en Nueva York, desempeñándose en el área de mercado de capitales, donde asesoró a bancos e instituciones en transacciones internacionales. De 2003 a 2005, se desempeñó como asesor legal corporativo y financiero en Grupo México, S.A.B. de C.V., donde tuvo a su cargo la supervisión legal de créditos a corto y largo plazo, así como la supervisión de ciertas subsidiarias y afiliadas del Grupo. Es Licenciado en Derecho por la Universidad Anáhuac de la Ciudad de México, con grado de Maestría en Derecho Corporativo por la misma institución. En 2006 se tituló de la Maestría en Práctica Jurídica y Administración de Empresas en el Instituto de la Empresa de Madrid, España.</p>
                        <p>La función principal del Director Jurídico será analizar, implementar, supervisar, formalizar y controlar los créditos que conformen el Portafolio de Créditos, así como estructurar, implementar y, en su caso, ejecutar las garantías correspondientes.</p>
                      </div><!-- end team_member -->
                    </div><!-- end col-lg-6 -->

                    <div class="clearfix"></div>
                  </div>
                </div>

                <!-- Menu complementario en 3md -->
               <%= erb :"layouts/ri-sidebar" %>
               
              
           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"layouts/parallax-mensaje1" %>

  <%= erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>