<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Estructura de participación</h2>

        <ul class="breadcrumb">

          <li><a href="#">Inversionistas</a></li>

          <li>Estrategia</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <h3 class="text-center">Fideicomiso de Administración, Garantía y Fuente de Pago </h3>
                  <img src="/images/fibhios/contenidos/estructura.jpg" class="img-responsive center-block">
                  <div class="legenda">
                    <p>(1) El Administrador adquirirá el 5% de los CBFIs en la Oferta Inicial y mantendrá su posición accionaria durante los próximos 5 años</p>
                    <p>(2) FAGFP: “Fideicomisos de Administración Garantía y Fuente de Pago”, ver glosario</p>

                  </div>
                  <p><strong>FIBHIOS</strong> utilizará los recursos de la Oferta Inicial para financiar el portafolio inicial. Los 9 proyectos/propiedades utilizarán los recursos  para: </p>
                  <ul class="ck-po">
                    <li>Refinanciamiento de deuda existente y establecimiento de nuevos contratos de créditos con FIBHIOS</li>
                    <li> Desarrollo de nuevos proyectos inmobiliarios</li>
                  </ul>


                  <p>Los créditos que otorgará FIBHIOS estarán garantizados por flujos e hipotecas de las propiedades premium y en algunos casos por derechos fiduciarios sobre fideicomisos maestros. Cada Proyecto constituirá un Fideicomiso de Administración, Garantía y Fuente de Pago (“FAGFP”) para garantizar el Contrato de Crédito. Cada FAGFP  considerará la siguiente cascada de distribución:</p>
                  <ul class="ck-numbered">
                    <li>Cobertura de gastos del FAGFP </li>
                    <li>Cobertura de gastos de mantenimiento del inmueble</li>
                    <li>Pago de impuestos y seguro</li>
                    <li>Cobertura de intereses y amortizaciones de capital </li>
                    <li>El flujo de efectivo remanente será devuelto al desarrollador</li>
                  </ul>
                  <p>
                    FIBHIOS a su vez utilizará los recursos para cubrir el pago de intereses de la deuda (en caso de tener), para cubrir la comisión del Administrador Externo y otros gastos generales. El flujo de efectivo remanente será distribuido a los tenedores de CBFIs.
                  </p>
                         <br>
                </div>
                <!-- Menu complementario en 3md -->
               <%= erb :"layouts/ri-sidebar" %>


           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"layouts/parallax-mensaje1" %>

  <%= erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>
