<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Glosario</h2>

        <ul class="breadcrumb">

          <li><a href="#">Inversionistas</a></li>

          <li>Información bursátil</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
      <div class="row">
        <br>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

          <h3>Glosario</h3>

  <p> <span class="glosario-main"> Administrador:</span> <span class="glosario-second"> significa FHIPOS Controladora, S.A.P.I. de C.V. </span></p>

<p> <span class="glosario-main">Administrador Elegible:</span> <span class="glosario-second"> significa un administrador que cuente con amplia experiencia en la administración de inmuebles (tomando en consideración la clase de inmueble de que se trate), así como con la estructura y capacidad técnica necesaria para encargarse de la administración del Inmueble respectivo.   </span> </p>

 <p> <span class="glosario-main">Afores:</span> <span class="glosario-second">significa las Administradoras de Fondos para el Retiro.   </span> </p>

<p> <span class="glosario-main">Ancla:</span> <span class="glosario-second"> significa aquellos arrendatarios que representen más del 20% del ARB de un Inmueble.       </span> </p>

<p> <span class="glosario-main"> Andamar I:</span> <span class="glosario-second">significa el centro comercial localizado en Blvd. Ruiz Cortines No. 4300, Fracción Mocambo, Collado y Boticaria, Municipio Boca del Río, Veracruz.  </span> </p>


<p> <span class="glosario-main"> Andamar II:</span> <span class="glosario-second">significa el centro comercial localizado en la Avenida Adolfo Ruiz Cortines No. 3500, Colonia Mocambo o Potrero Niño Bonito, Municipio Boca del Río, Veracruz.  </span> </p>


<p> <span class="glosario-main"> Andares:</span> <span class="glosario-second">significa el centro comercial localizado en Boulevard Puerta de Hierro No. 4965, Puerta de Hierro, 45116, Zapopan, Jalisco.  </span> </p>


<p> <span class="glosario-main"> Angelópolis:</span> <span class="glosario-second"> significa el centro comercial localizado en Boulevard del Niño Poblano No. 2510, Col. Concepción la Cruz, Puebla, Puebla. </span> </p>


<p> <span class="glosario-main"> Antara:</span> <span class="glosario-second">significa el centro comercial (excluyendo los edificios de oficinas), perteneciente al desarrollo “Antara” localizado en Ejército Nacional 843, Col. Ampliación Granada, Delegación Miguel Hidalgo, México, Distrito Federal.  </span> </p>


<p> <span class="glosario-main"> ARB:</span> <span class="glosario-second">significa toda el área del inmueble o inmuebles correspondientes que, conforme al proyecto respectivo, pueda ser explotada comercialmente.  </span> </p>


<p> <span class="glosario-main">  Área Rentable Elegible:</span> <span class="glosario-second">significa un ARB igual o mayor a 20,000 metros cuadrados, en el entendido que, en caso de que el inmueble sea un área privativa que forme parte de un régimen de propiedad en condominio, se considerará la totalidad del ARB en todo el condominio y no solamente el área del Inmueble respectivo.  </span> </p>


<p> <span class="glosario-main"> Asamblea de Tenedores:</span> <span class="glosario-second">significa cualquier Asamblea Ordinaria de Tenedores o Asamblea Extraordinaria de Tenedores.  </span> </p>


<p> <span class="glosario-main"> Asamblea Ordinaria de Tenedores:</span> <span class="glosario-second">significa una asamblea general de Tenedores que podrá ser convocada para resolver sobre asuntos que no estén expresamente reservados para una Asamblea Extraordinaria de Tenedores.  </span> </p>


<p> <span class="glosario-main"> Auditor Externo:</span> <span class="glosario-second">significa el Auditor Externo contratado por el Fiduciario conforme a las instrucciones del Comité Técnico.  </span> </p>


<p> <span class="glosario-main"> BMV:</span> <span class="glosario-second">significa la Bolsa Mexicana de Valores, S.A.B. de C.V.  </span> </p>


<p> <span class="glosario-main"> CBFI:</span> <span class="glosario-second">significa los certificados bursátiles fiduciarios inmobiliarios emitidos por el Fiduciario de conformidad con el Contrato de Fideicomiso, de acuerdo a lo dispuesto por los Artículos 61, 62, 63 Bis 1, sección II, 64, 64 Bis y 64 Bis 1 de la LMV.  </span> </p>


<p> <span class="glosario-main"> CIBanco:</span> <span class="glosario-second"> significa CIBanco, S.A., Institución de Banca Múltiple, División Fiduciaria. </span> </p>


<p> <span class="glosario-main"> Circular Única::</span> <span class="glosario-second">significa las disposiciones de carácter general aplicables a las emisoras de valores y a otros participantes del mercado de valores, publicadas en el Diario Oficial de la Federación el 19 de marzo de 2003, emitidas por la CNBV, tal como las mismas sean modificadas o adicionadas periódicamente.  </span> </p>


<p> <span class="glosario-main"> CNBV:</span> <span class="glosario-second">significa la Comisión Nacional Bancaria y de Valores.  </span> </p>


<p> <span class="glosario-main"> CONAPO:</span> <span class="glosario-second"> significa el Consejo Nacional de Población. </span> </p>


<p> <span class="glosario-main"> CONSAR:</span> <span class="glosario-second"> significa la Comisión Nacional del Sistema de Ahorro para el Retiro. </span> </p>


<p> <span class="glosario-main">  Contrato de Administración:</span> <span class="glosario-second">significa el contrato que celebrará el Fiduciario Emisor con el Administrador para que este último desempeñe ciertos servicios de administración.  </span> </p>


<p> <span class="glosario-main"> Contrato de Fideicomiso:</span> <span class="glosario-second"> significa el Contrato de Fideicomiso Irrevocable No. CIB/2075, celebrado entre el Fideicomitente, el Fiduciario, el Representante Común y el Administrador. </span> </p>


<p> <span class="glosario-main"> Cuentas del Fideicomiso:</span> <span class="glosario-second">significan las cuentas bancarias que el Fiduciario abrirá y mantendrá durante la vigencia del Contrato de Fideicomiso, en cumplimiento de los fines del fideicomiso y conforme le instruya de tiempo en tiempo el Administrador.   </span> </p>


<p> <span class="glosario-main"> Derechos Fideicomisarios de Fideicomisos Maestros:</span> <span class="glosario-second">significan  los  derechos  fideicomisarios  en  primer lugar sobre Fideicomisos Maestros.  </span> </p>


<p> <span class="glosario-main"> Día Hábil:</span> <span class="glosario-second">significa cualquier día que no sea sábado o domingo o en el cual las instituciones de crédito de México estén obligadas a cerrar por ley, de acuerdo con el calendario que al efecto publique la CNBV.  </span> </p>


<p> <span class="glosario-main"> Documentos de la Operación:</span> <span class="glosario-second"> significa la referencia conjunta al Contrato de Fideicomiso, al Contrato de Administración, a cada Título, a cada contrato de colocación celebrado en relación con cada emisión  de CBFIs, y todos  los anexos de dichos contratos y de todos y cualesquier otros contratos, instrumentos, documentos y títulos relacionados con los mismos, según sean modificados, ya sea total o parcialmente, adicionados o de cualquier otra forma reformados en cualquier momento. </span> </p>


<p> <span class="glosario-main"> Emisnet:</span> <span class="glosario-second">significa el Sistema Electrónico de Comunicación con Emisoras de Valores a cargo de la BMV.  </span> </p>


<p> <span class="glosario-main"> FIBRA:</span> <span class="glosario-second">significa un Fideicomiso de Inversión en Bienes Raíces de conformidad con los Artículos 187 y 188 de la LISR.  </span> </p>


<p> <span class="glosario-main"> “Fibra	Hipotecaria” o “Fideicomiso” o “Fideicomiso Emisor” o “FIBHIOS”:</span> <span class="glosario-second">significa la FIBRA constituida por medio del Contrato de Fideicomiso.  </span> </p>


<p> <span class="glosario-main"> FAGFPs:</span> <span class="glosario-second">Fideicomisos de Administración, Garantía y Fuente de Pago, o significan los fideicomisos de administración, garantía y fuente de pago celebrados por las sociedades inmobiliarias u otras entidades, ciertas instituciones fiduciarias y el Fiduciario Emisor para garantizar el cumplimiento del financiamiento inmobiliario otorgado a la sociedad inmobiliaria correspondiente.  </span> </p>


<p> <span class="glosario-main"> Fideicomisos Maestros:</span> <span class="glosario-second">significan los fideicomisos cuyo patrimonio esté conformado por inmuebles premium y por derechos de cobro derivados de los contratos de arrendamiento de dichos inmuebles.  </span> </p>


<p> <span class="glosario-main"> Fideicomitente y Fideicomisario en Segundo Lugar:</span> <span class="glosario-second"> significa FHIPOS Controladora, S.A.P.I. de C.V. </span> </p>


<p> <span class="glosario-main"> Fiduciario Emisor:</span> <span class="glosario-second">Significa CIBanco, S.A., Institución de Banca Múltiple.  </span> </p>


<p> <span class="glosario-main"> Financiamientos Iniciales:</span> <span class="glosario-second">significa aquellos financiamientos inmobiliarios que otorgaremos como parte de nuestras operaciones de formación.  </span> </p>


<p> <span class="glosario-main"> Financiamientos inmobiliarios:</span> <span class="glosario-second">significa los créditos con garantía fiduciaria o hipotecaria otorgados o adquiridos por la Fibra Hipotecaria cuyo destino sea la adquisición o construcción de bienes inmuebles ubicados en México y destinados al arrendamiento, la adquisición del derecho de percibir ingresos provenientes del arrendamiento de dichos bienes inmuebles, así como el refinanciamiento de créditos otorgados para dichos fines.  </span> </p>


<p> <span class="glosario-main"> Gastos de Operación y Mantenimiento:</span> <span class="glosario-second">significa aquellos gastos necesarios para el correcto funcionamiento del desarrollo inmobiliario de que se trate, incluyendo de forma enunciativa mas no limitativa los siguientes conceptos: nómina, contrato de servicios y mantenimiento, insumos, reparaciones, gastos generales de mantenimiento, publicidad, decoración y gastos de mantenimiento de estacionamiento. No se incluyen en esta definición los pagos correspondientes a financiamientos, costos financieros, depreciación y amortización, comisiones, costos legales, entre otros.  </span> </p>


<p> <span class="glosario-main"> Grupo DMI:</span> <span class="glosario-second"> significa Desarrolladora Mexicana de Inmuebles, S.A. de C.V. </span> </p>


<p> <span class="glosario-main"> GSM:</span> <span class="glosario-second"> significa el grupo de empresas, fideicomisos y entidades dirigidas por Javier Sordo Madaleno Bringas que tienen como objeto el desarrollo y administración de desarrollos inmobiliarios en México. </span> </p>


<p> <span class="glosario-main">IASB:</span> <span class="glosario-second">significa el Consejo de Normas Internacionales de Contabilidad (International Accounting Standard Board).  </span> </p>


<p> <span class="glosario-main"> Indeval:</span> <span class="glosario-second"> significa S.D. Indeval, Institución para el Depósito de Valores, S.A. de C.V. </span> </p>


<p> <span class="glosario-main"> Índice de Apalancamiento:</span> <span class="glosario-second">significa el índice de apalancamiento que deberemos de cumplir al momento de asumir cualquier pasivo, préstamo o financiamiento de  conformidad con la Circular Única.  </span> </p>


<p> <span class="glosario-main"> Inmueble:</span> <span class="glosario-second"> significa el centro comercial, o edificio de oficinas o desarrollo industrial, o en su caso, la unidad privativa de la propiedad de un régimen de propiedad en condominio de dichos desarrollos inmobiliarios, en cada caso, catalogado como Inmueble Premium o perteneciente a un Portafolio premium, que sea otorgado en garantía hipotecaria en primer lugar y grado de prelación en favor de la Fibra Hipotecaria o cuya propiedad y titularidad sea aportada a un FAGFP o respecto del cual deriven Derechos Fideicomisarios de Fideicomisos Maestros que sean aportados a un FAGFP, en cada caso, a efecto de garantizar las obligaciones del deudor conforme al Financiamiento Inmobiliario respectivo. </span> </p>


<p> <span class="glosario-main"> Inmuebles Iniciales:</span> <span class="glosario-second">significa los bienes inmuebles, incluyendo derechos fideicomisarios respecto de  los mismos, que garantizarán, respectivamente, cada uno de los Financiamientos Iniciales; en el entendido que, en el caso de ciertos proyectos, los Inmuebles Iniciales serán aquellas unidades privativas que formen parte de un régimen de propiedad en condominio y que sean propiedad exclusiva de la Sociedad Inmobiliaria correspondiente.  </span> </p>


<p> <span class="glosario-main"> INPC:</span> <span class="glosario-second">significa el Índice	Nacional de Precios al Consumidor.  </span> </p>


<p> <span class="glosario-main"> ISR:</span> <span class="glosario-second"> significa el Impuesto sobre la Renta </span> </p>


<p> <span class="glosario-main"> LGTOC:</span> <span class="glosario-second"> significa la Ley General de Títulos y Operaciones de Crédito. </span> </p>


<p> <span class="glosario-main"> Lineamientos de Apalancamiento:</span> <span class="glosario-second"> significa los lineamientos aprobados por el Comité Técnico de conformidad con los cuales el Fideicomiso podrá incurrir en, o asumir, Endeudamientos en cualquier momento y por cualquier motivo. </span> </p>


<p> <span class="glosario-main"> Lineamientos de Financiamiento:</span> <span class="glosario-second">significa los lineamientos aprobados por el Comité Técnico de conformidad con los cuales el Fideicomiso otorgará financiamiento a las Sociedades Inmobiliarias.  </span> </p>


<p> <span class="glosario-main"> LISR:</span> <span class="glosario-second">significa la Ley del Impuesto sobre la Renta.   </span> </p>


<p> <span class="glosario-main"> LMV:</span> <span class="glosario-second"> significa la Ley del Mercado de Valores. </span> </p>


<p> <span class="glosario-main">  Luxury Hall:</span> <span class="glosario-second"> significa el centro comercial localizado en reserva territorial Atlixcáyotl, Puebla. </span> </p>


<p> <span class="glosario-main"> México:</span> <span class="glosario-second"> significa los Estados Unidos Mexicanos. </span> </p>


<p> <span class="glosario-main"> NIIFs:</span> <span class="glosario-second">significa las Normas Internacionales de Información Financiera, “IFRS” por sus siglas en inglés.   </span> </p>


<p> <span class="glosario-main"> NOI:</span> <span class="glosario-second"> significa los Ingresos Operativos Netos (Net Operating Income), los cuales se obtienen de restar a todos aquellos ingresos netos que tenga el proyecto respectivo, las amortizaciones, depreciaciones, intereses e impuestos; en el entendido que, tratándose de créditos garantizados con Derechos Fideicomisarios de Fideicomisos Maestros aportados a un FAGFP, el resultado de la anterior operación deberá ajustarse proporcionalmente al porcentaje que representen los Derechos Fideicomisarios de Fideicomisos Maestros aportados al FAGFP con respecto a la totalidad  de los Derechos Fideicomisarios de Fideicomisos Maestros que representen la totalidad del patrimonio del Fideicomiso Maestro.  </span> </p>


<p> <span class="glosario-main"> Oferta Global:</span> <span class="glosario-second">significa la oferta internacional y la oferta en México de los CBFIs.  </span> </p>


<p> <span class="glosario-main"> Oficinas CIBanco:</span> <span class="glosario-second">significan conjuntamente (i) las tres propiedades que se describen a continuación: (a) el edificio ubicado en Anillo Periférico Sur, número 3343, Col. San Jerónimo Lídice, Del. Magdalena Contreras, C.P. 10200, (b) el edificio denominado “Lomas Plaza” ubicado en Avenida Blvd. Manuel Ávila Camacho, números 50 y 66 (registralmente identificado con el número 50), Col. Lomas de Chapultepec, Del. Miguel Hidalgo, y (c) el edificio  denominado “Puente Palmas III” ubicado en Avenida Paseo de las Palmas, número 215, Col. Lomas de Chapultepec, Delegación Miguel Hidalgo, todas ellas localizadas en México, Distrito Federal; (ii) la propiedad ubicada en Blvd. Adolfo López Mateos, número 2513 (registralmente identificada con el número 2519 “A”), Col. Jardines del Moral, León, Guanajuato; (iii) la propiedad ubicada en Avenida Providencia, número 2390, Fraccionamiento Jardines de Providencia, Guadalajara, Jalisco; y (iv) la propiedad ubicada en el lote de terreno ubicado en la manzana marcada con el número 28, Col. Del Valle, Municipio de San Pedro Garza García, Nuevo León.   </span> </p>


<p> <span class="glosario-main"> Operaciones de Formación:</span> <span class="glosario-second">significa la serie de operaciones en las que participaremos simultáneamente o tan pronto sea posible después de la Oferta Global mismas que resultarán en la  constitución de  nuestro Portafolio Inicial.   </span> </p>


<p> <span class="glosario-main"> Persona:</span> <span class="glosario-second">significa cualquier persona física o persona moral, fideicomiso, asociación en participación, sociedad civil o mercantil, Autoridad Gubernamental o cualquier otra entidad de cualquier naturaleza.  </span> </p>


<p> <span class="glosario-main"> Personas Relacionadas:</span> <span class="glosario-second"> tiene el significado que se le atribuye a dicho término en la LMV. </span> </p>


<p> <span class="glosario-main"> PIB:</span> <span class="glosario-second"> significa el Producto Interno Bruto. </span> </p>


<p> <span class="glosario-main"> Picacho:</span> <span class="glosario-second">significa el centro comercial que será construido en Blvd. Adolfo Ruiz Cortines 3720, Col. Jardines del Pedregal, Delegación Álvaro Obregón, México, Distrito Federal.  </span> </p>


<p> <span class="glosario-main"> Portafolios de Créditos:</span> <span class="glosario-second">significa cualquier financiamiento que otorgue el Fiduciario en cumplimiento de los Fines del Fideicomiso.  </span> </p>


<p> <span class="glosario-main"> Portafolio Inicial:</span> <span class="glosario-second"> significan los 9 contratos de crédito con garantía hipotecaria o fiduciaria, cuyo monto de principal total ascenderá hasta Ps. 9,721 millones, con vencimiento de 30 años y tasa de interés promedio anual fija de 9.329.52%. </span> </p>


<p> <span class="glosario-main"> Portafolio Premium:</span> <span class="glosario-second">Significa el conjunto de 2 (dos) o más créditos otorgados respecto a Inmuebles que, de manera total, conjuntamente: (i) cuenten con un Área Rentable Elegible, (ii) en el caso de los proyectos comerciales, cuenten con una tienda de autoservicio como Ancla, (iii) cuenten con un nivel de ocupación de cuando menos el 80%, y (iv) en su caso, sean administrados por un Administrador Elegible.  </span> </p>


<p> <span class="glosario-main"> Premium:</span> <span class="glosario-second">significa, en cada caso, dependiendo de la clase de inmueble de que se trate, ya sea comercial, o de oficinas y/o industrial, aquellos Inmuebles que por su ubicación, calidad de la construcción, nivel de densidad de visitantes, calidad de los clientes, calidad de los arrendatarios, calidad de las Anclas, nivel de ocupación una vez estabilizados se estime en más del 80%, sean administrador por un Administrador Elegible, o contar con Área Rentable Elegible, entre otras características, y sean calificados por el Valuador Independiente, como “Premium”.  </span> </p>


<p> <span class="glosario-main"> Producto de la Emisión:</span> <span class="glosario-second">significa los recursos que reciba el Fideicomiso derivados de cada emisión de CBFIs por el Fideicomiso.  </span> </p>


<p> <span class="glosario-main"> Programa de Construcción y Presupuesto:</span> <span class="glosario-second"> significa, respecto a Proyectos en Construcción, el programa y presupuesto para la construcción y desarrollo del inmueble correspondiente que, en su caso, se incorpore al Financiamiento Inmobiliario correspondiente, en el que se incluyen, sin limitar, los costos de planeación, diseño, licencias, permisos y derechos, supervisión y control relacionados con la construcción de dicho inmueble. </span> </p>


<p> <span class="glosario-main"> Proyecto en Construcción:</span> <span class="glosario-second"> significa la referencia conjunta a aquellos proyectos cuyo proceso de excavación y/o cimentación ha comenzado, cuyo plazo de construcción no sea mayor a 5 años a partir de la fecha en que el financiamiento respectivo sea otorgado y cuya inauguración es esperada en un plazo superior a 3 meses a partir de la fecha en que el financiamiento respectivo sea otorgado, los cuales, a partir de la fecha de terminación de  construcción, serán considerados como Proyectos en Proceso de Estabilización. </span> </p>


<p> <span class="glosario-main"> Proyecto en Proceso de Estabilización:</span> <span class="glosario-second"> significa la referencia conjunta a aquellos proyectos recién inaugurados (habiendo transcurrido menos de 1 año desde su fecha de inauguración) o en proceso de inauguración (3 meses antes de su inauguración), cuyos arrendatarios Anclas están en proceso de apertura o han sido recientemente abiertos. </span> </p>


<p> <span class="glosario-main"> Proyecto Estabilizado:</span> <span class="glosario-second">significa la referencia conjunta a aquellos proyectos que se encuentran en funcionamiento y operando con normalidad y que cuentan con un nivel de ocupación mayor al 80% del ARB y tienen una afluencia estable.  </span> </p>


<p> <span class="glosario-main"> Renta Base Anualizada:</span> <span class="glosario-second">significa el monto de la renta contractual en términos de un contrato de arrendamiento en un período de 12 meses a ser pagado por el arrendatario, con exclusión de los reembolsos por concepto de gastos de operación de las propiedades, que son gastos pagados por el arrendatario.  </span> </p>


<p> <span class="glosario-main"> Resultado Fiscal:</span> <span class="glosario-second">significa el resultado de restar de la utilidad fiscal del Fideicomiso de un ejercicio fiscal determinado conforme al Título II de la LISR para dicho ejercicio fiscal, las pérdidas fiscales del Fideicomiso de ejercicios fiscales anteriores y pendientes de amortización y la participación de los trabajadores en la utilidad del ejercicio en cuestión.  </span> </p>


<p> <span class="glosario-main"> RNV:</span> <span class="glosario-second"> significa el Registro Nacional de Valores.    </span> </p>


<p> <span class="glosario-main"> SHCP:</span> <span class="glosario-second">  significa la Secretaría de Hacienda y Crédito Público. </span> </p>


<p> <span class="glosario-main"> Siefores:</span> <span class="glosario-second"> significa las sociedades de inversión especializadas de fondos para el retiro. </span> </p>


<p> <span class="glosario-main"> Sociedad Inmobiliaria:</span> <span class="glosario-second">significa cualquier persona que reciba un Financiamiento Inmobiliario.</span> </p>


<p> <span class="glosario-main"> Subanclas:</span> <span class="glosario-second"> significa aquellos arrendatarios que	arriendan superficies considerablemente superiores al resto de los arrendatarios del centro comercial de que se trate, teniendo una influencia relevante sobre la afluencia de visitantes. 	 </span> </p>


<p> <span class="glosario-main"> Tenedores:</span> <span class="glosario-second"> significa los inversionistas tenedores de nuestros CBFIs. </span> </p>


<p> <span class="glosario-main"> UDIs:</span> <span class="glosario-second">significa Unidades de Inversión.  </span> </p>


<p> <span class="glosario-main"> Universidad:</span> <span class="glosario-second">significa el centro comercial localizado en Avenida Universidad  1000,  Sta.  Cruz  Atoyac, C.P. 03310, México, Distrito Federal.  </span> </p>


<p> <span class="glosario-main"> Valuador Independiente:</span> <span class="glosario-second">significa significa la persona contratada como tal por el Fiduciario en seguimiento de las instrucciones del Comité Técnico.  </span> </p>


          <br/>

        </div>

        <!-- Menu complementario en 3md -->
        <%= erb :"layouts/ri-sidebar" %>


      </div>
      <!-- end row -->
      <div class="clearfix"></div>
    </div>
  </section>

  <!--Contenido END -->



  <%= erb :"layouts/parallax-mensaje1" %>

  <%= erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"layouts/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>