<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Nuestro perfil</h2>

        <ul class="breadcrumb">

          <li><a href="#">Inversionistas</a></li>

          <li>FIBHIOS</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <h3>FIBHIOS FIBRA Hipotecaria</h3>
                     <p>FIBHIOS es un fideicomiso inmobiliario hipotecario que busca constituir un portafolio de créditos  respaldado por garantías hipotecarias o fiduciarias de inmuebles comerciales, centros comerciales y desarrollos de oficinas, estratégicamente ubicados y catalogados como premium, en regiones de alto potencial económico en México. </p> 
                        <p>Buscamos consolidar nuestro portafolio de créditos mediante el otorgamiento de financiamientos para la adquisición o construcción de bienes inmuebles destinados al arrendamiento, o a la adquisición del derecho a percibir ingresos provenientes del arrendamiento.</p> 
                        <p>El éxito de nuestro modelo de negocios estará ligado a la gestión de nuestro Administrador, FHIPOS Controladora, S.A.P.I. de C.V., así como a la experiencia en operación de los administradores de inmuebles iniciales, Grupo Sordo Madaleno y Grupo DMI, que en conjunto han desarrollado más de 24 millones de metros cuadrados de área rentable en México.</p>
                        <p>Consideramos que los inmuebles iniciales que respaldarán nuestro portafolio de créditos cuentan con una expresión arquitectónica vistosa y diferenciada que les brinda una gran ventaja competitiva, que aunada a nuestro sólido gobierno corporativo y controles prudenciales abonan a un robusto perfil de nuestros activos.
                         </p>
                         <br>
                </div>
                <!-- Menu complementario en 3md -->
               <%= erb :"layouts/ri-sidebar" %>
               
              
           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"layouts/parallax-mensaje1" %>

  <%= erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>