<!DOCTYPE html>
<html lang="en">
<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Nuestro perfil</h2>

        <ul class="breadcrumb">

          <li><a href="#">Inversionistas</a></li>

          <li>Perfil</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <h3>FIBHIOS FIBRA Hipotecaria</h3>
                     <p>FIBHIOS es un fideicomiso inmobiliario hipotecario que busca constituir un portafolio de créditos  respaldado por garantías hipotecarias o fiduciarias de inmuebles comerciales, centros comerciales y desarrollos de oficinas, estratégicamente ubicados y catalogados como premium, en regiones de alto potencial económico en México. </p> 
                        <p>Buscamos consolidar nuestro portafolio de créditos mediante el otorgamiento de financiamientos para la adquisición o construcción de bienes inmuebles destinados al arrendamiento, o a la adquisición del derecho a percibir ingresos provenientes del arrendamiento.</p> 
                        <p>El éxito de nuestro modelo de negocios estará ligado a la gestión de nuestro Administrador, FHIPOS Controladora, S.A.P.I. de C.V., así como a la experiencia en operación de los administradores de inmuebles iniciales, Grupo Sordo Madaleno y Grupo DMI, que en conjunto han desarrollado más de 24 millones de metros cuadrados de área rentable en México.</p>
                        <p>Consideramos que los inmuebles iniciales que respaldarán nuestro portafolio de créditos cuentan con una expresión arquitectónica vistosa y diferenciada que les brinda una gran ventaja competitiva, que aunada a nuestro sólido gobierno corporativo y controles prudenciales abonan a un robusto perfil de nuestros activos.
                         </p>
                </div>
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <div class="widget">
                          <div class="title">
                                <h3>Search <span class="font-light">Something</span></h3>
                                <p>Morbi congue turpis sollicitudin non bibendum velit pellentesque. Fusce lacinia tempor malesuada duis quis tellus sollicitudin mauris</p>
                          </div><!-- end title -->
                      </div>
                      <div class="widget">
                            <form action="#" class="search_form">
                                <input type="text" class="form-control" placeholder="Search">     
                            </form><!-- end search form -->
                      </div>
                              
                      <div class="widget">
                        <div class="title">
                         <h3>What's <span class="font-light">Hot</span></h3>
                        </div><!-- end title -->
                     <ul class="recent_posts_widget">
                        <li>
                          <a href="#"><img src="images/blog/side-post.jpg" alt="" />Gateway To Touch The Blue Sky</a><br/>
                          June 15, 2014
                           <div class="rating">
                              <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                            <a href="#"><img src="images/blog/side-post.jpg" alt="" />Summer Vocation With Nature</a><br/>
                            June 15, 2014
                           <div class="rating">
                              <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                           <a href="#"><img src="images/blog/side-post.jpg" alt="" />Forever Young And Unstopable</a><br/>
                            June 15, 2014
                           <div class="rating">
                              <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                            <a href="#"><img src="images/blog/side-post.jpg" alt="" />Something Good Work</a><br/>
                            June 15, 2014
                           <div class="rating">
                              <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        </li>
                           </ul><!-- recent posts -->  
                     </div><!-- end widget -->
                      
                     <div class="widget">
                        <div class="title">
                        <h3>Tabbed <span class="font-light">Widget</span></h3>
                     </div><!-- end title -->
                    <div id="tabbed_widget" class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#recent" data-toggle="tab">RECENT</a></li>
                            <li><a href="#new" data-toggle="tab">POPULAR</a></li>
                            <li><a href="#commentstab" data-toggle="tab">COMMENTS</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="recent">
                                <ul class="recent_posts_widget">
                                    <li>
                                    <a href="#"><img src="/images/blog/tabbed_widget.jpg" alt="" />Recent Post One</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                        <a href="#"><img src="images/blog/tabbed_widget.jpg" alt="" />Recent Post Two</a><br/>
                                        June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle-o"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                    <a href="#"><img src="/images/blog/tabbed_widget.jpg" alt="" />Recent Post Three</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle-o"></i>
                                        </div><!-- rating -->
                                    </li>
                                </ul><!-- recent posts -->  
                            </div>
                            <div class="tab-pane" id="new">
                                <ul class="recent_posts_widget">
                                    <li>
                                    <a href="#"><img src="/images/blog/tabbed_widget.jpg" alt="" />Popular Post One</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                        <a href="#"><img src="/images/blog/tabbed_widget.jpg" alt="" />Popular Post Two</a><br/>
                                        June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                    <a href="#"><img src="i/mages/blog/tabbed_widget.jpg" alt="" />Popular Post Three</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle-o"></i>
                                        </div><!-- rating -->
                                    </li>
                                </ul><!-- recent posts -->  
                            </div>
                            <div class="tab-pane" id="commentstab">
                                <ul class="recent_posts_widget">
                                    <li>
                                    <a href="#"><img src="/images/blog/man.png" width="75" alt="">Comment Post One</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle-o"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                        <a href="#"><img src="/images/blog/woman.png" width="75" alt="">Comment Post Two</a><br/>
                                        June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle-o"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                    <a href="#"><img src="/images/blog/man.png" width="75" alt="">Comment Post Three</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle-o"></i>
                                        </div><!-- rating -->
                                    </li>
                                </ul><!-- recent posts -->  
                         </div><!-- end tab content -->
                    </div><!-- end tab pane -->
                     </div><!-- end widget -->
                </div>
               
              
           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"layouts/numeros-destacados" %>

  <% erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->


<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>