<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


<!--Breadcump-->
<section class="wrapper-pgtitle">
  <div class="container">
    <div class="calloutbread">

      <h2>Asamblea de Tenedores</h2>

      <ul class="breadcrumb">

        <li><a href="#">Inversionistas</a></li>

        <li>Información bursátil</li>

      </ul>
    </div>
  </div>


  <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
    <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
  </a></div>
</section>
<!--Breadcump END-->


<!--Contenido -->
<section id="contenido" class="white-wrapper">
  <div class="container">
    <div class="row">
      <br>

      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

        <h3>Asamblea de Tenedores</h3>


        <p>Se celebrará una Asamblea Ordinaria de Tenedores por año, en fechas anteriores al 30 de abril, donde se resolverán:</p>

        <ul class="ck-po">
          <li>Aprobaciones sobre cualquier inversión, desinversión o adquisición que represente el 20% o más del valor contable de los bienes</li>
          <li>Aprobar cualquier cambio en el régimen y políticas de inversión</li>
          <li>Aprobar emisiones adicionales de CBFs</li>
        </ul>

<p>En caso de que se necesiten resolver temas urgentes y estratégicos de negocio se podrá convocar a una Asamblea Extraordinaria, sin fecha preestablecida, para resolver:</p>

        <ul class="ck-po">
          <li>Operaciones con personas relacionadas</li>
          <li>Aprobar políticas generales de contratación o asunción de pasivos</li>
          <li>Aprobar la remoción, con o sin causa, del Administrador Externo</li>
        </ul>

        <br/>

      </div>

      <!-- Menu complementario en 3md -->
      <%= erb :"layouts/ri-sidebar" %>


    </div>
    <!-- end row -->
    <div class="clearfix"></div>
  </div>
</section>

<!--Contenido END -->



<%= erb :"layouts/parallax-mensaje1" %>

<%= erb :"layouts/prospecto" %>

<%= erb :"layouts/twitter" %>

<%= erb :"layouts/footer" %>

<%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"layouts/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>