<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"es/layouts/generales/head" %>

<body>

<%= erb :"es/layouts/generales/preloader" %>

<%= erb :"es/layouts/generales/topbar" %>

<%= erb :"es/layouts/generales/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>  Andares  </h2>

        <ul class="breadcrumb">

          <li><a href="#"> Portafolio </a></li>

          <li>Propiedades relacionadas</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 single-portfolio">


          <!--Parte de Imagenes-->
          <div class="col-sm-4 padding-top">
            <div class="portfolio_item">

              <!--imagen grande-->
              <div class="entry">
                <img src="/images/fibhios/propiedades/Andares/andaresx380.jpg" alt="" class="img-responsive">
              </div>

              <!--thumnails-->
              <div class="thumbnails clearfix">

                <!--1er thumnail-->
                <div class="entry first">
                  <img class="img-responsive" src="/images/fibhios/propiedades/Andares/andaresx112a.jpg" alt="">


                </div>

                <!--2do thumnail-->
                <div class="entry">
                  <img class="img-responsive" src="/images/fibhios/propiedades/Andares/andaresx112b.jpg" alt="">

                </div>

                <!--3er thumnail-->
                <div class="entry last">
                  <img class="img-responsive" src="/images/fibhios/propiedades/Andares/andaresx112c.jpg" alt="">


                </div>

              </div>
              <!-- /botones de propiedades -->
              <div class="text-center">
              <br>
              <div class="btn-group">
                <a href="/es/propiedades/antara"><button type="button" class="btn btn-primary-bd">Propiedad anterior</button></a>
                <a href="/es/propiedades/luxury-hall"><button type="button" class="btn btn-primary-bd">Siguiente propiedad</button></a>
              </div>
              </div>
              <!-- /botones de propiedades -->
            </div>
          </div>
          <!--Parte de Imagenes END-->



          <!--Parte de Texto-->
          <div class="col-sm-8 padding-left-40">
            <div class="product_details">

              <!--titulo-->
              <h3>Andares en números</h3>

              <!--tablita-->
              <ul>
                <li><strong>Año de construcción:</strong>                2008</li>
                <li><strong>AR: </strong>                               111,541 m²</li>
                <li><strong>AR Privativo*:</strong>                     111,541 m²</li>
        <li><strong>Administrador del inmueble: </strong>                Grupo DMI</li>
                <li><strong>Afluencia anual de visitantes: </strong>     11.9 millones</li>
                <li><strong>Principales arrendatarios: </strong>         Palacio de Hierro, Liverpool, Cinépolis y Playcity</li>
              </ul>
              <p class="legenda">*Área rentable de la unidad privativa acreedora del crédito (garantía) </p>
            </div>

            <!--texto de descripcion-->
            <p>Andares es un mega-desarrollo premium de uso mixto (residencial, comercial y de oficinas), con más de 13.3 hectáreas de extensión, 111,541 m² de AR y 100% de ocupación. Ubicado en Guadalajara, Jalisco, Andares cuenta con el mayor centro comercial del occidente mexicano, 9 torres de departamentos, 2 torres de corporativos de negocios, un hotel de categoría gran turismo con residencias y una torre de usos mixtos. </p>

            <p>Andares, que es administrado por Grupo DMI, y fue diseñado por GSM, ha sido desde su apertura un emblema arquitectónico de la ciudad de Guadalajara. </p>

          </div>
          <!--Parte de Texto-->


          <div class="clearfix"></div>

        </div>
      </div>
      <br>
    </div>
  </section>

  <!--Contenido END -->



  <%= erb :"es/layouts/contenido/numeros-destacados" %>

  <%= erb :"es/layouts/contenido/prospecto" %>

  <%= erb :"es/layouts/generales/twitter" %>

  <%= erb :"es/layouts/generales/footer" %>

  <%= erb :"es/layouts/generales/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"es/layouts/contenido/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"es/layouts/contenido/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"es/layouts/contenido/js-contenidos" %>


</body>
</html>
