<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"es/layouts/generales/head" %>

<body>

<%= erb :"es/layouts/generales/preloader" %>

<%= erb :"es/layouts/generales/topbar" %>

<%= erb :"es/layouts/generales/header" %>

<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Nuestro Administrador</h2>

        <ul class="breadcrumb">

          <li><a href="#">Inversionistas</a></li>

          <li>Gobierno corporativo</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
  <div class="container">
  <div class="row">
  <br>

  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">


  <h3>Nuestro Administrador</h3>

  <p>FIBHIOS estará administrada por FHIPOS, que estará constituida como una Sociedad Anónima Promotora de Inversión (SAPI), pero que adoptará ciertos principios de gobierno corporativo de una Sociedad Anónima Bursátil, fortaleciendo así la estructura de gobierno corporativo global presente en la administración de FIBHIOS.</p>

  <p>FHIPOS contará con un Consejo de Administración, que estará integrado hasta por 21 miembros, de los cuales por lo menos 25% tendrán el carácter de independientes.</p>
  <p>El siguiente cuadro muestra la integración del Consejo de Administración de FHIPOS:</p>
    <table class="display table table-bordered table-striped">
      <thead>
      <tr>
        <th>
          Miembro
      </th>
      <th>
        Posición
    </th>

      </tr>
    </thead>
      <tbody>
      <tr>
        <td>Javier Sordo Madaleno Bringas
        </td>
        <td>Presidente
        </td>
      </tr>
      <tr>
        <td>
         Luis Miguel Osio Barroso
        </td>
        <td>Consejero Titular
          </td>
      </tr>
      </tr>
      <tr>
        <td>
          Xavier Osio Buch
          </td>
        <td>Consejero Titular
        </td>
      </tr>
      <tr>
        <td>
          José Juan Sordo Madaleno de Haro
          </td>
        <td>Consejero Titular
        </td>
      </tr>
      <tr>
        <td>
          Javier Sordo Madaleno de Haro
          </td>
        <td>Consejero Titular
        </td>
      </tr>

      <tr>
        <td>
          Jose E. Manuel Martínez Vertiz M.*
          </td>
        <td>Consejero Suplente
        </td>
      </tr>
      <tr>
        <td>
          Luis Miguel Osio Buch
          </td>
        <td>Consejero Suplente
        </td>
      </tr>
      <tr>
        <td>
          Jerónimo Osio Buch
         </td>
        <td>Consejero Suplente
        </td>
      </tr>
      <tr>
        <td>
          Fernando Sordo Madaleno de Haro
          </td>
        <td>Consejero Suplente
        </td>
      </tr>
      <tr>
        <td>

          Santiago de Haro Pérez Teuffer*</td>
        <td>Consejero Suplente
        </td>
      </tr>


      </tbody>
    </table>
    <p class="legenda">* Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.<br>
      Carlos Creel Carrera y Claudia Bennett Pallás se desempeñan como Secretario y Pro-Secretario, respectivamente.
    </p>
    <div class="row">

      <!--imagen-->
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
        <div class="team_member padding-top">
          <div class="entry">
            <img class="img-responsive" src="/images/fibhios/directivos/JavierSordoMadaleno.jpg" alt="">

            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
                <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/5355973" target="_blank"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--texto-->
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div class="team_member">
          <h1>Javier Sordo Madaleno Bringas</h1>

          <p>Actualmente es Presidente de Grupo Sordo Madaleno y del despacho Sordo Madaleno Arquitectos, fundado en 1937
            por su padre Juan Sordo Madaleno. Durante sus más de 40 años de experiencia en el sector inmobiliario ha
            proyectado y construido millones de metros cuadrados en todo tipo de proyectos, tales como, residenciales,
            edificios de departamentos, conjuntos habitacionales, oficinas, edificios públicos, iglesias, salas
            cinematográficas, desarrollos turísticos, hospitales, hoteles, centros comerciales, museos, restaurantes,
            clubes, entre otros. Es socio de la Sociedad Mexicana de Arquitectos, integrante del Patronato del Teletón y
            miembro del Colegio de Arquitectos de México, de la Academia Nacional de Arquitectura y de la Asociación de
            Desarrolladores Inmobiliarios. Asimismo, es consejero del Club de Industriales, de Hoteles Intercontinental y de
            importantes centros comerciales, tales como, Plaza Satélite, Plaza Universidad, Antara y Angelópolis. Entre los
            reconocimientos más recientes otorgados al señor Sordo Madaleno se encuentran, el Galardón Nacional “Ocho
            Columnas” en la categoría de Artes, otorgado en 2010, el Premio “Trayectoria Profesional de Excelencia”,
            otorgado en 2011, por el Consejo Iberoamericano de Diseñadores de Interiores A.C. (CIDI), el Premio Anual de
            Arquitectura e Interiorismo, otorgado en 2012 por Grupo Porcelanosa, el Reconocimiento especial por su
            “Trascendencia como Arquitecto Desarrollador”, otorgado en 2012 por el Colegio de Arquitectos de Nuevo León, el
            Premio a su “Trayectoria”, otorgado en 2012 por la Asociación Mexicana de Diseñadores de Interiores (AMDI) y el
            Premio “Trayectoria 2013”, otorgado en 2013 por el Colegio de Arquitectos de la Ciudad de México y la Sociedad
            de Arquitectos Mexicanos (CAM-SAM), entre otros. Es egresado de la facultad de Arquitectura de la Universidad
            Iberoamericana.</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">

      <!--imagen-->
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
        <div class="team_member padding-top">
          <div class="entry">
            <img class="img-responsive" src="/images/fibhios/directivos/MiguelOsioBarroso.jpg" alt="">

            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
                <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/5355973" target="_blank"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--texto-->
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div class="team_member">
          <h1>Luis Miguel Osio Barroso </h1>

          <p>Actualmente es miembro propietario del Consejo de Administración de CIBanco, CI Casa de Bolsa y
            Finanmadrid S.A. de C.V. El Sr. Osio desempeña el cargo de consejero delegado y es miembro del Comité
            Ejecutivo de CIBanco y todas las empresas del Grupo CI. Desde abril del 2001 a la fecha desempeña el
            cargo de Consejero Propietario de Protel I-Next y MOBILOFFICE, S.A. DE C.V. empresas concesionarias de
            telefonía fija, y también es socio fundador y consejero delegado de diversos proyectos inmobiliarios
            residenciales y turísticos en conjunto con Central de Arquitectura S.C., empresa dedicada a desarrollos
            inmobiliarios. De febrero de 1995 al 2001, fue Vicepresidente Ejecutivo y socio fundador de Ixe Grupo
            Financiero, Ixe Banco S.A., Ixe Casa de Bolsa, S.A. de C.V. De 1994 a 1995, desempeñó los cargos de
            socio fundador y director ejecutivo de Grupo Financiero FIMSA, Casa de Bolsa FIMSA, S.A. de C.V. De 1987
            a 1993 ocupó el cargo de Presidente, así como socio fundador de Grupo Fin S.A. de C.V., Factor Fin S.A.
            de C.V. (ahora Ixe Factoraje). Es egresado de la Universidad Anáhuac de la Licenciatura en
            Administración de Empresas.</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">

      <!--imagen-->
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
        <div class="team_member padding-top">
          <div class="entry">
            <img class="img-responsive" src="/images/fibhios/directivos/XavierOsio.jpg" alt="">

            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
                <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/5355973" target="_blank"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--texto-->
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div class="team_member">
          <h1>Xavier Osio Buch </h1>

          <p>El Sr. Osio Buch cuenta con experiencia en el sector financiero, principalmente en las áreas de Gestión
            Comercial, Planeación y Presupuestos, ha desempeñado diversos cargos en CIBanco desde 2010, actualmente
            tiene a su cargo el área de Gestión de Banca Comercial en CIBanco con la responsabilidad de desarrollar
            estrategias de crecimiento y planeación presupuestal de la red de sucursales a nivel nacional. De igual
            manera, participa en el Comité de Tasas e Implementación Bancaria de la Institución. El Sr. Osio Buch
            también es socio Fundador y miembro del Consejo de Administración de Lusitano FG SOFOM, empresa
            especializada en el otorgamiento de crédito a personas físicas y morales con una cartera de más de 200 MDP.
            El Sr. Osio Buch se graduó como Licenciado en Administración de la Universidad Anáhuac.</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">

      <!--imagen-->
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
        <div class="team_member padding-top">
          <div class="entry">
            <img class="img-responsive" src="/images/fibhios/directivos/JuanSordo.jpg" alt="">

            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
                <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/5355973" target="_blank"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--texto-->
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div class="team_member">
          <h1> José Juan Sordo Madaleno de Haro </h1>

          <p> Se ha desempeñado como Director Financiero y de Desarrollo Inmobiliario en Grupo Sordo Madaleno (GSM). En 2014
            dirigió la adquisición de 2 proyectos de usos mixtos por un monto superior a los Ps.5,000 millones, logrando
            obtener financiamientos para estos proyectos por Ps.3,250 millones, a través de diversas instituciones
            financieras. Es también miembro del Consejo de Administración de diversos centros comerciales, entre ellos
            Antara, Angelópolis, Plaza Universidad, Plaza Satélite, desde 2010 ha sido responsable de estructurar todos los
            financiamientos de GSM, logrando en 2010 refinanciar el 100% de su deuda bancaria con diferentes acreedores.
            Adicionalmente, es fundador de dos fondos privados de inversión inmobiliaria que han levantado capital por más
            de US$500 millones. De 2007 a 2009, participó en la empresa IDEAL de Grupo CARSO, en el área de valuación y
            análisis de proyectos. Es Licenciado en Administración Financiera por el Instituto Tecnológico de Estudios
            Superiores de Monterrey. </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row">

      <!--imagen-->
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
        <div class="team_member padding-top">
          <div class="entry">
            <img class="img-responsive" src="/images/fibhios/directivos/JavierSordo.jpg" alt="">

            <div class="magnifier">
              <div class="buttons">
                <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
                <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/5355973" target="_blank"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--texto-->
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div class="team_member">
          <h1> Javier Sordo Madaleno de Haro </h1>

          <p>Ingresó a Sordo Madaleno Arquitectos en 2005 como Arquitecto Diseñador bajo el entrenamiento y supervisión
            de su padre, Javier Sordo Madaleno Bringas. Durante esta primera etapa trabajó en varios proyectos entre los
            cuales destaca Andares, proyecto de usos mixtos y de gran escala ubicado en Guadalajara, Jalisco. Habiendo
            desempeñando muchos retos en alto diseño arquitectónico, en el año 2008 se convierte en Director de
            Proyectos teniendo bajo su responsabilidad proyectos como el Hotel Solaz en Los Cabos, Hotel Auberge en
            Cozumel, el Museo METS, el concurso para la torre Bancomer entre muchos otros. Javier, actualmente, tiene
            bajo su supervisión más de 35 proyectos que suman alrededor de 2 millones de metros cuadrados. A lo largo de
            su dirección se han llevado a cabo proyectos como Antea en Querétaro, Midtown en Jalisco, Angelópolis,
            Luxury Hall en Puebla, Parque Toreo, Residencial Artesia, Andamar en Veracruz, los hoteles Hyatt Playa del
            Carmen y Hyatt Guadalajara entre muchos otros. Cursó la Licenciatura en Arquitectura por la Universidad
            Iberoamericana.</p>
        </div>

      </div>
      <h1>Comités</h1>
<p>FHIPOS ha constituido comités duales a la estructura de FIBHIOS para una óptima gestión.</p>
<br>
      <div class="clearfix"></div>
    </div>

  </div>

  <!-- Menu complementario en 3md -->
  <%= erb :"es/layouts/ri/ri-sidebar" %>


  </div>
  <!-- end row -->
  <div class="clearfix"></div>
  </div>
  </section>

  <!--Contenido END -->



  <%= erb :"es/layouts/ri/parallax-mensaje1" %>

  <%= erb :"es/layouts/contenido/prospecto" %>

  <%= erb :"es/layouts/generales/twitter" %>

  <%= erb :"es/layouts/generales/footer" %>

  <%= erb :"es/layouts/generales/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"es/layouts/contenido/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"es/layouts/contenido/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"es/layouts/contenido/js-contenidos" %>


</body>
</html>
