<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"es/layouts/generales/head" %>

<body>

<%= erb :"es/layouts/generales/preloader" %>

<%= erb :"es/layouts/generales/topbar" %>

<%= erb :"es/layouts/generales/header" %>

<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Nuestro Administrador</h2>

        <ul class="breadcrumb">

          <li><a href="#">Inversionistas</a></li>

          <li>Gobierno corporativo</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
  <div class="container">
  <div class="row">
  <br>

  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">


  <h3>Nuestro Administrador</h3>

  <p>FIBHIOS estará administrada por FHIPOS, que estará constituida como una Sociedad Anónima Promotora de Inversión (SAPI), pero que adoptará ciertos principios de gobierno corporativo de una Sociedad Anónima Bursátil, fortaleciendo así la estructura de gobierno corporativo global presente en la administración de FIBHIOS.</p>

  <p>FHIPOS contará con un Consejo de Administración, que estará integrado hasta por 21 miembros, de los cuales por lo menos 25% tendrán el carácter de independientes.</p>

  <p>Para apoyar las labores de su Consejo de Administración, FHIPOS instituirá comités con funciones específicas que hacen las veces de una estructura dual a los comités de FIBHIOS, con la intención de un mayor control y escrutinio, y óptima alineación en la ejecución de estrategias y lineamentos de FIBHIOS con FHIPOS.</p>



<h3>Comités</h3>

<p>FHIPOS ha constituido comités duales a la estructura de FIBHIOS para una óptima gestión.</p>


    <h3>Comité Ejecutivo (CE)</h3>

    <p>El Administrador contará con un Comité Ejecutivo, el cual será un órgano delegado del Consejo de Administración y
      tendrá facultades para tomar decisiones respecto de las actividades del Administrador, que deberán ser
      consistentes con las decisiones y manuales u otros pronunciamientos aprobados por el Consejo de Administración,
      apoyará al Comité de Crédito e Inversión de Fibhios a vigilar la situación del Portafolio de Créditos, hará del
      conocimiento del Consejo o del Comité de que se trate cualquier situación relevante, podrá convocar a cualquier
      Comité así como al Consejo y llevará a cabo cualesquiera otros actos que específicamente le delegue el Consejo de
      Administración.</p>

    <p>El Comité Ejecutivo estará compuesto por un mínimo de 5 (cinco) miembros y un máximo de 7 (siete). El Comité
      Ejecutivo se reunirá mensualmente, aunque podrá reunirse en cualquier momento en caso de que se requiriera
      atención especial o inmediata.</p>
    <p>El siguiente cuadro muestra la composición del Comité Ejecutivo:</p>
    <table class="display table table-bordered table-striped">
      <thead>
      <tr>
        <th>
          Comité Ejecutivo (CE)
        </th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>Luis Miguel Osio Barroso**
          </td>
        </tr>
      <tr>
        <td>Javier Sordo Madaleno Bringas
        </td>
      </tr>
      </tr>
      <tr>
        <td>
          Jose Juan Sordo Madaleno de Haro</td>
      </tr>
      <tr>
        <td>
          Luis A. Nicolau Gutierrez*</td>
      </tr>
      <tr>
        <td>
          Joaquín López-Doriga L.*</td>
      </tr>


      </tbody>
    </table>
    <p class="legenda">*Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.<br>
      **Presidente del CE<br>
      *** Secretario del CE</p>




  </div>

  <!-- Menu complementario en 3md -->
  <%= erb :"es/layouts/ri/ri-sidebar" %>


  </div>
  <!-- end row -->
  <div class="clearfix"></div>
  </div>
  </section>

  <!--Contenido END -->



  <%= erb :"es/layouts/ri/parallax-mensaje1" %>

  <%= erb :"es/layouts/contenido/prospecto" %>

  <%= erb :"es/layouts/generales/twitter" %>

  <%= erb :"es/layouts/generales/footer" %>

  <%= erb :"es/layouts/generales/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"es/layouts/contenido/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"es/layouts/contenido/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"es/layouts/contenido/js-contenidos" %>


</body>
</html>
