<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"es/layouts/generales/head" %>

<body>

<%= erb :"es/layouts/generales/preloader" %>

<%= erb :"es/layouts/generales/topbar" %>

<%= erb :"es/layouts/generales/header" %>

<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Comités</h2>

        <ul class="breadcrumb">

          <li><a href="#">Inversionistas</a></li>

          <li>Gobierno corporativo</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <h3>Nuestros Comités</h3>

                  <p>FIBHIOS cuenta con una estructura de gobierno corporativo acorde a los estándares internacionales e incluso superiores a lo que establece la Ley del Mercado de Valores para las sociedades anónimas bursátiles de capital variable. Lo anterior, a efecto de procurar transparencia y efectividad en su gestión como Fideicomiso Bursátil Hipotecario, a la par de alinear los incentivos del Administrador Externo con el de los tenedores de certificados.</p>
                  <p>El siguiente diagrama muestra la estructura de los órganos de gestión de FIBHIOS:</p>
                  <img src="/images/fibhios/contenidos/comites.jpg" class="img-responsive center-block">
                  <h3>Comité de Compensaciones</h3>
                      <p>El Comité Técnico nombrará de entre sus miembros a 3 integrantes, de los cuales 1 deberá ser miembro independiente, para formar el Comité de Compensaciones, que tendrá las siguientes funciones:</p>
                      <ul class="ck-po">
                      <li>Revisar criterios de compensación y honorarios del Administrador Externo, miembros del Comité Técnico (incluyendo miembros independientes), y cualquier tercero relevante</li>
                      <li>Evaluar el desempeño de los miembros del Comité Técnico</li>
                      <li>Identificar y evaluar candidatos para elección como miembros del Comité Técnico</li>
                      <li>Hacer recomendaciones al Administrador y a la Asamblea de Tenedores en relación con personas a ser electas, nombradas o removidas como miembros del Comité Técnico</li>
                      <li>Proponer a la Asamblea de Tenedores la contraprestación a ser pagada a los miembros independientes del Comité Técnico</li>
                      <li>Recomendar criterios para la selección de nuevos miembros del Comité Técnico, directivos o asesores externos</li>
                    </ul>
                      <p>El siguiente diagrama muestra la composición de nuestro Comité de Compensaciones:</p>
                      <table class="display table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>
                          Comité de Compensaciones (CC)
                        </th>

                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>Luis Miguel Osio Barroso**</td>
                          </tr>
                           <tr>
                            <td>José Juan Sordo Madaleno de Haro</td>
                          </tr>
                          <tr>
                            <td>Salvador Arroyo Rodríguez*</td>
                          </tr>
                          <tr>
                            <td>Emilio Aarún Cordero***</td>
                          </tr>
                        </tbody>
                        </table>
                        <p class="legenda">
                        *Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.<br>
                        **Presidente del CC<br>
                        ***Secretario del CC<br>
                      </p>
                      <h3>Comité de Crédito e Inversión (Riesgo)</h3>
                        <p>El Comité Técnico deberá nombrar a un número impar, igual o superior a 7 miembros, para formar el Comité de Crédito e Inversión; en el entendido, que cuando al menos 3 de los miembros deberán ser independientes. El Comité de Crédito e Inversión será responsable de diseñar, estructurar y aprobar los lineamientos respecto de las actividades de otorgamiento y adquisición de créditos del Fideicomiso, así como operaciones específicas de otorgamiento o adquisición de créditos, sujeto a lo señalado y, en su caso, aprobado por la Asamblea de Tenedores o el Comité Técnico. Entre dichos lineamientos el Comité de Crédito e Inversión deberá aprobar:</p>
                        <ul class="ck-po">
                        <li>Políticas de crédito, sujeta a los lineamientos de financiamiento</li>
                        <li>Políticas de tesorería e inversión, sujeta a los lineamientos de inversión</li>
                      </ul>
                        <p>El siguiente diagrama muestra la composición de nuestro Comité de Crédito e Inversión:</p>
                        <table class="display table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>
                          Comité de Crédito e Inversión (CCI)
                        </th>

                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>Luis Miguel Osio Barroso</td>
                          </tr>
                           <tr>
                            <td>Javier Sordo Madaleno Bringas</td>
                          </tr>
                          <tr>
                            <td>José Juan Sordo Madaleno de Haro</td>
                          </tr>
                          <tr>
                            <td>Eduardo Leaño Espinosa</td>
                          </tr>
                          <tr>
                            <td>Fernando Chico Pardo*</td>
                          </tr>
                          <tr>
                            <td>Manuel Somoza Alonso*</td>
                          </tr>
                          <tr>
                            <td>José Carlos Silva Sánchez Gavito*</td>
                          </tr>
                          <tr>
                            <td>Luis Nicolau Gutiérrez*</td>
                          </tr>
                          <tr>
                            <td>Salvador Arroyo Rodríguez* **</td>
                          </tr>
                          <tr>
                            <td>Emilio Aarún Cordero***</td>
                          </tr>
                        </tbody>
                        </table>
                        <p class="legenda">
                        *Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.<br>
                        **Presidente del CCI<br>
                        *** Secretario del CCI<br>
                        </p>
                        <h3>Comité de Auditoria</h3>
                        <p>El Comité Técnico nombrará de entre sus miembros a 6  integrantes, de los cuales 3 deberán ser  miembros independientes, para que formen el Comité de Auditoría, mismo que tendrá las siguientes funciones:</p>
                        <ul class="ck-po">
                        <li>Evaluar el desempeño de nuestro auditor externo, sus opiniones, informes y documentos, y celebrar al menos una sesión por cada ejercicio fiscal</li>
                        <li>Discutir los estados financieros, y en caso de  ser  aplicable,  recomendar  al  Comité  Técnico  que  los  estados  financieros  anuales  auditados  sean presentados a la Asamblea de Tenedores para su aprobación</li>
                        <li>Solicitar del Administrador, el Fiduciario o de cualquier tercero, reportes relativos a la preparación de los estados financieros del Fideicomiso</li>
                        <li>Investigar cualquier posible violación a los lineamientos, políticas, controles internos y prácticas de auditoría </li>
                        <li>Llevar a cabo los nombramientos de los funcionarios que sean necesarios, para llevar a cabo las actividades de control interno del Fideicomiso Bursátil Hipotecario</li>
                        <li>Recibir cualquier comentario o queja de los tenedores, acreedores, miembros del Comité Técnico, el  Administrador  o  cualquier  otro  tercero  interesado  en los  lineamientos, políticas,  controles  internos  y  prácticas  de  auditoría aprobadas, y en cuyo caso adoptar las medidas necesarias para investigar y remediar dicha violación</li>
                        <li>Reunirse según se considere apropiado con los funcionarios correspondientes del Administrador, Representante Común y el Fiduciario</li>
                        <li>Revisar que las operaciones con partes relacionadas se hayan llevado a cabo conforme a los términos del Contrato de Fideicomiso, el Contrato de Administración y la legislación aplicable</li>
                        <li>Discutir y en su caso, recomendar la aprobación de las políticas contables aplicables al Fideicomiso, o cualesquier cambio de las mismas, al Comité Técnico</li>
                        <li>Informar al Comité Técnico del estado del control interno de los procedimientos de auditoría y cumplimiento, incluyendo la existencia de cualquier irregularidad</li>
                        <li>Conocer y, en su caso, aprobar cualquier otro hecho o acto relacionado a los anteriores</li>
                        </ul>
                        <p>El siguiente diagrama muestra la composición de nuestro Comité de Auditoría: </p>
                        <table class="display table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>
                          Comité de Auditoría (CA)
                        </th>

                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>Luis Miguel Osio Barroso**</td>
                          </tr>
                           <tr>
                            <td>Javier Sordo Madaleno Bringas</td>
                          </tr>
                          <tr>
                            <td>José Juan Sordo Madaleno de Haro</td>
                          </tr>
                          <tr>
                            <td>Carlos Creel Carrera*</td>
                          </tr>
                          <tr>
                            <td>Salvador Arroyo Rodríguez*</td>
                          </tr>
                          <tr>
                            <td>José Fernando Tejeda Ugalde*</td>
                          </tr>
                          <tr>
                            <td>Emilio Aarún Cordero***</td>
                          </tr>
                        </tbody>
                        </table>
                        <p class="legenda">*Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.<br>
                          **Presidente del CA<br>
                          *** Secretario del CA<br>
                        </p>
                        <h3>Comité de Prácticas</h3>
                        <p>El Comité Técnico nombrará de entre sus miembros a 6  integrantes, de los cuales 3 deberán ser  miembros independientes, para que formen un Comité de Prácticas, mismo que tendrá las siguientes facultades:</p>
                       <ul class="ck-po">
                       <li>Expresar su opinión al Comité Técnico y a la Asamblea de Tenedores sobre operaciones con partes relacionadas</li>
                       <li>Conocer y dar recomendaciones respecto de cualquier acto que se relacione con el gobierno corporativo del Fideicomiso</li>
                       <li>Recomendar al Comité Técnico que requiera del Administrador y/o Fiduciario cualquier información  que  pueda  ser  necesaria  </li>
                       <li>Conocer y, en su caso, aprobar cualquier otro hecho o acto relacionado a los anteriores, que sea de su competencia conforme a las disposiciones </li>
                      </ul>
                        <p>El siguiente diagrama muestra la composición de nuestro Comité de Prácticas:</p>
                         <table class="display table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>
                          Comité de Prácticas (CP)
                        </th>

                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>Luis Miguel Osio Barroso**</td>
                          </tr>
                           <tr>
                            <td>Javier Sordo Madaleno Bringas</td>
                          </tr>
                          <tr>
                            <td>José Juan Sordo Madaleno de Haro</td>
                          </tr>
                          <tr>
                            <td>Carlos Creel Carrera*</td>
                          </tr>
                          <tr>
                            <td>José Fernando Tejeda Ugalde*</td>
                          </tr>
                          <tr>
                            <td>Salvador Arroyo Rodríguez*</td>
                          </tr>
                          <tr>
                            <td>Emilio Aarún Cordero***</td>
                          </tr>
                        </tbody>
                        </table>
                          <p class="legenda">*Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.<br>
                          **Presidente del CP<br>
                          *** Secretario del CP</p>
                          <h3>Comité de Endeudamiento</h3>
                          <p>El Comité Técnico nombrará de entre sus miembros a un número impar, igual o superior a 3, los cuales deberán ser miembros independientes, para formar el Comité de Endeudamiento. Las resoluciones del Comité de Endeudamiento deberán ser adoptadas por la mayoría de sus miembros, mismo que tendrá las siguientes funciones:</p>
                          <ul class="ck-po">
                          <li>Vigilar que se establezcan los mecanismos y controles para verificar que cualquier endeudamiento que se asuma con cargo al patrimonio del Fideicomiso se apegue a lo previsto en la normatividad aplicable y la Circular Única de Emisoras</li>
                          <li>Informar al Comité Técnico cualquier incumplimiento a lo establecido en la normatividad aplicable</li>
                          </ul>
                          <p>El siguiente diagrama muestra la composición de nuestro Comité de Endeudamiento:</p>
                          <table class="display table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>
                          Comité de Endeudamiento (CE)
                        </th>
                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>Luis Miguel Osio Barroso</td>
                          </tr>
                        </tr>
                        <tr>
                          <td>José Juan Sordo Madaleno de Haro</td>
                        </tr>
                          <tr>
                            <td>Salvador Arroyo Rodríguez* **</td>
                          </tr>
                          <tr>
                            <td>Fernando Chico Pardo*</td>
                          </tr>
                          <tr>
                            <td>Luis A. Nicolau Gutiérrez*</td>
                          </tr>
                           <tr>
                            <td>José Carlos Silva Sánchez Gavito*</td>
                          </tr>
                          <tr>
                            <td>Emilio Aarún Cordero***</td>
                        </tr>

                        </tbody>
                        </table>
                        <p class="legenda">*Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.<br>
                        **Presidente del CE<br>
                        *** Secretario del CE</p>
                  <br>
                </div>

                <!-- Menu complementario en 3md -->
               <%= erb :"es/layouts/ri/ri-sidebar" %>


           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"es/layouts/ri/parallax-mensaje1" %>

  <%= erb :"es/layouts/contenido/prospecto" %>

  <%= erb :"es/layouts/generales/twitter" %>

  <%= erb :"es/layouts/generales/footer" %>

  <%= erb :"es/layouts/generales/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"es/layouts/contenido/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"es/layouts/contenido/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"es/layouts/contenido/js-contenidos" %>


</body>
</html>
