<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"es/layouts/generales/head" %>

<body>

<%= erb :"es/layouts/generales/preloader" %>

<%= erb :"es/layouts/generales/topbar" %>

<%= erb :"es/layouts/generales/header" %>

<!--wrapper-->
<div class="theme-layout">


<!--Breadcump-->
<section class="wrapper-pgtitle">
  <div class="container">
    <div class="calloutbread">

      <h2>Glosario</h2>

      <ul class="breadcrumb">

        <li><a href="#">Inversionistas</a></li>

        <li>Información bursátil</li>

      </ul>
    </div>
  </div>


  <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
    <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
  </a></div>
</section>
<!--Breadcump END-->


<!--Contenido -->
<section id="contenido" class="white-wrapper">
<div class="container">
<div class="row">
<br>

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

<h3>Glosario</h3>


<%= erb :"es/layouts/glosario/glosario-indice" %>


<table class="table table-striped table-bordered">
<thead>

<tr>
  <th style="width: 30%; background-color: #fff;">
    Conceptos
  </th>
  <th style="background-color: #fff;">
  </th>
</tr>
</thead>

<!--Comienzo-->

<tbody>


<tr class="documents">
  <td> Administrador</td>
  <td> FHIPOS Controladora, S.A.P.I. de C.V.</td>
</tr>

<tr class="documents">
  <td>Administrador Elegible</td>
  <td> Administrador que cuente con amplia experiencia en la administración de inmuebles (tomando en
    consideración la clase de inmueble de que se trate), así como con la estructura y capacidad técnica necesaria para
    encargarse de la administración del Inmueble respectivo.
  </td>
</tr>

<tr class="documents">
  <td>Afores</td>
  <td>Administradoras de Fondos para el Retiro.</td>
</tr>

<tr class="documents">
  <td>Ancla</td>
  <td>Arrendatarios que representen más del 20% del AR de un Inmueble.</td>
</tr>

<tr class="documents">
  <td> Andamar I</td>
  <td>Centro comercial localizado en Blvd. Ruiz Cortines No. 4300, Fracción Mocambo, Collado y Boticaria,
    Municipio Boca del Río, Veracruz.
  </td>
</tr>

<!--<tr class="documents">-->
  <!--<td> Andares</td>-->
  <!--<td>Centro comercial localizado en Boulevard Puerta de Hierro No. 4965, Puerta de Hierro, 45116, Zapopan,-->
    <!--Jalisco.-->
  <!--</td>-->
<!--</tr>-->


<tr class="documents">
  <td> Angelópolis</td>
  <td> Centro comercial localizado en Boulevard del Niño Poblano No. 2510, Col. Concepción la Cruz, Puebla,
    Puebla.
  </td>
</tr>


<tr class="documents">
  <td> Antara</td>
  <td>Centro comercial (excluyendo los edificios de oficinas), perteneciente al desarrollo “Antara”
    localizado en Ejército Nacional 843, Col. Ampliación Granada, Delegación Miguel Hidalgo, México, Distrito Federal.
  </td>
</tr>


<tr class="documents">
  <td> AR</td>
  <td>Toda el área del inmueble o inmuebles correspondientes que, conforme al proyecto respectivo, pueda ser
    explotada comercialmente.
  </td>
</tr>


<tr class="documents">
  <td> Área Rentable Elegible</td>
  <td>Un AR igual o mayor a 20,000 metros cuadrados, en el entendido que, en caso de que el inmueble sea un
    área privativa que forme parte de un régimen de propiedad en condominio, se considerará la totalidad del AR en todo
    el condominio y no solamente el área del Inmueble respectivo.
  </td>
</tr>


<tr class="documents">
  <td> Asamblea de Tenedores</td>
  <td>Cualquier Asamblea Ordinaria de Tenedores o Asamblea Extraordinaria de Tenedores.</td>
</tr>


<tr class="documents">
  <td> Asamblea Ordinaria de Tenedores</td>
  <td>Una asamblea general de Tenedores que podrá ser convocada para resolver sobre asuntos que no estén
    expresamente reservados para una Asamblea Extraordinaria de Tenedores.
  </td>
</tr>


<tr class="documents">
  <td> Auditor Externo</td>
  <td>Auditor Externo contratado por el Fiduciario conforme a las instrucciones del Comité Técnico.</td>
</tr>


<!--Letra B-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="B" class="gloss-letra">B</div>
      </a>
    </div>
  </td>
</tr>

<tr class="documents">
  <td> BMV</td>
  <td>Bolsa Mexicana de Valores, S.A.B. de C.V.</td>
</tr>


<!--Letra C-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="C" class="gloss-letra">C</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> CBFI</td>
  <td>Certificados Financieros Bursátiles Inmobiliarios</td>
</tr>

<tr class="documents">
  <td> CIBanco</td>
  <td> CIBanco, S.A., Institución de Banca Múltiple, División Fiduciaria.</td>
</tr>


<tr class="documents">
  <td> Circular Única</td>
  <td>Disposiciones de carácter general aplicables a las emisoras de valores y a otros participantes del
    mercado de valores, publicadas en el Diario Oficial de la Federación el 19 de marzo de 2003, emitidas por la CNBV,
    tal como las mismas sean modificadas o adicionadas periódicamente.
  </td>
</tr>


<tr class="documents">
  <td> CNBV</td>
  <td>Comisión Nacional Bancaria y de Valores.</td>
</tr>


<tr class="documents">
  <td> CONAPO</td>
  <td> Consejo Nacional de Población.</td>
</tr>


<tr class="documents">
  <td> CONSAR</td>
  <td> Comisión Nacional del Sistema de Ahorro para el Retiro.</td>
</tr>


<tr class="documents">
  <td> Contrato de Administración</td>
  <td>Contrato que celebrará el Fiduciario Emisor con el Administrador para que este último desempeñe
    ciertos servicios de administración.
  </td>
</tr>


<tr class="documents">
  <td> Contrato de Fideicomiso</td>
  <td> Contrato de Fideicomiso Irrevocable No. CIB/2075, celebrado entre el Fideicomitente, el Fiduciario,
    el Representante Común y el Administrador.
  </td>
</tr>


<tr class="documents">
  <td> Cuentas del Fideicomiso</td>
  <td>Cuentas bancarias que el Fiduciario abrirá y mantendrá durante la vigencia del Contrato de
    Fideicomiso, en cumplimiento de los fines del fideicomiso y conforme le instruya de tiempo en tiempo el
    Administrador.
  </td>
</tr>

<!--Letra D-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="D " class="gloss-letra">D</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> Derechos Fideicomisarios de Fideicomisos Maestros</td>
  <td>Los derechos fideicomisarios en primer lugar sobre Fideicomisos Maestros.</td>
</tr>


<tr class="documents">
  <td> Día Hábil</td>
  <td>Cualquier día que no sea sábado o domingo o en el cual las instituciones de crédito de México estén
    obligadas a cerrar por ley, de acuerdo con el calendario que al efecto publique la CNBV.
  </td>
</tr>


<tr class="documents">
  <td> Documentos de la Operación</td>
  <td> Referencia conjunta al Contrato de Fideicomiso, al Contrato de Administración, a cada Título, a cada
    contrato de colocación celebrado en relación con cada emisión de CBFIs, y todos los anexos de dichos contratos y de
    todos y cualesquier otros contratos, instrumentos, documentos y títulos relacionados con los mismos, según sean
    modificados, ya sea total o parcialmente, adicionados o de cualquier otra forma reformados en cualquier momento.
  </td>
</tr>


<!--Letra E-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="E" class="gloss-letra"> E</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> Emisnet</td>
  <td>Sistema Electrónico de Comunicación con Emisoras de Valores a cargo de la BMV.</td>
</tr>


<!--Letra F-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="F" class="gloss-letra">F</div>
      </a>
    </div>
  </td>
</tr>

<tr class="documents">
  <td> FAGFPs</td>
  <td>Fideicomisos de Administración, Garantía y Fuente de Pago, o significan los fideicomisos de administración,
    garantía y fuente de pago celebrados por las sociedades inmobiliarias u otras entidades, ciertas instituciones
    fiduciarias y el Fiduciario Emisor para garantizar el cumplimiento del financiamiento inmobiliario otorgado a la
    sociedad inmobiliaria correspondiente.
  </td>
</tr>


<tr class="documents">
  <td> Fideicomisos Maestros</td>
  <td>Fideicomisos cuyo patrimonio esté conformado por inmuebles premium y por derechos de cobro
    derivados de los contratos de arrendamiento de dichos inmuebles.
  </td>
</tr>


<tr class="documents">
  <td> Fideicomitente y Fideicomisario en Segundo Lugar</td>
  <td> FHIPOS Controladora, S.A.P.I. de C.V.</td>
</tr>


<tr class="documents">
  <td> Fiduciario Emisor</td>
  <td> CIBanco, S.A., Institución de Banca Múltiple.</td>
</tr>


<tr class="documents">
  <td> Financiamientos Iniciales</td>
  <td>Aquellos financiamientos inmobiliarios que otorgaremos como parte de nuestras operaciones de
    formación.
  </td>
</tr>


<tr class="documents">
  <td> Financiamientos inmobiliarios</td>
  <td>Créditos con garantía fiduciaria o hipotecaria otorgados o adquiridos por el Fideicomiso Bursátil
    Hipotecario cuyo destino sea la adquisición o construcción de bienes inmuebles ubicados en México y destinados al
    arrendamiento, la adquisición del derecho de percibir ingresos provenientes del arrendamiento de dichos bienes
    inmuebles, así como el refinanciamiento de créditos otorgados para dichos fines.
  </td>
</tr>


<!--Letra G-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="G" class="gloss-letra"> G</div>
      </a>
    </div>
  </td>
</tr>

<tr class="documents">
  <td> Gastos de Operación y Mantenimiento</td>
  <td>Aquellos gastos necesarios para el correcto funcionamiento del desarrollo inmobiliario de que se trate,
    incluyendo de forma enunciativa mas no limitativa los siguientes conceptos: nómina, contrato de servicios y
    mantenimiento, insumos, reparaciones, gastos generales de mantenimiento, publicidad, decoración y gastos de
    mantenimiento de estacionamiento. No se incluyen en esta definición los pagos correspondientes a financiamientos,
    costos financieros, depreciación y amortización, comisiones, costos legales, entre otros.
  </td>
</tr>


<!--<tr class="documents">-->
  <!--<td> Grupo DMI</td>-->
  <!--<td> Desarrolladora Mexicana de Inmuebles, S.A. de C.V.</td>-->
<!--</tr>-->

<tr class="documents">
  <td> GSM</td>
  <td> Grupo de empresas, fideicomisos y entidades dirigidas por Javier Sordo Madaleno Bringas que tienen
    como objeto el desarrollo y administración de desarrollos inmobiliarios en México.
  </td>
</tr>


<!--Letra I-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="I" class="gloss-letra"> I</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td>IASB</td>
  <td>Consejo de Normas Internacionales de Contabilidad (International Accounting Standard Board).</td>
</tr>


<tr class="documents">
  <td> Indeval</td>
  <td> S.D. Indeval, Institución para el Depósito de Valores, S.A. de C.V.</td>
</tr>


<tr class="documents">
  <td> Índice de Apalancamiento</td>
  <td>El índice de apalancamiento que deberemos de cumplir al momento de asumir cualquier pasivo, préstamo o
    financiamiento de conformidad con la Circular Única.
  </td>
</tr>


<tr class="documents">
  <td> Inmueble</td>
  <td> Centro comercial, o edificio de oficinas o desarrollo industrial, o en su caso, la unidad privativa
    de la propiedad de un régimen de propiedad en condominio de dichos desarrollos inmobiliarios, en cada caso,
    catalogado como Inmueble Premium o perteneciente a un Portafolio premium, que sea otorgado en garantía hipotecaria
    en primer lugar y grado de prelación en favor del Fideicomiso Bursátil Hipotecario o cuya propiedad y titularidad
    sea aportada a un FAGFP o respecto del cual deriven Derechos Fideicomisarios de Fideicomisos Maestros que sean
    aportados a un FAGFP, en cada caso, a efecto de garantizar las obligaciones del deudor conforme al Financiamiento
    Inmobiliario respectivo.
  </td>
</tr>


<tr class="documents">
  <td> Inmuebles Iniciales</td>
  <td>Bienes inmuebles, incluyendo derechos fideicomisarios respecto de los mismos, que garantizarán,
    respectivamente, cada uno de los Financiamientos Iniciales; en el entendido que, en el caso de ciertos proyectos,
    los Inmuebles Iniciales serán aquellas unidades privativas que formen parte de un régimen de propiedad en condominio
    y que sean propiedad exclusiva de la Sociedad Inmobiliaria correspondiente.
  </td>
</tr>


<tr class="documents">
  <td> INPC</td>
  <td>Índice Nacional de Precios al Consumidor.</td>
</tr>


<tr class="documents">
  <td> ISR</td>
  <td>Impuesto sobre la Renta</td>
</tr>


<!--Letra L-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="L" class="gloss-letra">L</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> LGTOC</td>
  <td> Ley General de Títulos y Operaciones de Crédito.</td>
</tr>


<tr class="documents">
  <td> Lineamientos de Apalancamiento</td>
  <td> Lineamientos aprobados por el Comité Técnico de conformidad con los cuales el Fideicomiso podrá
    incurrir en, o asumir, Endeudamientos en cualquier momento y por cualquier motivo.
  </td>
</tr>


<tr class="documents">
  <td> Lineamientos de Financiamiento</td>
  <td>Lineamientos aprobados por el Comité Técnico de conformidad con los cuales el Fideicomiso otorgará
    financiamiento a las Sociedades Inmobiliarias.
  </td>
</tr>


<tr class="documents">
  <td> LISR</td>
  <td> Ley del Impuesto sobre la Renta.</td>
</tr>


<tr class="documents">
  <td> LMV</td>
  <td> Ley del Mercado de Valores.</td>
</tr>


<tr class="documents">
  <td> Luxury Hall</td>
  <td> Centro comercial localizado en reserva territorial Atlixcáyotl, Puebla.</td>
</tr>



<!--Letra M-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="M" class="gloss-letra"> M</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> México</td>
  <td> Estados Unidos Mexicanos.</td>
</tr>



<!--Letra N-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="N" class="gloss-letra">N</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> NIIFs</td>
  <td>Normas Internacionales de Información Financiera, “IFRS” por sus siglas en inglés.</td>
</tr>


<tr class="documents">
  <td> NOI</td>
  <td>Ingresos Operativos Netos (Net Operating Income), los cuales se obtienen de restar a todos aquellos
    ingresos netos que tenga el proyecto respectivo, las amortizaciones, depreciaciones, intereses e impuestos; en el
    entendido que, tratándose de créditos garantizados con Derechos Fideicomisarios de Fideicomisos Maestros aportados a
    un FAGFP, el resultado de la anterior operación deberá ajustarse proporcionalmente al porcentaje que representen los
    Derechos Fideicomisarios de Fideicomisos Maestros aportados al FAGFP con respecto a la totalidad de los Derechos
    Fideicomisarios de Fideicomisos Maestros que representen la totalidad del patrimonio del Fideicomiso Maestro.
  </td>
</tr>



<!--Letra O-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="O" class="gloss-letra">O</div>
      </a>
    </div>
  </td>
</tr>

<tr class="documents">
  <td> Oferta Global</td>
  <td>Oferta internacional y la oferta en México de los certificados.</td>
</tr>


<tr class="documents">
  <td> Oficinas CIBanco</td>
  <td>significan conjuntamente (i) las tres propiedades que se describen a continuación: (a) el edificio ubicado en
    Anillo Periférico Sur, número 3343, Col. San Jerónimo Lídice, Del. Magdalena Contreras, C.P. 10200, (b) el edificio
    denominado “Lomas Plaza” ubicado en Avenida Blvd. Manuel Ávila Camacho, números 50 y 66 (registralmente identificado
    con el número 50), Col. Lomas de Chapultepec, Del. Miguel Hidalgo, y (c) el edificio denominado “Puente Palmas III”
    ubicado en Avenida Paseo de las Palmas, número 215, Col. Lomas de Chapultepec, Delegación Miguel Hidalgo, todas
    ellas localizadas en México, Distrito Federal; (ii) la propiedad ubicada en Blvd. Adolfo López Mateos, número 2513
    (registralmente identificada con el número 2519 “A”), Col. Jardines del Moral, León, Guanajuato; (iii) la propiedad
    ubicada en Avenida Providencia, número 2390, Fraccionamiento Jardines de Providencia, Guadalajara, Jalisco; y (iv)
    la propiedad ubicada en el lote de terreno ubicado en la manzana marcada con el número 28, Col. Del Valle, Municipio
    de San Pedro Garza García, Nuevo León.
  </td>
</tr>


<tr class="documents">
  <td> Operaciones de Formación</td>
  <td>Serie de operaciones en las que participaremos simultáneamente o tan pronto sea posible después de la
    Oferta Global mismas que resultarán en la constitución de nuestro Portafolio Inicial.
  </td>
</tr>



<!--Letra P-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="P" class="gloss-letra">P</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> Persona</td>
  <td>Cualquier persona física o persona moral, fideicomiso, asociación en participación, sociedad civil o
    mercantil, Autoridad Gubernamental o cualquier otra entidad de cualquier naturaleza.
  </td>
</tr>


<tr class="documents">
  <td> Personas Relacionadas</td>
  <td> Significado que se le atribuye a dicho término en la LMV.</td>
</tr>


<tr class="documents">
  <td> PIB</td>
  <td> Producto Interno Bruto.</td>
</tr>



<tr class="documents">
  <td> Portafolios de Créditos</td>
  <td> Financiamiento que otorgue el Fiduciario en cumplimiento de los Fines del Fideicomiso.</td>
</tr>

<tr class="documents">
  <td> Portafolio Inicial</td>
  <td> Los 9 contratos de crédito con garantía hipotecaria o fiduciaria, cuyo monto de principal total
    ascenderá hasta Ps. 9,721 millones, con vencimiento de 30 años y tasa de interés promedio anual fija de 9.329.52%.
  </td>
</tr>

<tr class="documents">
  <td> Portafolio Premium</td>
  <td>Conjunto de 2 (dos) o más créditos otorgados respecto a Inmuebles que, de manera total,
    conjuntamente: (i) cuenten con un Área Rentable Elegible, (ii) en el caso de los proyectos comerciales, cuenten con
    una tienda de autoservicio como Ancla, (iii) cuenten con un nivel de ocupación de cuando menos el 80%, y (iv) en su
    caso, sean administrados por un Administrador Elegible.
  </td>
</tr>


<tr class="documents">
  <td> Premium</td>
  <td>Significa, en cada caso, dependiendo de la clase de inmueble de que se trate, ya sea comercial, o de oficinas y/o
    industrial, aquellos Inmuebles que por su ubicación, calidad de la construcción, nivel de densidad de visitantes,
    calidad de los clientes, calidad de los arrendatarios, calidad de las Anclas, nivel de ocupación una vez
    estabilizados se estime en más del 80%, sean administrador por un Administrador Elegible, o contar con Área Rentable
    Elegible, entre otras características, y sean calificados por el Valuador Independiente, como “Premium”.
  </td>
</tr>


<tr class="documents">
  <td> Producto de la Emisión</td>
  <td>Recursos que reciba el Fideicomiso derivados de cada emisión de certificados por el Fideicomiso.
  </td>
</tr>


<tr class="documents">
  <td> Programa de Construcción y Presupuesto</td>
  <td> significa, respecto a Proyectos en Construcción, el programa y presupuesto para la construcción y desarrollo del
    inmueble correspondiente que, en su caso, se incorpore al Financiamiento Inmobiliario correspondiente, en el que se
    incluyen, sin limitar, los costos de planeación, diseño, licencias, permisos y derechos, supervisión y control
    relacionados con la construcción de dicho inmueble.
  </td>
</tr>


<tr class="documents">
  <td> Proyecto en Construcción</td>
  <td> Referencia conjunta a aquellos proyectos cuyo proceso de excavación y/o cimentación ha comenzado,
    cuyo plazo de construcción no sea mayor a 5 años a partir de la fecha en que el financiamiento respectivo sea
    otorgado y cuya inauguración es esperada en un plazo superior a 3 meses a partir de la fecha en que el
    financiamiento respectivo sea otorgado, los cuales, a partir de la fecha de terminación de construcción, serán
    considerados como Proyectos en Proceso de Estabilización.
  </td>
</tr>


<tr class="documents">
  <td> Proyecto en Proceso de Estabilización</td>
  <td> Referencia conjunta a aquellos proyectos recién inaugurados (habiendo transcurrido menos de 1 año
    desde su fecha de inauguración) o en proceso de inauguración (3 meses antes de su inauguración), cuyos arrendatarios
    Anclas están en proceso de apertura o han sido recientemente abiertos.
  </td>
</tr>


<tr class="documents">
  <td> Proyecto Estabilizado</td>
  <td> Referencia conjunta a aquellos proyectos que se encuentran en funcionamiento y operando con
    normalidad y que cuentan con un nivel de ocupación mayor al 80% del AR y tienen una afluencia estable.
  </td>
</tr>


<!--Letra R-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="R" class="gloss-letra">R</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> Renta Base Anualizada</td>
  <td> Monto de la renta contractual en términos de un contrato de arrendamiento en un período de 12 meses a
    ser pagado por el arrendatario, con exclusión de los reembolsos por concepto de gastos de operación de las
    propiedades, que son gastos pagados por el arrendatario.
  </td>
</tr>


<tr class="documents">
  <td> Resultado Fiscal</td>
  <td> Resultado de restar de la utilidad fiscal del Fideicomiso de un ejercicio fiscal determinado conforme
    al Título II de la LISR para dicho ejercicio fiscal, las pérdidas fiscales del Fideicomiso de ejercicios fiscales
    anteriores y pendientes de amortización y la participación de los trabajadores en la utilidad del ejercicio en
    cuestión.
  </td>
</tr>


<tr class="documents">
  <td> RNV</td>
  <td> Registro Nacional de Valores.</td>
</tr>



<!--Letra S-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="S" class="gloss-letra">S</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> SHCP</td>
  <td> Secretaría de Hacienda y Crédito Público.</td>
</tr>


<tr class="documents">
  <td> Siefores</td>
  <td> Sociedades de inversión especializadas de fondos para el retiro.</td>
</tr>


<tr class="documents">
  <td> Sociedad Inmobiliaria</td>
  <td> Cualquier persona que reciba un Financiamiento Inmobiliario.</td>
</tr>


<tr class="documents">
  <td> Subanclas</td>
  <td> Aquellos arrendatarios que arriendan superficies considerablemente superiores al resto de los
    arrendatarios del centro comercial de que se trate, teniendo una influencia relevante sobre la afluencia de
    visitantes.
  </td>
</tr>


<!--Letra T-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="T" class="gloss-letra"> T</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> Tenedores</td>
  <td> Los inversionistas tenedores de nuestros certificados.</td>
</tr>

<!--Letra U-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="U" class="gloss-letra">U</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> UDIs</td>
  <td>Unidades de Inversión.</td>
</tr>

<tr class="documents">
  <td> Universidad</td>
  <td>Centro comercial localizado en Avenida Universidad 1000, Sta. Cruz Atoyac, C.P. 03310, México,
    Distrito Federal.
  </td>
</tr>


<!--Letra V-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="V" class="gloss-letra"> V</div>
      </a>
    </div>
  </td>
</tr>

<tr class="documents">
  <td> Valuador Independiente</td>
  <td>La persona contratada como tal por el Fiduciario en seguimiento de las instrucciones del
    Comité Técnico.
  </td>
</tr>



</tbody>
</table>


<br/>

</div>

<!-- Menu complementario en 3md -->
<%= erb :"es/layouts/ri/ri-sidebar" %>


</div>
<!-- end row -->
<div class="clearfix"></div>
</div>
</section>

<!--Contenido END -->



<%= erb :"es/layouts/ri/parallax-mensaje1" %>

<%= erb :"es/layouts/contenido/prospecto" %>

<%= erb :"es/layouts/generales/twitter" %>

<%= erb :"es/layouts/generales/footer" %>

<%= erb :"es/layouts/generales/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"es/layouts/contenido/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"es/layouts/contenido/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"es/layouts/contenido/js-contenidos" %>


</body>
</html>
