<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"es/layouts/generales/head" %>

<body>

<%= erb :"es/layouts/generales/preloader" %>

<%= erb :"es/layouts/generales/topbar" %>

<%= erb :"es/layouts/generales/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Marco económico</h2>

        <ul class="breadcrumb">

          <li><a href="#">Inversionistas</a></li>

          <li>FIBHIOS</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <h3>Internacional </h3>

                  <p>A pesar de las condiciones de volatilidad en los mercados internacionales y el escepticismo en torno a la recuperación
                     del crecimiento económico mundial, hemos visto una intensa inversión institucional de fondos de inversión y de pensiones
                     en instrumentos mexicanos anclados a bienes raíces, FIBRAs y CKDs, principalmente de E.U., seguido por Reino Unido, Francia
                     y Canadá; la cual se ha intensificado a partir del surgimiento de las FIBRAs en el mercado mexicano, en 2011. </p>
                  <p>Lo anterior derivado de una perspectiva de crecimiento positiva del sector, junto con las mejores distribuciones de
                     dividendos y rendimientos bursátiles en el mercado accionario mexicano, convirtiendo a estos tipos de instrumentos en opciones atractivas de inversión.</p>
                  <p>Por su parte, el ritmo de crecimiento de China continua desacelerándose, pasando de una tasa de 7.8% en 2013 a una de 7.4% en 2014;
                     de acuerdo con las proyecciones del Fondo Monetario Internacional (FMI), éste podría decaer hasta un 6.8% y 6.3% en 2015 y 2016, respectivamente. </p>
                  <p>Asimismo, la institución prevé una tasa de crecimiento global de 3.5% para el 2015 y una de 3.8% para el 2016, años en los que se podría observar un
                    crecimiento más sostenible en las economías avanzadas, pero un debilitamiento en el de los mercados emergentes. </p>


                  <h3>Nacional</h3>

                  <p>No obstante que el consumo interno ha visto un desempeño débil durante los últimos seis trimestres,
                    se anticipa una recuperación a partir de la entrada en vigor de las reformas estructurales
                    (energética, telecomunicaciones y financiera), así como por los efectos de inversión del Programa
                    Nacional de Infraestructura (PNI).</p>

                  <p>La SHCP anticipa que el crecimiento del PIB comience con una recuperación gradual en 2015 para
                    terminar en tasas de crecimiento cercanas al 5% en 2018, lo que podría verse reflejado en el poder
                    adquisitivo de la clase media mexicana, que pudiera ver una exponenciación de sus efectos, a través
                    del bono demográfico presente en la base poblacional.</p>

                  <h3>Sectorial</h3>

                  <p>Las últimas iniciativas presentadas por el ejecutivo federal han tenido como objetivo la
                    reactivación del mercado de financiamiento en México para logar un mayor crecimiento económico;
                    estas iniciativas se han apoyado en un sólido sistema financiero, que, aún, cuenta con un nivel bajo
                    de financiamiento al sector privado, comparándolo con sus pares latinoamericanos: dejando espacio de
                    oportunidad para nuevos instrumentos de financiamiento.</p>

                  <p>No obstante el bajo nivel de financiamiento al sector privado, en los últimos 5 años, la cartera
                    total de financiamientos otorgados al sector inmobiliario mexicano, específicamente al sector
                    construcción no residencial, ha experimentado un crecimiento constante, alcanzando una cartera de
                    préstamos superior a los Ps.166,000 millones en 2013, muestra del dinamismo existente en el
                    sector.</p>

                  <p>De acuerdo con CBRE [CBRE Research, Q4, 2013], el precio de las rentas de inmuebles premium, tanto
                    retail como de oficinas, en México se halla por debajo de sus pares latinoamericanos (Santiago,
                    Lima, Bogotá, Panamá y Sao Paulo), abriendo la posibilidad de una tendencia a la alza conforme la
                    economía mexicana alcance <em>momentum</em>.</p>

                  <div class="row">
                    <br>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <img src="/images/fibhios/contenidos/rentas-comercial.jpg" class="img-responsive center-block">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <img src="/images/fibhios/contenidos/rentas-oficinas.jpg" class="img-responsive center-block">
                    </div>
                  </div>
                  <br>
                </div>
                <!-- Menu complementario en 3md -->
               <%= erb :"es/layouts/ri/ri-sidebar" %>


           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"es/layouts/ri/parallax-mensaje1" %>

  <%= erb :"es/layouts/contenido/prospecto" %>

  <%= erb :"es/layouts/generales/twitter" %>

  <%= erb :"es/layouts/generales/footer" %>

  <%= erb :"es/layouts/generales/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"es/layouts/contenido/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"es/layouts/contenido/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"es/layouts/contenido/js-contenidos" %>


</body>
</html>
