<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">
        <h2>Créditos</h2>
        <ul class="breadcrumb">
          <li><a href="#">Portafolio</a></li>
          <li>Créditos</li>
        </ul>
      </div><!-- end caaloutbread -->
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">


    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>Créditos "Senior" con una Estructura Solida de Colateral</h3>
          <p>Planeamos estructurar un portafolio de créditos sustentado por garantías hipotecarias y/o fiduciarias
            sobre inmuebles comerciales y de oficinas Premium, que por su ubicación y diseño arquitectónico
            cuentan con una ventaja competitiva en su segmento.</p>

          <p>Es importante destacar que los créditos que pensamos incorporar a nuestro portafolio inicial ya han
            pasado por estrictos procesos de control de riesgos y due dilligence de las principales
            instituciones financieras mexicanas, como:</p>

          <ul class="ck-po">
            <li>Banorte</li>
            <li>Banco del Bajío</li>
            <li>CI Banco</li>
          </ul>

          <h3>El cuadro siguiente muestra lo que sería la integración inicial de nuestro portafolio de
            créditos:</h3>

          <table class="display table table-bordered table-striped">
            <thead>
            <tr>
              <th width="8%">Proyecto</th>
              <th width="13%">Destino del préstamo</th>
              <th width="13%">Monto del préstamo (Ps. MM)</th>
              <th width="8%">Plazo₁ (años)</th>
              <th width="11%">Periodo de gracia (meses)</th>
              <th width="8%">Tasa</th>
              <th width="13%">Comisión de originación</th>
              <th width="13%">Ingresos Brutos Anuales Esperados₂</th>
              <th width="13%">Índice de cobertura₃</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>Antara</td>
              <td>Refinanciamiento</td>
              <td>2200.00</td>
              <td>30</td>
              <td> 36</td>
              <td>9.45%</td>
              <td> 1.15%</td>
              <td>203.10</td>
              <td>1.3:1</td>
            </tr>

            <tr>
              <td> Picacho</td>
              <td> Construcción</td>
              <td> 1580.00</td>
              <td> 30</td>
              <td> 72</td>
              <td> 9.55%</td>
              <td> 1.50%</td>
              <td> 150.90</td>
              <td> N/A</td>
            </tr>

            <tr>
              <td> Andares</td>
              <td> Refinanciamiento</td>
              <td> 2725.00</td>
              <td> 30</td>
              <td> 72</td>
              <td>9.40%</td>
              <td> 1.15%</td>
              <td>246.60</td>
              <td> 1.3:1</td>
            </tr>

            <tr>
              <td> Luxury Hall₄</td>
              <td> Refinanciamiento</td>
              <td>485.00</td>
              <td>30</td>
              <td>36</td>
              <td> 9.45%</td>
              <td> 1.50%</td>
              <td>45.30</td>
              <td> 1.3:1</td>
            </tr>

            <tr>
              <td> Oficinas CI Banco</td>
              <td> Refinanciamiento</td>
              <td>400.00</td>
              <td>30</td>
              <td> 36</td>
              <td>9.60%</td>
              <td> 1.50%</td>
              <td> 37.40</td>
              <td> 1.3:1</td>
            </tr>

            <tr>
              <td> Andamar I</td>
              <td>Refinanciamiento</td>
              <td>975.00</td>
              <td> 30</td>
              <td> 36</td>
              <td>9.55%</td>
              <td> 1.00%</td>
              <td> 95.60</td>
              <td>1.05:1</td>
            </tr>

            <tr>
              <td> Angelópolis₄</td>
              <td> Refinanciamiento</td>
              <td> 405.00</td>
              <td> 30</td>
              <td> 36</td>
              <td> 9.53%</td>
              <td> 1.50%</td>
              <td> 37.80</td>
              <td> 1.3:1</td>
            </tr>

            <tr>
              <td> Universidad₄</td>
              <td>Refinanciamiento</td>
              <td> 351.00</td>
              <td> 30</td>
              <td>36</td>
              <td> 9.53%</td>
              <td> 1.50%</td>
              <td> 32.80</td>
              <td> 1.3:1</td>
            </tr>

            <tr>
              <td> Andamar II</td>
              <td> Construcción</td>
              <td>600.00</td>
              <td> 30</td>
              <td>72</td>
              <td>9.55%</td>
              <td> 1.50%</td>
              <td>57.30</td>
              <td> N/A</td>
            </tr>

            </tbody>
          </table>

          <div class="legenda">
            <p> (1) Pena por prepago si se realiza después de una fecha de pago de interés, equivalente al 4%
              durante el primer año, 3% durante el segundo año y 2% entre el tercer y décimo año.</p>

            <p> (2) Los Ingresos Brutos Anuales Esperados incluyen, intereses, costos y comisiones, considerando la
              vigencia de los créditos hasta su vencimiento programado y suponiendo la inexistencia de
              incumplimientos. Los Ingresos Brutos Anuales Esperados, variarían en caso de que los créditos sean
              pagados con anticipación.</p>

            <p> (3) El índice de cobertura tiene como base el Net Operating Income (NOI). para Proyectos
              Estabilizados, el Índice de Cobertura no deberá ser inferior a 1.3 a 1; para Proyectos en Proceso de
              Estabilización, el Índice de Cobertura no deberá de ser inferior de 1.05 a 1 durante los primeros 6
              meses contados a partir de la fecha de inauguración del proyecto y a partir del séptimo mes, el
              Índice de Cobertura Base NOI no deberá de ser inferior de 1.3 a 1; y, para Proyectos en
              Construcción, el crédito respectivo no excederá del 55% del costo de construcción, y se deberá
              contar con un Índice Crédito/Valor con un aforo de garantía de 1.8 a 1</p>

            <p> (4) En este caso, las garantías se integrarán por Derechos Fideicomisarios de Fideicomisos Maestros
              representativos de cierto porcentaje (equivalente al 100% en el caso de Luxury Hall, 30% en el caso
              de Universidad y 35% en el caso de Angelópolis)</p>
          </div>
        </div><!-- end col-lg-6 -->
      </div><!-- end row --><br>
    </div><!-- end container -->


  </section>

  <!--Contenido END -->



  <%= erb :"layouts/numeros-destacados" %>

  <%= erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>