<!DOCTYPE html>
<html lang="en">
<%= erb :"layouts/head" %>
<body>      
<div id="preloader">
	<div class="bubblingG">
		<span id="bubblingG_1"></span>
		<span id="bubblingG_2"></span>
		<span id="bubblingG_3"></span>
	</div>
 </div> 
<%= erb :"layouts/topbar" %>
<!-- end topbar -->
<%= erb :"layouts/header" %>
<!-- end header -->
    
   
	
<div class="theme-layout"><!-- for boxed layout style -->
 <section class="wrapper-pgtitle">
    	<div class="container">
			<div class="calloutbread">
            	<h2>Equipo directivo</h2>
                <ul class="breadcrumb">
                    <li><a href="#">Nosotros</a></li>
                    <li>Equipo directivo</li>
				</ul>
            </div><!-- end caaloutbread -->
		</div><!-- end container -->
      <!-- slide-up content -->
      <div id="triangle-up"><a href="#" class="bonfire-slideout-button"><div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div></a></div>
    </section> 

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h3>Equipo Administrativo Experimentado y Multidisciplinario</h3>
                <p style="margin-bottom: 0px">
                    La gestión del Portafolio de Créditos de FIBHIOS es llevada a cabo por el equipo directivo de nuestro Administrador, FIHPOS. El Comité Técnico de FIBHIOS tiene las facultades de proponer y aprobar, así como de remover a los directivos de nuestro Administrador, o en su caso de proponer funcionarios que vigilen su gestión, a su plena discreción.</p>

                 <p>El equipo directivo de nuestro Administrador se hallará integrado por funcionarios a tiempo completo que serán remunerados por el propio Administrador, dicha remuneración estará enfocada a alinear incentivos entre los directivos y el mejor interés de los tenedores de FIBHIOS. Todas las funciones del equipo directivo de nuestro Administrador tendrán el fin último de incrementar y preservar el patrimonio de los tenedores de certificados de FIBHIOS.
                </p>
                        <div class="clearfix"></div>
                         
                    </div><!-- end widget -->
                </div><!-- end col-lg-6 -->
			</div><!-- end row --><br>
		</div><!-- end container -->
	</section><!-- end postwrapper -->
    <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
                    <div class="team_member padding-top">
                            <div class="entry">
                            <img class="img-responsive" src="/images/fibhios/directivos/JuanSordo.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                    </div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="team_member">
                        <h1>José Juan Sordo <span> | </span> <small>Director General</small></h1>
                        <p> Se ha desempeñado como Director Financiero y de Desarrollo Inmobiliario en Grupo Sordo Madaleno (GSM). En 2014 dirigió la adquisición de 2 proyectos de usos mixtos por un monto superior a los Ps.5,000 millones, logrando obtener financiamientos para estos proyectos por Ps.3,250 millones, a través de diversas instituciones financieras. Es también miembro del Consejo de Administración de diversos centros comerciales, entre ellos Antara, Angelópolis, Plaza Universidad, Plaza Satélite, desde 2010 ha sido responsable de estructurar todos los financiamientos de GSM, logrando en 2010, refinanciar el 100% de su deuda bancaria con diferentes acreedores. Adicionalmente, es fundador de dos fondos privados de inversión inmobiliaria que han levantado capital por más de US$500 millones. De 2007 a 2009, participó en la empresa IDEAL de Grupo CARSO, en el área de valuación y análisis de proyectos. Es Licenciado en Administración Financiera por el Instituto Tecnológico de Estudios Superiores de Monterrey.</p>
                        <p>La función principal del Director General de FIHPOS consistirá en ejecutar los objetivos estratégicos aprobados por el Comité Técnico e implementar el plan de negocios, así como gestionar una cercana relación con inversionistas.</p>
                    </div><!-- end team_member -->
                </div><!-- end col-lg-6 --> 
                
                    <div class="clearfix"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
                    <div class="team_member padding-top">
                            <div class="entry">
                            <img class="img-responsive" src="/images/fibhios/directivos/ErikGonzalez.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                    </div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="team_member">
                        <h1>Erik González Laureano <span> | </span> <small>Director de Finanzas</small></h1>
                        <p>Cuenta con 17 años de experiencia en el sector financiero, principalmente en análisis, estrategia, planeación, M&A, presupuestos, contraloría financiera y auditoría. Ha participado en la constitución de instituciones financieras del sector financiero mexicano, y cuenta con una amplia experiencia en el manejo de portafolios crediticios, así como en emisión de deuda en mercados internacionales. Desde el año 2005, ha ocupado posiciones de alta responsabilidad en la banca de desarrollo, y en diversas instituciones financieras, como Ixe Grupo Financiero y Grupo Financiero Banorte, así como en fondos de capital privado especializados en la compra y reestructura de empresas en los sectores de energía y salud, participando como miembro del Consejo de Administración en varias de ellas. Colaboró, también, para la Comisión Nacional Bancaria y de Valores (CNBV) por 8 años, como Director de Análisis Financiero y Supervisión Bancaria. Es Contador Público y Licenciado en Administración de Empresas por el Instituto Tecnológico Autónomo de México, y cuenta con un MBA con especialidad en finanzas por la Escuela de Negocios de Manchester, RU, donde se graduó con honores.</p>

                       <p>La función principal del Director de Finanzas será establecer la estrategia de administración financiera para mantener una estructura adecuada de deuda y capital, incluyendo las funciones de contabilidad, cumplimiento fiscal, procuración de capital y financiamiento. El Director de Finanzas reportará al Director General.</p>  
                     <br>
                        
                    </div><!-- end team_member -->
                </div><!-- end col-lg-6 --> 
                
                    <div class="clearfix"></div>
            </div>
        </div>
    
	<section class="parallax" style="background-image: url('images/parallax/parallax-client.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
		<div class="overlay">
        	<div class="container">
				<div class="stat f-container">
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-mobile-call icon-header blue"></i>
                            <span class="stat-count highlight">7</span>
                            <div class="milestone-details">Propiedades</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-chart-8 icon-header red"></i>
                            <span class="stat-count highlight">250</span>
                            <div class="milestone-details">Project Finished</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-winner icon-header green"></i>
                            <span class="stat-count highlight">350</span>
                            <div class="milestone-details">Awards Win</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-users icon-header orange"></i>
                            <span class="stat-count highlight">232</span>
                            <div class="milestone-details">Happy Clients</div>
						</div>
					</div>
				</div><!-- stat -->
            </div><!-- end container -->
    	</div><!-- end overlay -->
    </section><!-- end transparent-bg -->

	<section class="white-wrapper">
    	<div class="container">
            
            <div class="padding-top text-center">
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 first">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Jane</span> Steward <span>|</span> <small>CEO</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p>
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Maria</span> Felinno <span>|</span> <small>Project Manager</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p> 
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Chaterine</span> Tiffany <span>|</span> <small>Web Designer</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p>
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 last">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Edward</span> Barry <span>|</span> <small>PHP Developer</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p>
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            </div><!-- end row -->   
    	</div><!-- end container -->
    </section><!-- end white wrapper -->
    
    <div id="square-white"></div>
		<div class="align-white">
            <div id="triangle-topleft-white"></div>
            <div id="triangle-topright-white"></div>
	</div>



	<section class="white-wrapper jt-shadow">
    	<div class="container">
			<div class="calloutbox bggrey">
            	<div class="post-type-icon">
                    <i class="icon-picons-paper-2"></i>
                </div>
            	<div class="col-lg-10">
            	<h2>Conozca nuestro prospecto en detalle</h2>
                <p>Créditos respaldados por inmuebles con una expresión arquitectónica vistosa y diferenciada <br>que les brinda una gran ventaja competitiva,</p>
                </div>
                <div class="col-lg-1">
                <a href="#" class="btn pull-right btn-primary btn-lg">FIBHIOS prospecto</a>
                </div>
            </div><!-- end messagebox -->
		</div><!-- end container -->
    </section><!-- end white-wrapper -->
    <!--  Twitter line  -->  
    <%= erb :"layouts/twitter" %> 
    
	<%= erb :"layouts/footer" %>
    <!-- end #footer-style-1 -->    
    <%= erb :"layouts/copyrights" %>
 </div>
</div>
<div class="dmtop">Scroll to Top</div>

<!-- SLIDE-UP CONTENT--> 
<%= erb :"layouts/slideup" %>
<!-- /SLIDE-UP CONTENT--> 
        
<!-- Java Script == --> 
<%= erb :"layouts/contentjs" %>


</body>
</html>