<!DOCTYPE html>
<html lang="en">
<%= erb :"layouts/head" %>
<body>      
<div id="preloader">
	<div class="bubblingG">
		<span id="bubblingG_1"></span>
		<span id="bubblingG_2"></span>
		<span id="bubblingG_3"></span>
	</div>
 </div> 
<%= erb :"layouts/topbar" %>
<!-- end topbar -->
<%= erb :"layouts/header" %>
<!-- end header -->
    
   
	
<div class="theme-layout"><!-- for boxed layout style -->
 <section class="wrapper-pgtitle">
    	<div class="container">
			<div class="calloutbread">
            	<h2>Estructura de participación</h2>
                <ul class="breadcrumb">
                    <li><a href="#">Nosotros</a></li>
                    <li>Estructura de participación</li>
				</ul>
            </div><!-- end caaloutbread -->
		</div><!-- end container -->
      <!-- slide-up content -->
      <div id="triangle-up"><a href="#" class="bonfire-slideout-button"><div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div></a></div>
    </section> 

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
            	
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <h3 class="text-center">Fideicomiso de Administración, Garantía y Fuente de Pago </h3>
                        <img src="/images/fibhios/contenidos/estructura.jpg" class="img-responsive center-block">
                        <div class="legenda">
                            <p>(1) El Administrador adquirirá el 5% de los CBFIs en la Oferta Inicial y mantendrá su posición accionaria durante los próximos 5 años</p>
                            <p>(2) FAGFP: “Fideicomisos de Administración Garantía y Fuente de Pago”, ver glosario</p>

                        </div>
                         <p><strong>FIBHIOS</strong> utilizará los recursos de la Oferta Inicial para financiar el portafolio inicial. Los 9 proyectos/propiedades utilizarán los recursos  para: </p>
                        <ul class="ck-po">
                        <li>Refinanciamiento de deuda existente y establecimiento de nuevos contratos de créditos con FIBHIOS</li>
                        <li> Desarrollo de nuevos proyectos inmobiliarios</li>
                        </ul>


                        <p>Los créditos que otorgará FIBHIOS estarán garantizados por flujos e hipotecas de las propiedades premium y en algunos casos por derechos fiduciarios sobre fideicomisos maestros. Cada Proyecto constituirá un Fideicomiso de Administración, Garantía y Fuente de Pago (“FAGFP”) para garantizar el Contrato de Crédito. Cada FAGFP  considerará la siguiente cascada de distribución:</p>
                        <ul class="ck-po">
                        <li>Cobertura de gastos del FAGFP </li>
                        <li>Cobertura de gastos de mantenimiento del inmueble</li>
                        <li>Pago de impuestos y seguro</li>
                        <li>Cobertura de intereses y amortizaciones de capital </li>
                        <li>El flujo de efectivo remanente será devuelto al desarrollador</li>
                        </ul>
                        <p>
                        FIBHIOS a su vez utilizará los recursos para cubrir el pago de intereses de la deuda (en caso de tener), para cubrir la comisión del Administrador Externo y otros gastos generales. El flujo de efectivo remanente será distribuido a los tenedores de CBFIs.
                        </p>

                                    
                        <div class="clearfix"></div>
                         
                    </div>
                </div><!-- end col-lg-6 -->
			</div><!-- end row --><br>
		</div><!-- end container -->
	</section><!-- end postwrapper -->
    
	<section class="parallax" style="background-image: url('/images/parallax/andaresblur2.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
		<div class="overlay">
        	<div class="container">
				<div class="stat f-container">
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">9.5%</span>
                            <div class="milestone-details">Tasa de Interés Promedio Ponderada</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">30 años</span>
                            <div class="milestone-details">Plazo de los Créditos</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">58%</span>
                            <div class="milestone-details">LTV Promedio Ponderado</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">1.30x</span>
                            <div class="milestone-details">Cobertura - NOI</div>
						</div>
					</div>
				</div><!-- stat -->
            </div><!-- end container -->
    	</div><!-- end overlay -->
    </section><!-- end transparent-bg -->

	<section class="white-wrapper jt-shadow">
    	<div class="container">
			<div class="calloutbox bggrey">
            	<div class="post-type-icon">
                    <i class="icon-picons-paper-2"></i>
                </div>
            	<div class="col-lg-10">
            	<h2>Conozca nuestro prospecto en detalle</h2>
                <p>Créditos respaldados por inmuebles con una expresión arquitectónica vistosa y diferenciada <br>que les brinda una gran ventaja competitiva,</p>
                </div>
                <div class="col-lg-1">
                <a href="#" class="btn pull-right btn-primary btn-lg"><i class="fa fa-download"></i> Prospecto</a>
                </div>
            </div><!-- end messagebox -->
		</div><!-- end container -->
    </section><!-- end white-wrapper -->
    <!--  Twitter line  -->  
    <%= erb :"layouts/twitter" %> 
    
	<%= erb :"layouts/footer" %>
    <!-- end #footer-style-1 -->    
    <%= erb :"layouts/copyrights" %>
 </div>
</div>
<div class="dmtop">Scroll to Top</div>

<!-- SLIDE-UP CONTENT--> 
<div class="bonfire-slideout-button-triangle-background"></div>
<div class="bonfire-slideout">
  <div class="bonfire-slideout-inner">
    <div class="bonfire-slideout-inner-inner"> 
      <div class="bonfire-slideout-close"></div>
      <div class="bonfire-slideout-content container">
        <div class="thin">
          <div class="section-title-wrapper">
            <h3 class="section-title">Our Recomendation</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur sagittis lacus vel augue laoreet rutrum faucibus dolor aucto Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </div>
          <div class="margin-top"></div>
          <div class="row">
            <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                        <h3>Your<span class="font-light"> Channel</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />History and Culture</a><br/>
                        Learn more about history and culture from arround the world
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Wild Adventure</a><br/>
                        Free yourself from work and take a wild experience to the center of earth
                        </li>
                        <li>
                       <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Sains and Technology</a><br/>
                        Find out what the latest issue about science and technology
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Urbanesia</a><br/>
                        Keep update about trend, entertainment, and lifestyle for your reference
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
            
             <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                        <h3>What's <span class="font-light">Hot</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Gateway To Touch The Blue Sky</a><br/>
                        June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                            <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Summer Vocation With Nature</a><br/>
                            June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                       <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Forever Young And Unstopable</a><br/>
                        June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                            <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Something Good Work</a><br/>
                            June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
            
             <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                    	<h3>Best <span class="font-light">Offer</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product One</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Two</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>    
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Three</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Four</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
<!-- /SLIDE-UP CONTENT--> 
    
    
 
        
<!-- Java Script ================================================== --> 
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/js/jquery.simple-text-rotator.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/custom-portfolio-masonry.js"></script>
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/royalslider/jquery.easing-1.3.js"></script>
<script type="text/javascript" src="/royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript" src="/js/smoothPageScroll.js"></script>
<script type="text/javascript" src="/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/js/ScrollToPlugin.min.js"></script>
<script type="text/javascript" src="/js/canvas.js"></script>
  
<script type="text/javascript">
	(function($) {
	  "use strict";
			$("#header-default").affix({
			offset: {
			  top: 100, 
			  bottom: function () {
			  return (this.bottom = $('#copyrights').outerHeight(true))
			  }
			}
		})
	})(jQuery);
</script>


</body>
</html>