<!DOCTYPE html>
<html lang="en">
<%= erb :"layouts/head" %>
<body>   
<div id="preloader">
	<div class="bubblingG">
		<span id="bubblingG_1"></span>
		<span id="bubblingG_2"></span>
		<span id="bubblingG_3"></span>
	</div>
 </div>
<%= erb :"layouts/topbar" %>
<!-- end topbar -->
<%= erb :"layouts/header" %>
<!-- end header -->

	
<div class="theme-layout"><!-- for boxed layout style -->
    <div class="slider-wrapper">
    
        <%= erb :"layouts/layerslider" %>
       
    </div><!-- end slider-wrapper -->
    
    
    <section class="jt-shadow nopadding">
    	<div class="home-services">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <ul>
                <li>
                  <i class="icon-picons-building"></i>
                  <p>Créditos</p>
                </li>
                <li>
                  <i class="icon-picons-bookmark"></i>
                  <p>Propiedades en garantía</p>
                </li>
                <li>
                  <i class="icon-picons-image-6"></i>
                  <p>Operación de propiedades</p>
                </li>
                <li>
                  <i class="icon-picons-cart-2"></i>
                  <p>Distribución de propiedades</p>
                </li>
              </ul>
            </div>
            
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .services -->
    </section><!-- end section -->


	<div id="square-color"></div>
		<div class="align-color">
    		<div id="triangle-topleft-color"></div>
    		<div id="triangle-topright-color"></div>
	</div>

	<section class="parallax" style="background-image: url('images/parallax/parallax-blog.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
		<div class="overlay">
        	<div class="container">
                <div class="messagebox">
            	<h2>Ancillia Come With Stunning <mark class="rotate">Corporate, eCommerce, Magazine, Portfolio</mark> Layout And Rich Features</h2>
            </div><!-- end messagebox -->
            
            <div class="text-center">
                    <img src="images/phase.png" class="img-responsive" alt="">
                    </div>
             
            	<div class="services_vertical">
                <div class="col-lg-4 first">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                           <i class="icon-picons-bulb"></i>
                        </div>
                        <h3 class="par-white">Brain <span class="font-light-white">Storming</span></h3>
                        <p class="par-grey">Morbis congue mauris eget dolor pellentesque consectetur pulvinar pellentesque bibendum des quiseam</p>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                           <i class="icon-picons-rocket"></i>
                        </div>
                        <h3 class="par-white">Creative <span class="font-light-white">Solution</span></h3>
                        <p class="par-grey">Morbis congue mauris eget dolor pellentesque consectetur pulvinar pellentesque bibendum des quiseam</p>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4 last">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                            <i class="icon-picons-lab"></i>
                        </div>
                        <h3 class="par-white">Startup <span class="font-light-white">Business</span></h3>
                        <p class="par-grey">Morbis congue mauris eget dolor pellentesque consectetur pulvinar pellentesque bibendum des quiseam</p>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4 first">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                            <i class="icon-picons-award"></i>
                        </div>
                        <h3 class="par-white">Brand <span class="font-light-white">Ambassador</span></h3>
                        <p class="par-grey">Morbis congue mauris eget dolor pellentesque consectetur pulvinar pellentesque bibendum des quiseam</p>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                            <i class="icon-picons-desktop-preferences"></i>
                        </div>
                        <h3 class="par-white">Stunning <span class="font-light-white">Design</span></h3>
                        <p class="par-grey">Morbis congue mauris eget dolor pellentesque consectetur pulvinar pellentesque bibendum des quiseam</p>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="col-lg-4 last">
                    <div class="service_vertical_box">
                        <div class="service-icon">
                            <i class="icon-picons-support"></i>
                        </div>
                        <h3 class="par-white">Online <span class="font-light-white">Support</span></h3>
                        <p class="par-grey">Morbis congue mauris eget dolor pellentesque consectetur pulvinar pellentesque bibendum des quiseam</p>
                    </div><!-- end service_vertical_box -->
                </div><!-- end col-lg-4 -->
                <div class="clearfix"></div>
            </div><!-- end services_vertical -->
			<div class="clearfix"></div>
            </div><!-- end container -->
    	</div><!-- end overlay -->
    </section><!-- end transparent-bg -->
    
 <section class="white-wrapper">  
 <div class="container"> 
            <div class="section-title-heading">
                   <h3 class="section-title">Recent <span class="font-light">Blogpost</span></h3>
               </div>
                    <div class="row reviews_widget padding-top">
                        <div class="col-sm-5">
                            <div class="blog">
                                <div class="entry">
                                     <div class="flexslider">
                                        <ul class="slides">
                                            <li><img src="images/blog/blog.jpg" alt="" class="img-responsive"></li>
                                            <li><img src="images/blog/blog.jpg" alt="" class="img-responsive"></li>
                                            <li><img src="images/blog/blog.jpg" alt="" class="img-responsive"></li>
                                        </ul><!-- end slides -->    
                                    </div><!-- end post-slider -->
                                </div><!-- end entry -->
                                <div class="blog-carousel-header">
                                 <div class="blog-meta">
                                	<ul>
                                        <li><a data-toggle="tooltip" data-placement="right" title="Wize Ananda" href="#"><i class="fa fa-user"></i></a></li>
                                        <li><a data-toggle="tooltip" data-placement="right" title="Slide Show" href="#"><i class="fa fa-photo"></i></a></li>
                                        <li><a data-toggle="tooltip" data-placement="right" title="June 15, 2014" href="#"><i class="fa fa-calendar"></i></a></li>
                                        </ul>
                                    </div>
                                </div><!-- end blog-carousel-header -->
                                <div class="blog-carousel-desc">
                                <h3><a title="" href="blog-single-post.html">The Beauty of Our Universe</a></h3>
                                    <p>Morbis mauris pellentesque stertum consectetur worien fantasimo pulvinar pellentesque bibendum. Restibulum hendrerit bianca di coloseum quiseam bibendum vestibulum gravida donest consectetur aptent taciti.</p>
                                </div><!-- end blog-carousel-desc -->
                            </div><!-- end blog-carousel -->
                        </div><!-- end col-sm-5 -->
                        <div class="col-sm-7">
                    	<div class="col-sm-6">
                        	<div class="widget">
                                <ul class="recent_posts_widget">
                                   <li>
                                    <a href="#"><img src="images/blog/tabbed_widget.jpg" alt="" />Triumph For Men</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                    <a href="#"><img src="images/blog/tabbed_widget.jpg" alt="" />World Music Festival</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                    <a href="#"><img src="images/blog/tabbed_widget.jpg" alt="" />Top World Designer</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle-o"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                    <a href="#"><img src="images/blog/tabbed_widget.jpg" alt="" />New Downtown Park</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle-o"></i>
                                        </div><!-- rating -->
                                    </li>
                                </ul><!-- recent posts -->  
                            </div><!-- end widget -->
                    	</div><!-- end col-sm-6 -->
                        <div class="col-sm-6">
                        	<div class="widget">
                                <ul class="recent_posts_widget">
                                   <li>
                                    <a href="#"><img src="images/blog/tabbed_widget.jpg" alt="" />Business Alignment</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                    <a href="#"><img src="images/blog/tabbed_widget.jpg" alt="" />Childhood Memories</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                    <a href="#"><img src="images/blog/tabbed_widget.jpg" alt="" />Arctic Exploration</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle-o"></i>
                                        </div><!-- rating -->
                                    </li>
                                    <li>
                                    <a href="#"><img src="images/blog/tabbed_widget.jpg" alt="" />Crowded Market</a><br/>
                                    June 15, 2014
                                       <div class="rating">
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle-o"></i>
                                        </div><!-- rating -->
                                    </li>
                                </ul><!-- recent posts -->  
                            </div><!-- end widget -->
                    	</div><!-- end col-sm-6 -->
                        </div>
                    </div><!-- end row -->
                   </div>
                <div class="clearfix"></div>
             </section>


 
<section class="grey-wrapper">
 		<div class="section-title-heading">
                   <h3 class="section-title">Stunning <span class="font-light">Portfolio</span></h3>
               </div>
		<div class="portfolio_wrapper padding-top">
			<div class="portfolio_item">
				<div class="entry">
					<img src="images/portfolio/project.jpg" alt="" class="img-responsive">
					<div class="magnifier">
						<div class="buttons">
                            <div class="pf-carousel-header">
                                <div class="post-type-icon">
                                 <a href="images/portfolio/pf.jpg" title="" data-gal="prettyPhoto[product-gallery]"><i class="icon-picons-eye"></i></a>
                            </div>
                                    <a href="images/portfolio/pf.jpg" title="" data-gal="prettyPhoto[product-gallery]"><h3>Portfolio One</h3></a>
                                    <div class="pf-carousel-meta">
                                        <span>Photography</span>
                                    </div><!-- end blog-carousel-meta -->
                                </div><!-- end blog-carousel-header -->
                           </div><!-- end buttons -->
					</div><!-- end magnifier -->
				</div><!-- end entry -->
			</div><!-- end portfolio_item -->
            
            <div class="portfolio_item">
				<div class="entry">
					<img src="images/portfolio/project.jpg" alt="" class="img-responsive">
					<div class="magnifier">
						<div class="buttons">
                            <div class="pf-carousel-header">
                                <div class="post-type-icon">
                                 <a href="images/portfolio/pf.jpg" title="" data-gal="prettyPhoto[product-gallery]"><i class="icon-picons-eye"></i></a>
                            </div>
                                    <a href="images/portfolio/pf.jpg" title="" data-gal="prettyPhoto[product-gallery]"><h3>Portfolio Two</h3></a>
                                    <div class="pf-carousel-meta">
                                        <span>Animation</span>
                                    </div><!-- end blog-carousel-meta -->
                                </div><!-- end blog-carousel-header -->
                           </div><!-- end buttons -->
					</div><!-- end magnifier -->
				</div><!-- end entry -->
			</div><!-- end portfolio_item -->
            
            <div class="portfolio_item">
				<div class="entry">
					<img src="images/portfolio/project.jpg" alt="" class="img-responsive">
					<div class="magnifier">
						<div class="buttons">
                            <div class="pf-carousel-header">
                                <div class="post-type-icon">
                                 <a href="images/portfolio/pf.jpg" title="" data-gal="prettyPhoto[product-gallery]"><i class="icon-picons-eye"></i></a>
                            </div>
                                    <a href="images/portfolio/pf.jpg" title="" data-gal="prettyPhoto[product-gallery]"><h3>Portfolio Three</h3></a>
                                    <div class="pf-carousel-meta">
                                        <span>Logo</span>
                                    </div><!-- end blog-carousel-meta -->
                                </div><!-- end blog-carousel-header -->
                           </div><!-- end buttons -->
					</div><!-- end magnifier -->
				</div><!-- end entry -->
			</div><!-- end portfolio_item -->
            
            <div class="portfolio_item">
				<div class="entry">
					<img src="images/portfolio/project.jpg" alt="" class="img-responsive">
					<div class="magnifier">
						<div class="buttons">
                            <div class="pf-carousel-header">
                                <div class="post-type-icon">
                                 <a href="images/portfolio/pf.jpg" title="" data-gal="prettyPhoto[product-gallery]"><i class="icon-picons-eye"></i></a>
                            </div>
                                    <a href="images/portfolio/pf.jpg" title="" data-gal="prettyPhoto[product-gallery]"><h3>Portfolio Four</h3></a>
                                    <div class="pf-carousel-meta">
                                        <span>Photography</span>
                                    </div><!-- end blog-carousel-meta -->
                                </div><!-- end blog-carousel-header -->
                           </div><!-- end buttons -->
					</div><!-- end magnifier -->
				</div><!-- end entry -->
			</div><!-- end portfolio_item -->
		</div><!-- portfolio_wrapper --><br/>
		<div class="clearfix"></div>
            
		<div class="buttons margin-top padiing-top text-center">
			<a href="#" class="btn btn-primary btn-lg" title="">View All Projects</a>
		</div>
    </section><!-- end white-wrapper -->
   
<div class="make-bg-full">
    <div class="calloutbox-full-mini nocontainer">
        <div class="container">
                <div class="latest-tweets">
                    <div class="tweet-icon">
                        <img src="images/tweets-icon.png" alt="">
                    </div>
                    <div class="tweet">
                                <ul>
                                   <li>
                                    <div class="tweet-wrapper">
                                    <div class="tweet-wrapper-inner">
                                    <p class="tweet-content">
                                    <a href="#">@envato</a> Ancillia now available on themeforest, available with 4 homepage layouts code with HTML5 and CSS3 and easy to use <a href="http://themeforest.net/user/willywize/portfolio" target="_blank">http://t.co/zuE150kz7L</a></p>
                                    <span class="tweet-date">
                                        8 hours ago</span> 
                                    <span class="tweet-meta">
                                    <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
                                    <span class="tweet-meta">
                                        <a href="#"><i class="fa fa-retweet"></i> 100 Retweeded</a></span>
                                    <span class="tweet-meta">
                                        <a href="#"><i class="fa fa-star"></i> 100 Favorited</a></span>
                                       </div>
                                    </div>
                                   </li>
                                </ul>
                            </div>
                        </div>
             	    </div>
   	            </div>
        
	 <%= erb :"layouts/footer" %>
     <!-- end #footer-style-1 -->    

    <div id="copyrights">
    	<div class="container">
			<div class="col-lg-5 col-md-6 col-sm-12">
            	<div class="copyright-text">
                    <img src="/images/fibhios/logo-footer.png" width="196"  class="img-responsive" alt="">
                </div><!-- end copyright-text -->
			</div><!-- end widget -->
			<div class="col-lg-7 col-md-6 col-sm-12 clearfix">
				<div class="footer-menu">
                    <ul class="menu">
                        <li class="active"><a href="#">Hodfgdme</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
			 </div>
          </div>
       </div>
    </div>
   </div>
<div class="dmtop">Scroll to Top</div>


<!-- SAMPLE BOX CONFIGURATION MODAL FORM-->                        
            <div class="modal fade" id="login-box" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content modal-table">
                    <div class="modal-header">
                      <h4 class="modal-title"><i class="icon-picons-users"></i> Member Login <a href="#" class="remove pull-right" style="margin-top:20px;" data-dismiss="modal" >&times;</a></h4>
                    </div>
                    <div class="modal-body">
                    <div class="col-sm-12">
                      <div class="contact_form"><!-- Login-form -->
                    <form id="login" action="#" name="contactform" method="post">
                            <input type="text" name="email" id="contact_name" class="form-control" placeholder="Email"> 
                            <input type="password" name="name" id="email_address" class="form-control" placeholder="Password"> 
                            <button type="submit" value="signin" id="signin" class="btn btn-lg btn-primary center-block">Sign in</button>
                    </form>    
                </div><!-- end Login-form -->
            </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->            
<!-- Java Script ================================================== -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="js/jquery.simple-text-rotator.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/custom-portfolio.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/modernizr.custom.26633.js"></script>
<script type="text/javascript" src="js/jquery.flexslider.js"></script>

<script type="text/javascript" src="royalslider/jquery.easing-1.3.js"></script>
<script type="text/javascript" src="royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript" src="js/smoothPageScroll.js"></script>
<script type="text/javascript" src="js/TweenMax.min.js"></script>
<script type="text/javascript" src="js/ScrollToPlugin.min.js"></script>

    <!-- LayerSlider stylesheet -->
    <link rel="stylesheet" href="/layerslider/css/layerslider.css" type="text/css">
    <!-- External libraries: GreenSock -->
    <script src="/layerslider/js/greensock.js" type="text/javascript"></script>
    <!-- LayerSlider script files -->
    <script src="/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
    <script src="/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>

    <!-- Initializing the slider -->
    <script>
        jQuery("#layerslider").layerSlider({
            responsive: false,
            responsiveUnder: 1280,
            layersContainer: 1280,
            skin: 'noskin',
            hoverPrevNext: false,
            skinsPath: '../layerslider/skins/'
        });
    </script>

<script type="text/javascript">
(function($) {
 "use strict"
	$("#header-default").affix({
		offset: {
		  top: 100,
		  bottom: function () {
			return (this.bottom = $('#copyrights').outerHeight(true))
		  }
		}
	})
		
	$(window).load(function(){
 		$('.flexslider').flexslider({
		animation: "fade",
		controlNav: false,
		start: function(slider){
	  $('body').removeClass('loading');
		}
 	 });
	});

	jQuery('a[data-gal]').each(function() {
	jQuery(this).attr('rel', jQuery(this).data('gal'));
	});  	
	jQuery("a[data-gal^='prettyPhoto']").prettyPhoto({animationSpeed:'slow',slideshow:false,overlay_gallery: false,theme:'light_square',social_tools:false,deeplinking:false});
})(jQuery);
</script>

</body>
</html>