<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">
        <h2>FIBHIOS en números</h2>
        <ul class="breadcrumb">
          <li><a href="#">Nosotros</a></li>
          <li>FIBHIOS en números</li>
        </ul>
      </div><!-- end caaloutbread -->
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">

    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <h3 class="text-center">Portafolio Inicial de Crédito y Propiedades Relacionadas</h3>

            <img src="/images/fibhios/contenidos/numeros.jpg" class="img-responsive center-block">
            <div class="legenda">
              (1) Grafica en base al monto del crédito.  <br>
              (2) En proceso de estabilización.<br>
              (3) Grafica en base al área rentable de la propiedad. <br>
              (4) Las oficinas de CI Banco han sido consideradas como una sola propiedad.<br>
              (5 )Loan to Value.<br>
              (6) Excluye Andamar I y II 
            </div>
         
          
           


            <div class="clearfix"></div>

          </div>
        </div><!-- end col-lg-6 -->
      </div><!-- end row --><br>
    </div><!-- end container -->



  </section>

  <!--Contenido END -->



  <%= erb :"layouts/numeros-destacados" %>

  <%= erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>