<!DOCTYPE html>
<html lang="en">
<%= erb :"layouts/head" %>
<body>      
<div id="preloader">
	<div class="bubblingG">
		<span id="bubblingG_1"></span>
		<span id="bubblingG_2"></span>
		<span id="bubblingG_3"></span>
	</div>
 </div> 
<%= erb :"layouts/topbar" %>
<!-- end topbar -->
<%= erb :"layouts/header" %>
<!-- end header -->
    
   
	
<div class="theme-layout"><!-- for boxed layout style -->
 <section class="wrapper-pgtitle">
    	<div class="container">
			<div class="calloutbread">
            	<h2><i class="icon-picons-layers"></i> Nuestro perfil</h2>
                <ul class="breadcrumb">
                    <li><a href="#">Nosotros</a></li>
                    <li>Perfil</li>
				</ul>
            </div><!-- end caaloutbread -->
		</div><!-- end container -->
      <!-- slide-up content -->
      <div id="triangle-up"><a href="#" class="bonfire-slideout-button"><div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div></a></div>
    </section> 

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
            	
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h3>FIBHIOS FIBRA Hipotecaria</h3>
                    <p style="margin-bottom: 0px">
                    We are a FIBRA Hipotecaria (Public Entity) focused on providing secured loans to different companies whose purpose is to acquire, build, develop and operate Premium commercial and office rental properties in Mexico, including the refinancing thereof. The loans we make are secured by (i) mortgages on, or beneficial interests in, leased real property located in Mexico or (ii) beneficial interests in management, guarantee and source of payment trusts, whose trust estate includes ownership interests in leased real property located in Mexico or beneficial interests in Master Trusts, trust certificates or other interests, whose trust estates, in turn, include ownership interests in leased real property located in Mexico. </p>
                    <p>We are managed by, Fhipos Controladora, S.A.P.I. de C.V., our external manager (the “Manager”), whose team has deep experience in the financial and real estate markets, with proven experience in managing financial institutions, financial markets, real estate markets, regulatory compliance, institutional corporate governance, specialists in providing, assessing, structuring, managing and collecting loans, and with a broad experience in acquiring, building, developing and operating rental properties in Mexico.</p>
                    <p>Our goal is to provide attractive risk-adjusted returns to the holders of our CBFIs through regular cash distributions. We intend to achieve this by selectively creating a loan portfolio secured by cash flows from lease contracts (or cash flows from distributions made by Master Trusts).
                    We believe that our management structure reflects a very robust, developed and competitive focus on international corporate governance standards, which was designed to maximize value for the holders of our CBFIs by implementing best practices and financial monitoring policies.</p>
                    the technical committee, establishing strategic objectives and managing our relationship with investors to create value for the holders of our CBFIs. </p>

                                    
                        <div class="clearfix"></div>
                         
                    </div><!-- end widget -->
                </div><!-- end col-lg-6 -->
			</div><!-- end row --><br>
		</div><!-- end container -->
	</section><!-- end postwrapper -->
    
	<section class="parallax" style="background-image: url('images/parallax/andaresblur2.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
		<div class="overlay">
        	<div class="container">
				<div class="stat f-container">
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">9.5%</span>
                            <div class="milestone-details">Tasa de Interés Promedio Ponderada</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">30 años</span>
                            <div class="milestone-details">Plazo de los Créditos</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">58%</span>
                            <div class="milestone-details">LTV Promedio Ponderado</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">1.30x</span>
                            <div class="milestone-details">Cobertura - NOI</div>
						</div>
					</div>
				</div><!-- stat -->
            </div><!-- end container -->
    	</div><!-- end overlay -->
    </section><!-- end transparent-bg -->

	   <section class="white-wrapper">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget">
                       
                
                </br>
                   <p> Our technical committee is supported by an audit committee, practices committee, compensation committee, credit and investment committee and indebtedness committee. It is composed of a diverse group of professionals chosen based on their reputation and knowledge of the industry.  Specifically, the independent members of the technical committee have, as a group, knowledge on banking, domestic and international financial markets, economics, real estate, international commerce and management, which complement the qualifications of the Manager, among which are, Antonio del Valle Ruiz, Fernando Chico Pardo, Enrique Castillo Sánchez Mejorada and Luis A. Nicolau Gutiérrez.</p>
                    <p>For loans provided to related parties, we have implemented corporate governance measures to reduce the risk of conflicts of interest that may affect the holders our CBFIs, through the vote of independent members. </p>
                    <p>We plan to use our network of contacts of the Manager in the real estate industry and our knowledge of the Mexican financial markets to finance the acquisition, construction, development and operation of competitive rental properties in relevant markets. The real estate industry in Mexico is a fragmented industry, which is mostly comprised of small and medium-sized participants with limited access to capital and in some cases, with limited exit opportunities. We believe that opportunities to finance the acquisition, construction, development and operation of rental properties will be available to us to the extent that property owners take advantage of the attractive financing terms we can provide. Additionally, the possibility will exist, depending on the behavior of the borrowers, that loans we provide will be refinanced. The Manager’s management team is committed to finding and analyzing potential financings that meet our Lending Guidelines and allow us to generate attractive returns for the holders of our CBFIs.</p>

                  
                        <div class="clearfix"></div>
                         
                    </div><!-- end widget -->
                </div><!-- end col-lg-6 -->
            </div><!-- end row --><br>
        </div><!-- end container -->
    </section><!-- end postwrapper -->
    
    <div id="square-white"></div>
		<div class="align-white">
            <div id="triangle-topleft-white"></div>
            <div id="triangle-topright-white"></div>
	</div>



	<section class="white-wrapper jt-shadow">
    	<div class="container">
			<div class="calloutbox bggrey">
            	<div class="post-type-icon">
                    <i class="icon-picons-paper-2"></i>
                </div>
            	<div class="col-lg-10">
            	<h2>Conozca nuestro prospecto en detalle</h2>
                <p>Créditos respaldados por inmuebles con una expresión arquitectónica vistosa y diferenciada <br>que les brinda una gran ventaja competitiva,</p>
                </div>
                <div class="col-lg-1">
                <a href="#" class="btn pull-right btn-primary btn-lg"><i class="fa fa-download"></i> Prospecto</a>
                </div>
            </div><!-- end messagebox -->
		</div><!-- end container -->
    </section><!-- end white-wrapper -->
    <!--  Twitter line  -->  
    <%= erb :"layouts/twitter" %> 
    
	<%= erb :"layouts/footer" %>
    <!-- end #footer-style-1 -->    
    <%= erb :"layouts/copyrights" %>
 </div>
</div>
<div class="dmtop">Scroll to Top</div>

<!-- SLIDE-UP CONTENT--> 
<div class="bonfire-slideout-button-triangle-background"></div>
<div class="bonfire-slideout">
  <div class="bonfire-slideout-inner">
    <div class="bonfire-slideout-inner-inner"> 
      <div class="bonfire-slideout-close"></div>
      <div class="bonfire-slideout-content container">
        <div class="thin">
          <div class="section-title-wrapper">
            <h3 class="section-title">Our Recomendation</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur sagittis lacus vel augue laoreet rutrum faucibus dolor aucto Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </div>
          <div class="margin-top"></div>
          <div class="row">
            <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                        <h3>Your<span class="font-light"> Channel</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />History and Culture</a><br/>
                        Learn more about history and culture from arround the world
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Wild Adventure</a><br/>
                        Free yourself from work and take a wild experience to the center of earth
                        </li>
                        <li>
                       <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Sains and Technology</a><br/>
                        Find out what the latest issue about science and technology
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Urbanesia</a><br/>
                        Keep update about trend, entertainment, and lifestyle for your reference
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
            
             <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                        <h3>What's <span class="font-light">Hot</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Gateway To Touch The Blue Sky</a><br/>
                        June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                            <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Summer Vocation With Nature</a><br/>
                            June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                       <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Forever Young And Unstopable</a><br/>
                        June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                            <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Something Good Work</a><br/>
                            June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
            
             <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                    	<h3>Best <span class="font-light">Offer</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product One</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Two</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>    
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Three</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Four</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
<!-- /SLIDE-UP CONTENT--> 
    
    
 
        
<!-- Java Script ================================================== --> 
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/js/jquery.simple-text-rotator.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/custom-portfolio-masonry.js"></script>
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/royalslider/jquery.easing-1.3.js"></script>
<script type="text/javascript" src="/royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript" src="/js/smoothPageScroll.js"></script>
<script type="text/javascript" src="/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/js/ScrollToPlugin.min.js"></script>
<script type="text/javascript" src="/js/canvas.js"></script>
  
<script type="text/javascript">
	(function($) {
	  "use strict";
			$("#header-default").affix({
			offset: {
			  top: 100, 
			  bottom: function () {
			  return (this.bottom = $('#copyrights').outerHeight(true))
			  }
			}
		})
	})(jQuery);
</script>


</body>
</html>