<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">
        <h2><i class="icon-picons-layers"></i> Nuestro perfil</h2>
        <ul class="breadcrumb">
          <li><a href="#">Nosotros</a></li>
          <li>Perfil</li>
        </ul>
      </div><!-- end caaloutbread -->
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">

    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>FIBHIOS Fideicomiso Bursátil Hipotecario</h3>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <img src="/images/fibhios/propiedades/Antara/antaradarkx300.jpg" class="img-responsive">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
              <p>FiBHiOS es el primer Fideicomiso Bursátil Hipotecario especializado en financiamiento inmobiliario respaldado por garantías hipotecarias o fiduciarias de inmuebles comerciales, centros comerciales y desarrollos de oficinas, estratégicamente ubicados y catalogados como premium, en regiones de alto potencial económico en México. </p>
              <p>Consideramos que los inmuebles iniciales que respaldarán nuestro portafolio de créditos cuentan con una expresión arquitectónica vistosa y diferenciada que les brinda una gran ventaja competitiva, que aunada a nuestro sólido gobierno corporativo y controles prudenciales abonan a un robusto perfil de nuestros activos.
              </p>
            </div>

            <div class="clearfix"></div>

          </div><!-- end row -->
        </div><!-- end col-lg-6 -->
      </div><!-- end row --><br>
    </div><!-- end container -->



  </section>

  <!--Contenido END -->



  <%= erb :"layouts/numeros-destacados" %>

  <%= erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>