<!DOCTYPE html>
<html lang="en">
<%= erb :"layouts/head" %>
<body>      
<div id="preloader">
	<div class="bubblingG">
		<span id="bubblingG_1"></span>
		<span id="bubblingG_2"></span>
		<span id="bubblingG_3"></span>
	</div>
 </div> 
<%= erb :"layouts/topbar" %>
<!-- end topbar -->
<%= erb :"layouts/header" %>
<!-- end header -->
    
   
	
<div class="theme-layout"><!-- for boxed layout style -->
 <section class="wrapper-pgtitle">
    	<div class="container">
			<div class="calloutbread">
            	<h2><i class="icon-picons-layers"></i> Nuestro perfil</h2>
                <ul class="breadcrumb">
                    <li><a href="#">Nosotros</a></li>
                    <li>Perfil</li>
				</ul>
            </div><!-- end caaloutbread -->
		</div><!-- end container -->
      <!-- slide-up content -->
      <div id="triangle-up"><a href="#" class="bonfire-slideout-button"><div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div></a></div>
    </section> 

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
            	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="padding-top">
                    <img src="/images/fibhios/propiedades/Antara/antara2.jpg" class="img-responsive" alt=""> 
                    </div>            
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h3>COMPANY INTRODUCTION</h3>
                <p style="margin-bottom: 0px">
                    FIBHIOS es un fideicomiso inmobiliario hipotecario que busca constituir
                    un portafolio de créditos respaldado por garantías hipotecarias o fiduciarias de inmuebles
                    comerciales, centros comerciales y desarrollos de oficinas, estratégicamente ubicados y catalogados
                    como Premium, en regiones de alto potencial económico en México.
                </p>

                <p>
                    Buscamos consolidar nuestro portafolio de créditos mediante el otorgamiento de financiamientos para
                    la adquisición o construcción de bienes inmuebles destinados al arrendamiento, o a la adquisición
                    del derecho a percibir ingresos provenientes del arrendamiento.
                </p>


                <p>El éxito de nuestro modelo de negocios estará ligado a la gestión de nuestro Administrador, FHIPOS
                    Controladora, S.A.P.I. de C.V., así como a la experiencia en operación de los administradores de
                    inmuebles iniciales, Grupo Sordo Madaleno y Grupo DMI, que en conjunto han desarrollado más de 20
                    millones de metros cuadrados de área rentable en México.</p>

                <p>Consideramos que los inmuebles iniciales que respaldarán nuestro portafolio de créditos cuentan con
                    una expresión arquitectónica vistosa y diferenciada que les brinda una gran ventaja competitiva, que
                    aunada a nuestro sólido gobierno corporativo y controles prudenciales abonan a un robusto perfil de
                    nuestros activos.</p>
                        <div class="clearfix"></div>
                         
                    </div><!-- end widget -->
                </div><!-- end col-lg-6 -->
			</div><!-- end row --><br>
		</div><!-- end container -->
	</section><!-- end postwrapper -->
    
	<section class="parallax" style="background-image: url('images/parallax/parallax-client.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
		<div class="overlay">
        	<div class="container">
				<div class="stat f-container">
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-mobile-call icon-header blue"></i>
                            <span class="stat-count highlight">7</span>
                            <div class="milestone-details">Propiedades</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-chart-8 icon-header red"></i>
                            <span class="stat-count highlight">250</span>
                            <div class="milestone-details">Project Finished</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-winner icon-header green"></i>
                            <span class="stat-count highlight">350</span>
                            <div class="milestone-details">Awards Win</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-users icon-header orange"></i>
                            <span class="stat-count highlight">232</span>
                            <div class="milestone-details">Happy Clients</div>
						</div>
					</div>
				</div><!-- stat -->
            </div><!-- end container -->
    	</div><!-- end overlay -->
    </section><!-- end transparent-bg -->

	<section class="white-wrapper">
    	<div class="container">
            
            <div class="padding-top text-center">
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 first">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Jane</span> Steward <span>|</span> <small>CEO</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p>
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Maria</span> Felinno <span>|</span> <small>Project Manager</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p> 
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Chaterine</span> Tiffany <span>|</span> <small>Web Designer</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p>
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 last">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Edward</span> Barry <span>|</span> <small>PHP Developer</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p>
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            </div><!-- end row -->   
    	</div><!-- end container -->
    </section><!-- end white wrapper -->
    
    <div id="square-white"></div>
		<div class="align-white">
            <div id="triangle-topleft-white"></div>
            <div id="triangle-topright-white"></div>
	</div>



	<section class="white-wrapper jt-shadow">
    	<div class="container">
			<div class="calloutbox bggrey">
            	<div class="post-type-icon">
                    <i class="icon-picons-paper-2"></i>
                </div>
            	<div class="col-lg-10">
            	<h2>Conozca nuestro prospecto en detalle</h2>
                <p>Créditos respaldados por inmuebles con una expresión arquitectónica vistosa y diferenciada <br>que les brinda una gran ventaja competitiva,</p>
                </div>
                <div class="col-lg-1">
                <a href="#" class="btn pull-right btn-primary btn-lg">FIBHIOS prospecto</a>
                </div>
            </div><!-- end messagebox -->
		</div><!-- end container -->
    </section><!-- end white-wrapper -->
    <!--  Twitter line  -->  
    <%= erb :"layouts/twitter" %> 
    
	<%= erb :"layouts/footer" %>
    <!-- end #footer-style-1 -->    
    <%= erb :"layouts/copyrights" %>
 </div>
</div>
<div class="dmtop">Scroll to Top</div>

<!-- SLIDE-UP CONTENT--> 
<%= erb :"layouts/slideup" %>
<!-- /SLIDE-UP CONTENT--> 
        
<!-- Java Script == --> 
<%= erb :"layouts/contentjs" %>


</body>
</html>