<!DOCTYPE html>
<html lang="en">
<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>  Andamar I  </h2>

        <ul class="breadcrumb">

          <li><a href="#"> Portafolio </a></li>

          <li> Propiedades en garantía  </li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 single-portfolio">


          <!--Parte de Imagenes-->
          <div class="col-sm-4 padding-top">
            <div class="portfolio_item">

              <!--imagen grande-->
              <div class="entry">
                <img src="/images/portfolio/pf.jpg" alt="" class="img-responsive">
              </div>

              <!--thumnails-->
              <div class="thumbnails clearfix">

                <!--1er thumnail-->
                <div class="entry first">
                  <img class="img-responsive" src="/images/shop/shop.jpg" alt="">

                  <div class="magnifier">
                    <div class="buttons">
                      <a href="/images/shop/shop.jpg" title="" data-gal="prettyPhoto[product-gallery]" rel="prettyPhoto[product-gallery]"><i class="icon-picons-zoom-in icon-pf-xs"></i></a>
                    </div>
                  </div>
                </div>

                <!--2do thumnail-->
                <div class="entry">
                  <img class="img-responsive" src="/images/shop/shop.jpg" alt="">

                  <div class="magnifier">
                    <div class="buttons">
                      <a href="/images/shop/shop.jpg" title="" data-gal="prettyPhoto[product-gallery]" rel="prettyPhoto[product-gallery]"><i class="icon-picons-zoom-in icon-pf-xs"></i></a>
                    </div>
                  </div>
                </div>

                <!--3er thumnail-->
                <div class="entry last">
                  <img class="img-responsive" src="/images/shop/shop.jpg" alt="">

                  <div class="magnifier">
                    <div class="buttons">
                      <a href="/images/shop/shop.jpg" title="" data-gal="prettyPhoto[product-gallery]" rel="prettyPhoto[product-gallery]"><i class="icon-picons-zoom-in icon-pf-xs"></i></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--Parte de Imagenes END-->



          <!--Parte de Texto-->
          <div class="col-sm-8 padding-left-40">
            <div class="product_details">

              <!--titulo-->
              <h3>Andamar I en números</h3>

              <!--tablita-->
              <ul>
                <li><strong>Año de construcción:</strong>                Noviembre 2014</li>
                <li><strong>ARB: </strong>                               42,000 m²</li>
                <li><strong>ARB Privativo*:</strong>                     32,000 m²</li>
        <li><strong>Administrador del inmueble: </strong>                GSM</li>
                <li><strong>Afluencia anual de visitantes: </strong>     8 millones</li>
                <li><strong>Principales arrendatarios: </strong>         Cinemex, Palacio de Hierro y The Home Store</li>
              </ul>
            </div>

            <!--texto de descripcion-->
            <p>Andamar LifeStyle Center será un shopping center premium, ubicado en la ciudad de Boca del Río Veracruz, contará con un ARB estimado de 32,000 m², al igual que los demás desarrollos de GSM se caracterizará por una arquitectura icónica, integrando diferentes elementos en su desarrollo como jardines y espejos de agua, contará en su oferta comercial con aproximadamente 110 tiendas, por lo que tendrá un portafolio bastante robusto de tiendas ancla y sub ancla. Contará con seis restaurantes, 11 salas de cine y cuatro niveles de estacionamiento con 2,293 cajones. Su cercanía a la playa, en conjunción con sus amenidades de primer nivel, dota a Andamar de un singular atractivo en la región.</p>


          </div>
          <!--Parte de Texto-->


          <div class="clearfix"></div>

        </div>
      </div>
      <br>
    </div>
  </section>

  <!--Contenido END -->



  <%= erb :"layouts/numeros-destacados" %>

  <% erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->


<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>