<!DOCTYPE html>
<html lang="en">
<%= erb :"layouts/head" %>
<body>      
<div id="preloader">
	<div class="bubblingG">
		<span id="bubblingG_1"></span>
		<span id="bubblingG_2"></span>
		<span id="bubblingG_3"></span>
	</div>
 </div> 
<%= erb :"layouts/topbar" %>
<!-- end topbar -->
<%= erb :"layouts/header" %>
<!-- end header -->
    
   
	
<div class="theme-layout"><!-- for boxed layout style -->
 <section class="wrapper-pgtitle">
    	<div class="container">
			<div class="calloutbread">
            	<h2>Antara</h2>
                <ul class="breadcrumb">
                    <li><a href="#">Portafolio</a></li>
                    <li>Propiedades en garantía</li>
				</ul>
            </div><!-- end caaloutbread -->
		</div><!-- end container -->
      <!-- slide-up content -->
      <div id="triangle-up"><a href="#" class="bonfire-slideout-button"><div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div></a></div>
    </section> 

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
                <div id="content" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 single-portfolio">
                    <div class="col-sm-4 padding-top">
                        <div class="portfolio_item">
                            <div class="entry">
                                <img src="/images/portfolio/pf.jpg" alt="" class="img-responsive">
                            </div><!-- entry -->
                            <div class="thumbnails clearfix">
                            <div class="entry first">
                                <img class="img-responsive" src="/images/shop/shop.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                            <a href="/images/shop/shop.jpg" title="" data-gal="prettyPhoto[product-gallery]" rel="prettyPhoto[product-gallery]"><i class="icon-picons-zoom-in icon-pf-xs"></i></a>
                                        </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                            </div>
                            <div class="entry">
                                <img class="img-responsive" src="/images/shop/shop.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                            <a href="/images/shop/shop.jpg" title="" data-gal="prettyPhoto[product-gallery]" rel="prettyPhoto[product-gallery]"><i class="icon-picons-zoom-in icon-pf-xs"></i></a>
                                        </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                            </div>
                            <div class="entry last">
                                <img class="img-responsive" src="/images/shop/shop.jpg" alt="">
                                <div class="magnifier">
                                    <div class="buttons">
                                            <a href="/images/shop/shop.jpg" title="" data-gal="prettyPhoto[product-gallery]" rel="prettyPhoto[product-gallery]"><i class="icon-picons-zoom-in icon-pf-xs"></i></a>
                                        </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                            </div>    
                        </div>
                        </div><!-- end portfolio_item -->
                    </div><!-- end col-sm-6 -->
                    <div class="col-sm-8">
                             <div class="product_details">
                        <h3>Antara en números</h3>
                            <ul>
                            <li><strong>Año de construcción: </strong>2006</li>
                            <li><strong>ARB: </strong>107,500 m²</li>
                            <li><strong>ARB Privativo*:</strong>45,000 m²</li>
                            <li><strong>Administrador del inmueble: </strong>GSM</li>
                            <li><strong>Afluencia anual de visitantes: </strong> 6.3 millones</li>
                            <li><strong>Principales arrendatarios: </strong>Cinemex, Casa Palacio y Play City</li>
                            </ul>                  
                        </div><!-- end product_details --> 
                        <p>Antara Polanco es un desarrollo mixto, comercial y oficinas, premium ubicado en México D.F., con un ARB de 107,500 m² y 100% de ocupación que ofrece un espacio comercial único al aire libre, combinando elementos de glamour y estilo que lo convierten en un inmueble icónico por su arquitectura, donde se encuentran tiendas insignia de la moda, contando con boutiques de Zara, Bershka, Adidas, Armani Exchange, Calvin Klein, Michael Kors, Casa Palacio, Zara Home y Otilia Freyre Tilita. Antara, también, aloja  los mejores restaurantes, cines, bares, clubes y centros de espectáculos de la Ciudad de México, como lo son Erawan, Cinemex, Odeon, Syrah, Varela, Moshi Moshi, Ragga, Joy Room, Voila y Fat Crow, por mencionar algunos; en este sentido Antara es un portafolio muy bien balanceado de tiendas ancla y sub ancla, contando, además, con un espacio premium de oficinas, teniendo inquilinos como Diageo, GIDI, Tetrapack y Zurich, que redondean su robusta oferta inmobiliaria. </p>
                        <p>Antara ha sido un éxito comercial rotundo de GSM, que por su experiencia como desarrollador y administrador ha sido capaz de incrementar en cerca de 700% los derechos de arrendamiento de US$1,000.00 en 2006 a US$8,000.00 a la fecha.
                         </p>
                        
                   
                    </div><!-- end col-sm-6 -->
                
                    <div class="clearfix"></div>
                </div><!-- end col-lg-12 -->
            </div><!-- end row --><br>
		</div><!-- end container -->
	</section><!-- end postwrapper -->
    
	<section class="parallax" style="background-image: url('/images/parallax/andaresblur2.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
		<div class="overlay">
        	<div class="container">
				<div class="stat f-container">
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">9.5%</span>
                            <div class="milestone-details">Tasa de Interés Promedio Ponderada</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">30 años</span>
                            <div class="milestone-details">Plazo de los Créditos</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">58%</span>
                            <div class="milestone-details">LTV Promedio Ponderado</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                            <span class="highlight">1.30x</span>
                            <div class="milestone-details">Cobertura - NOI</div>
						</div>
					</div>
				</div><!-- stat -->
            </div><!-- end container -->
    	</div><!-- end overlay -->
    </section><!-- end transparent-bg -->

	<section class="white-wrapper jt-shadow">
    	<div class="container">
			<div class="calloutbox bggrey">
            	<div class="post-type-icon">
                    <i class="icon-picons-paper-2"></i>
                </div>
            	<div class="col-lg-10">
            	<h2>Conozca nuestro prospecto en detalle</h2>
                <p>Créditos respaldados por inmuebles con una expresión arquitectónica vistosa y diferenciada <br>que les brinda una gran ventaja competitiva,</p>
                </div>
                <div class="col-lg-1">
                <a href="#" class="btn pull-right btn-primary btn-lg"><i class="fa fa-download"></i> Prospecto</a>
                </div>
            </div><!-- end messagebox -->
		</div><!-- end container -->
    </section><!-- end white-wrapper -->
    <!--  Twitter line  -->  
    <%= erb :"layouts/twitter" %> 
    
	<%= erb :"layouts/footer" %>
    <!-- end #footer-style-1 -->    
    <%= erb :"layouts/copyrights" %>
 </div>
</div>
<div class="dmtop">Scroll to Top</div>

<!-- SLIDE-UP CONTENT--> 
<div class="bonfire-slideout-button-triangle-background"></div>
<div class="bonfire-slideout">
  <div class="bonfire-slideout-inner">
    <div class="bonfire-slideout-inner-inner"> 
      <div class="bonfire-slideout-close"></div>
      <div class="bonfire-slideout-content container">
        <div class="thin">
          <div class="section-title-wrapper">
            <h3 class="section-title">Our Recomendation</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur sagittis lacus vel augue laoreet rutrum faucibus dolor aucto Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </div>
          <div class="margin-top"></div>
          <div class="row">
            <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                        <h3>Your<span class="font-light"> Channel</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />History and Culture</a><br/>
                        Learn more about history and culture from arround the world
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Wild Adventure</a><br/>
                        Free yourself from work and take a wild experience to the center of earth
                        </li>
                        <li>
                       <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Sains and Technology</a><br/>
                        Find out what the latest issue about science and technology
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Urbanesia</a><br/>
                        Keep update about trend, entertainment, and lifestyle for your reference
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
            
             <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                        <h3>What's <span class="font-light">Hot</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Gateway To Touch The Blue Sky</a><br/>
                        June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                            <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Summer Vocation With Nature</a><br/>
                            June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                       <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Forever Young And Unstopable</a><br/>
                        June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                            <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Something Good Work</a><br/>
                            June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
            
             <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                    	<h3>Best <span class="font-light">Offer</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product One</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Two</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>    
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Three</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Four</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
<!-- /SLIDE-UP CONTENT--> 
    
    
 
        
<!-- Java Script ================================================== --> 
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/js/jquery.simple-text-rotator.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/custom-portfolio-masonry.js"></script>
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/royalslider/jquery.easing-1.3.js"></script>
<script type="text/javascript" src="/royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript" src="/js/smoothPageScroll.js"></script>
<script type="text/javascript" src="/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/js/ScrollToPlugin.min.js"></script>
<script type="text/javascript" src="/js/canvas.js"></script>
  
<script type="text/javascript">
	(function($) {
	  "use strict";
			$("#header-default").affix({
			offset: {
			  top: 100, 
			  bottom: function () {
			  return (this.bottom = $('#copyrights').outerHeight(true))
			  }
			}
		})
	})(jQuery);
</script>


</body>
</html>