<!DOCTYPE html>
<html lang="en">
<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>  Luxury Hall </h2>

        <ul class="breadcrumb">

          <li><a href="#"> Portafolio </a></li>

          <li> Propiedades en garantía  </li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 single-portfolio">


          <!--Parte de Imagenes-->
          <div class="col-sm-4 padding-top">
            <div class="portfolio_item">

              <!--imagen grande-->
              <div class="entry">
                <img src="/images/portfolio/pf.jpg" alt="" class="img-responsive">
              </div>

              <!--thumnails-->
              <div class="thumbnails clearfix">

                <!--1er thumnail-->
                <div class="entry first">
                  <img class="img-responsive" src="/images/shop/shop.jpg" alt="">

                  <div class="magnifier">
                    <div class="buttons">
                      <a href="/images/shop/shop.jpg" title="" data-gal="prettyPhoto[product-gallery]" rel="prettyPhoto[product-gallery]"><i class="icon-picons-zoom-in icon-pf-xs"></i></a>
                    </div>
                  </div>
                </div>

                <!--2do thumnail-->
                <div class="entry">
                  <img class="img-responsive" src="/images/shop/shop.jpg" alt="">

                  <div class="magnifier">
                    <div class="buttons">
                      <a href="/images/shop/shop.jpg" title="" data-gal="prettyPhoto[product-gallery]" rel="prettyPhoto[product-gallery]"><i class="icon-picons-zoom-in icon-pf-xs"></i></a>
                    </div>
                  </div>
                </div>

                <!--3er thumnail-->
                <div class="entry last">
                  <img class="img-responsive" src="/images/shop/shop.jpg" alt="">

                  <div class="magnifier">
                    <div class="buttons">
                      <a href="/images/shop/shop.jpg" title="" data-gal="prettyPhoto[product-gallery]" rel="prettyPhoto[product-gallery]"><i class="icon-picons-zoom-in icon-pf-xs"></i></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--Parte de Imagenes END-->



          <!--Parte de Texto-->
          <div class="col-sm-8 padding-left-40">
            <div class="product_details">

              <!--titulo-->
              <h3>Luxury Hall en números</h3>

              <!--tablita-->
              <ul>
                <li><strong>Termino de construcción:</strong>            2010</li>
                <li><strong>ARB: </strong>                               107,500 m²</li>
                <li><strong>ARB Privativo*:</strong>                     10,700 m²</li>
        <li><strong>Administrador del inmueble: </strong>                GSM</li>
                <li><strong>Afluencia anual de visitantes: </strong>     6.4 millones</li>
              </ul>
            </div>

            <!--texto de descripcion-->
            <p>Luxury Hall es un centro comercial premium, con un ARB de 113,000 m² y 100% de ocupación, ubicado en Puebla. Su diseño arquitectónico se distingue por su icónico techo de madera salam y un domo superior. Cuenta con 36 tiendas y un área central con un restaurante-bar. Luxury Hall fue desarrollado en un tiempo récord, entrando en operación en 2010.</p>


          </div>
          <!--Parte de Texto-->


          <div class="clearfix"></div>

        </div>
      </div>
      <br>
    </div>
  </section>

  <!--Contenido END -->



  <%= erb :"layouts/numeros-destacados" %>

  <% erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->


<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>