<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"es/layouts/generales/head" %>

<body>

<%= erb :"es/layouts/generales/preloader" %>

<%= erb :"es/layouts/generales/topbar" %>

<%= erb :"es/layouts/generales/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">
        <h2>Distribución geográfica de propiedades</h2>
        <ul class="breadcrumb">
          <li><a href="#">Portafolio</a></li>
          <li>Distribución geográfica de propiedades</li>
        </ul>
      </div><!-- end caaloutbread -->
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">

    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <h3 class="text-center">6 propiedades <sup>(1)</sup>, 164,100 m<sup>2</sup> de Área Rentable (AR), 81% estabilizadas, y en >5 Cds. ciudades</h3>

          
              <img src="/images/fibhios/contenidos/7MapaDistribucion.jpg" class="img-responsive center-block">

            <p class="legenda">
              (1) Toma en cuenta las oficinas de CI BANCO como una sola propiedad. <br>
              (2) México, DF, Monterrey, León y Guadalajara.<br>
              (3) Contratos de arrendamientos firmados antes de la apertura. <br>
              (4) Considerando la opción de Hot Deal y sobreasignación.<br>
              Nota: el área rentable (AR), se refiere al AR privativo, que es el AR de la unidad privativa acreedora del crédito (garantía)</p>
            <div class="clearfix"></div>

          </div><!-- end widget -->
        </div><!-- end col-lg-6 -->
      </div><!-- end row --><br>
    </div><!-- end container -->



  </section>

  <!--Contenido END -->



  <%= erb :"es/layouts/contenido/numeros-destacados" %>

  <%= erb :"es/layouts/contenido/prospecto" %>

  <%= erb :"es/layouts/generales/twitter" %>

  <%= erb :"es/layouts/generales/footer" %>

  <%= erb :"es/layouts/generales/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"es/layouts/contenido/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"es/layouts/contenido/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"es/layouts/contenido/js-contenidos" %>


</body>
</html>
