<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"english/layouts/head" %>

<body>

<%= erb :"english/layouts/preloader" %>

<%= erb :"english/layouts/topbar" %>

<%= erb :"english/layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">
        <h2>Loans</h2>
        <ul class="breadcrumb">
          <li><a href="#">Portfolio</a></li>
          <li>Loans</li>
        </ul>
      </div><!-- end caaloutbread -->
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">


    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h3>Senior Credits With a Solid Collateral Structure</h3>
          <p>We plan to structure a portfolio of loans secured by mortgages and/or fiduciary guarantees on premium commercial properties and offices that, given their location and architectural design, have a competitive edge on their segment. </p>

          <p>It is important to highlight that the loans that we plan to hold in our initial portfolio have gone through strict risk controls and due diligence processes of the main Mexican financial institutions, including: </p>

          <ul class="ck-po">
            <li>Banorte</li>
            <li>Banco del Bajío</li>
            <li>CI Banco</li>
          </ul>

          <h3>The following chart shows what our initial portfolio of loans would be:</h3>

          <table class="display table table-bordered table-striped text-center">
            <thead>
            <tr>
              <th class="text-center" width="14%">Project</th>
              <th class="text-center" width="11%">Loan Use</th>
              <th class="text-center" width="13%">Amount (Ps. MM)</th>
              <th class="text-center" width="7%">Term<sup>1</sup>(years)</th>
              <th class="text-center" width="11%">Grace period (months)</th>
              <th class="text-center" width="8%">Interest Rate</th>
              <th class="text-center" width="13%">Origination fee</th>
              <th class="text-center" width="13%">Expected Annual Gross Revenues<sup>2</sup></th>
              <th class="text-center" width="10%">Coverage Ratio<sup>3</sup></th>
            </tr>
            </thead>

            <tbody>
              <!--<tr>-->
              <!--<td> Andares</td>-->
              <!--<td> Refinancing</td>-->
              <!--<td> 2,725.00</td>-->
              <!--<td> 30</td>-->
              <!--<td> 72</td>-->
              <!--<td>9.40%</td>-->
              <!--<td> 1.15%</td>-->
              <!--<td>246.60</td>-->
              <!--<td> 1.3:1</td>-->
            <!--</tr>-->
            <tr>
              <td>Antara</td>
              <td>Refinancing</td>
              <td>2,200.00</td>
              <td>20</td>
              <td> 36</td>
              <td>8.90%</td>
              <td> 1.15%</td>
              <td>226.10</td>
              <td>1.25:1</td>
            </tr>

            <!-- <tr>
              <td> Picacho</td>
              <td> Developing</td>
              <td> 1,580.00</td>
              <td> 30</td>
              <td> 72</td>
              <td> 9.55%</td>
              <td> 1.50%</td>
              <td> 150.90</td>
              <td> N/A</td>
            </tr> -->
           <tr>
              <td> Andamar I</td>
              <td>Refinancing</td>
              <td>975.00</td>
              <td> 20</td>
              <td> 36</td>
              <td>9.38%</td>
              <td> 1.00%</td>
              <td> 75.30</td>
              <td>1.05:1</td>
            </tr>
          <!--   <tr>
            <td> Andamar II</td>
            <td> Developing</td>
            <td>600.00</td>
            <td> 30</td>
            <td>72</td>
            <td>9.55%</td>
            <td> 1.50%</td>
            <td>57.30</td>
            <td> N/A</td>
          </tr> -->

            <tr>
              <td> Luxury Hall<sup>4</sup></td>
              <td> Refinancing</td>
              <td>485.00</td>
              <td>20</td>
              <td>36</td>
              <td> 9.15%</td>
              <td> 1.50%</td>
              <td>51.70</td>
              <td> 1.25:1</td>
            </tr>

            <tr>
              <td> Angelópolis<sup>4</sup></td>
              <td> Refinancing</td>
              <td> 405.00</td>
              <td> 20</td>
              <td> 36</td>
              <td> 9.25%</td>
              <td> 1.50%</td>
              <td> 43.50</td>
              <td> 1.25:1</td>
            </tr>
            <tr>
              <td> Oficinas CI Banco</td>
              <td> Refinancing</td>
              <td>400.00</td>
              <td>20</td>
              <td> 36</td>
              <td>9.60%</td>
              <td> 1.50%</td>
              <td> 44.40</td>
              <td> 1.25:1</td>
            </tr>

            <tr>
              <td> Universidad<sup>4</sup></td>
              <td>Development </td>
              <td> 351.00</td>
              <td> 20</td>
              <td>36</td>
              <td> 9.25%</td>
              <td> 1.50%</td>
              <td> 37.70</td>
              <td> 1.25:1</td>
            </tr>



            </tbody>
          </table>

          <div class="legenda">
            <p>(1) Prepayment penalty if paid before an interest payment due date, equal to 4% during the first year, 3% in the second year and 2% between the third and tenth year.</p>

            <p>(2) Expected Annual Gross Revenues include interest, costs and fees, considering the term of the loans to their scheduled maturity and assuming no defaults. Expected annual gross revenues will vary if the credits are paid in advance.</p>

            <p>(3) The coverage ratio is based on the Net Operating Income (NOI). For Stabilized Projects, the index should not be less than 1.25 to 1, and for Pre-Stabilized Projects not less than 1.05 to 1.</p>

            <p>(4) In this case, the guarantees will be composed of fiduciary beneficial interests of Master Trusts, representative of a fixed portion (equivalent to 100% in the case of Luxury Hall, 30% in the case of University and 32% in the case of Angelópolis).</p>
          </div>
        </div><!-- end col-lg-6 -->
      </div><!-- end row --><br>
    </div><!-- end container -->


  </section>

  <!--Contenido END -->



  <%= erb :"english/layouts/numeros-destacados" %>

  <%= erb :"english/layouts/prospecto" %>

  <%= erb :"english/layouts/twitter" %>

  <%= erb :"english/layouts/footer" %>

  <%= erb :"english/layouts/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"english/layouts/js-contenidos" %>


</body>
</html>
