<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">
        <h2>Geographic distribution of properties</h2>
        <ul class="breadcrumb">
          <li><a href="#">Portfolio</a></li>
          <li>Geographic distribution of properties</li>
        </ul>
      </div><!-- end caaloutbread -->
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">

    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <h3 class="text-center">6 properties <sup>(1)</sup>, with 1.677 msf of Leaseable Area (“LA”) (79% stabilized) in 6 cities
            </h3>


              <img src="/images/fibhios/contenidos/7MapaDistribucionEn.jpg" class="img-responsive center-block">

            <br/>
            <p class="legenda">
              (1) Considering CI BANCO offices as one property.             <br>
              (2) México, DF, Monterrey, León and Guadalajara.              <br>
              (3) Leasing contracts signed in advance of the opening.              <br>
              (4) If the Hot Deal and the Green Shoe are fulfilled <br>
              Note: The Leasable Area (“LA”), refers to the privative LA, which is the LA of the creditor unit of the loan (guarantee).
             </p>
            <div class="clearfix"></div>

          </div><!-- end widget -->
        </div><!-- end col-lg-6 -->
      </div><!-- end row --><br>
    </div><!-- end container -->



  </section>

  <!--Contenido END -->



  <%= erb :"/english/layouts/numeros-destacados" %>

  <%= erb :"/english/layouts/prospecto" %>

  <%= erb :"/english/layouts/twitter" %>

  <%= erb :"/english/layouts/footer" %>

  <%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>
