<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"english/layouts/head" %>

<body>

<%= erb :"english/layouts/preloader" %>

<%= erb :"english/layouts/topbar" %>

<%= erb :"english/layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">
        <h2>Estructura de participación</h2>
        <ul class="breadcrumb">
          <li><a href="#">Nosotros</a></li>
          <li>Estructura de participación</li>
        </ul>
      </div><!-- end caaloutbread -->
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">

    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <h3 class="text-center"></h3>
            <img src="/images/fibhios/contenidos/estructura-en.jpg" class="img-responsive center-block">
            <div class="legenda">
              <p>(1) The External Manager will acquire 5% of the Initial Offering of  Certificates (CBFIs)</p>
              <p>(2) Management, Guarantee and Payment Source Trust</p>

            </div>
            <p><strong>FIBHIOS</strong> will use the proceeds from its Initial Offering to fund the loans of its initial portfolio. The 9 projects/properties will use these resources for:</p>
            <ul class="ck-po">
              <li> Refinancing their existing debt, and to set new credit lines with FIBHIOS</li>
              <li> Development of new real estate projects</li>
            </ul>


            <p>The credits granted by FIBHIOS will be secured by cash flows and mortgages from the Premium properties, and in some cases by fiduciary beneficial interests on Master Trusts. Each project will include a Management, Guarantee and Payment Source Trust (“FAGFP” is the Spanish acronym), in order to secure the respective Credit Contract.</p>
            <p>Each FAGFP will consider the following distribution cascade:</p>
            <ul class="ck-po">
              <li>FAGFP’s expenses </li>
              <li>Property’s maintenance cost</li>
              <li>Taxes and insurance payments</li>
              <li>Interest payments and capital amortization</li>
              <li>Remaining funds will be returned to the Developer</li>
            </ul>
            <p>
              FIBHIOS in turn will use these resources to cover any debt (if applicable), the External Manager’s fees, and other general expenses. The remaining funds will be distributed to the certificate holders.
            </p>


            <div class="clearfix"></div>

          </div>
        </div><!-- end col-lg-6 -->
      </div><!-- end row --><br>
    </div><!-- end container -->



  </section>

  <!--Contenido END -->



  <%= erb :"english/layouts/numeros-destacados" %>

  <%= erb :"english/layouts/prospecto" %>

  <%= erb :"english/layouts/twitter" %>

  <%= erb :"english/layouts/footer" %>

  <%= erb :"english/layouts/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"english/layouts/js-contenidos" %>


</body>
</html>