<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"english/layouts/head" %>

<body>

<%= erb :"english/layouts/preloader" %>

<%= erb :"english/layouts/topbar" %>

<%= erb :"english/layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">
        <h2>Property Management</h2>
        <ul class="breadcrumb">
          <li><a href="#">Portfolio</a></li>
          <li>Property Management</li>
        </ul>
      </div><!-- end caaloutbread -->
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">

    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div>
            <br>
            <p>The implementation of the business plan that encompasses the origination and management of FIBHIOS’s portfolio of loans will be performed by our External Manager, who will also be in charge of designing the optimal capital structure and the investor relations strategy.</p>
            <p>The management of the underlying properties, on which mortgage and fiduciary guarantees are structured, will be performed mainly by Grupo Sordo Madaleno (GSM). Among its functions are maintaining a high level of occupation and managing optimal tenant relations, as well as development, maintenance and/or repairs of the properties, in order to have a solid operation that supports the generation of funds to service the loans held by FIBHIOS.</p>
            <br>
            <div style="text-align: center">
              <a href="http://www.sordomadaleno.com/">
                <img src="/images/fibhios/contenidos/gsm.jpg" class="center-block" target="_blank" style="display: inline;">
              </a>
            </div>
            <br>
            <h4>Grupo Sordo Madaleno (GSM) will manage the following properties:
            </h4>
            <div class="row">

              <div class="col-md-4">
                <ul class="ck-po">
                  <li>Andamar</li>
                  <li>Angelópolis</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="ck-po">
                  <li>Antara</li>
                  <li>Luxury Hall</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="ck-po">
<!--                   <li>Picacho</li>
 -->                  <li>Universidad</li>
                </ul>
              </div>

            </div>
            <!-- row-->


            <p>GSM has over 4 decades of successful operation and proven experience, currently managing a portfolio of 43.05 msf with an annual influx of 12 million visitors and 100% occupancy, in addition to have about 10 new projects in pipeline. The iconic architecture of GSM is present in residential designs, offices, hospitals, churches, and hotels in Mexico, and in other locations outside Mexico, such as San Antonio, TX.</p>
            <div style="text-align: center">
              <a href="http://www.grupodmi.com.mx/">
                <img src="/images/fibhios/contenidos/DMIlogo.jpg" class="img-responsive center-block" target="_blank" style="display: inline;">
              </a>
            </div>
            <br>
            <strong>DMI</strong>
            <p>Grupo DMI will be responsible for managing Andares. Grupo DMI has over 20 years of professional experience, having developed about 215.28 msf in leading urban projects.</p>
            <div style="text-align: center">
              <a href="http://www.cibanco.com/">
                <img src="/images/fibhios/contenidos/CIBanco.jpg" class="img-responsive center-block" style="display: inline;">
              </a>
            </div>
            <strong>Tenedora CI</strong>
            <p>A subsidiary of CI Banco, Tenedora CI will be in charge of managing the offices of CI Banco and CI Casa de Bolsa through its seasoned management team.</p>
            <div class="clearfix"></div>

          </div><!-- end widget -->
        </div><!-- end col-lg-6 -->
      </div><!-- end row --><br>
    </div><!-- end container -->



  </section>

  <!--Contenido END -->



  <%= erb :"english/layouts/numeros-destacados" %>

  <%= erb :"english/layouts/prospecto" %>

  <%= erb :"english/layouts/twitter" %>

  <%= erb :"english/layouts/footer" %>

  <%= erb :"english/layouts/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"english/layouts/js-contenidos" %>


</body>
</html>
