<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


<%= erb :"/english/layouts/head" %>
<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>
    
   
	
<div class="theme-layout"><!-- for boxed layout style -->
 <section class="wrapper-pgtitle">
    	<div class="container">
			<div class="calloutbread">
            	<h2>Underlying Properties</h2>
                <ul class="breadcrumb">
                    <li><a href="#">Portafolio</a></li>
                    <li>Propiedades relacionadas</li>
				</ul>
            </div><!-- end caaloutbread -->
		</div><!-- end container -->
      <!-- slide-up content -->
      <div id="triangle-up"><a href="#" class="bonfire-slideout-button"><div class="panel-bonfire"><i class="fa fa-plus"></i></div></a></div>
    </section> 

	<section class="white-wrapper">
		<div class="container">
            <div class="padding-top">


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 first">
                    <div class="team_member">
                        <div class="entry">
                            <img class="img-responsive" src="/images/fibhios/propiedades/Antara/antarax350.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="http://www.antara.com.mx/"><span class="fa fa-link"></span></a>
                                    <a class="st" rel="bookmark" href="https://twitter.com/antarafashion"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="https://www.facebook.com/At.Antara"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3 class="text-center"><span class="font-light"></span> Antara<span> | </span> <small>Mexico City</small></h3>
                        <a href="/en/propiedades/antara" class="btn center-block btn-primary"> Detailed information</a>
                    </div><!-- end team_member -->
                </div><!-- end col-lg-4 -->



                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="team_member">
                    <div class="entry">
                      <img class="img-responsive" src="/images/fibhios/propiedades/Picacho/picachox350.jpg" alt="">
                      <div class="magnifier">
                        <div class="buttons">
                          <a class="sf" rel="bookmark" href="http://www.realestatemarket.com.mx/articulos/mercado-inmobiliario/comercial/13041-grupo-sordo-madaleno"><span class="fa fa-rss"></span></a>
                          <a class="st" rel="bookmark" href="http://masaryk.tv/77590/picacho-lifestyle-center-un-antara-en-el-sur.html"><span class="fa fa-rss"></span></a>
                          <br>
                        </div>
                      </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3 class="text-center"><span class="font-light"></span> Picacho<span> | </span> <small>Mexico City</small></h3>
                    <a href="/en/propiedades/picacho" class="btn center-block btn-primary"> Detailed information</a>
                  </div><!-- end team_member -->
                </div><!-- end col-lg-4 -->




                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="team_member">
                    <div class="entry">
                      <img class="img-responsive" src="/images/fibhios/propiedades/Andares/andaresx350.jpg" alt="">
                      <div class="magnifier">
                        <div class="buttons">
                          <a class="sf" rel="bookmark" href="http://www.andares.com/"><span class="fa fa-link"></span></a>
                          <a class="st" rel="bookmark" href="https://twitter.com/andarescc"><span class="fa fa-twitter"></span></a>
                          <a class="sg" rel="bookmark" href="https://www.facebook.com/AndaresCC"><span class="fa fa-facebook"></span></a>
                          <br>
                        </div>
                      </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3 class="text-center"><span class="font-light"></span> Andares <span> | </span> <small>  Guadalajara  </small></h3>
                     <a href="/en/propiedades/andares" class="btn center-block btn-primary"> Detailed information</a>
                  </div><!-- end team_member -->
                </div><!-- end col-lg-4 -->
                
                <div class="clearfix"></div>
                <hr><br>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="team_member">
                    <div class="entry">
                      <img class="img-responsive" src="/images/fibhios/propiedades/LuxuryHall/luxuryhallx350.jpg" alt="">
                      <div class="magnifier">
                        <div class="buttons">
                          <a class="sf" rel="bookmark" href="http://luxuryhall.com.mx/"><span class="fa fa-link"></span></a>
                          <a class="st" rel="bookmark" href="https://twitter.com/LuxuryHall1"><span class="fa fa-twitter"></span></a>
                          <a class="sg" rel="bookmark" href="https://www.facebook.com/Luxuryhall"><span class="fa fa-facebook"></span></a>
                        </div>
                      </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3 class="text-center"><span class="font-light"></span> Luxury Hall <span> | </span> <small>  Puebla  </small></h3>
                     <a href="/en/propiedades/luxury-hall" class="btn center-block btn-primary"> Detailed information</a>
                  </div><!-- end team_member -->
                </div><!-- end col-lg-4 -->


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="team_member">
                    <div class="entry">
                      <img class="img-responsive" src="/images/fibhios/propiedades/CIBanco/cibancox350.jpg    " alt="">
                      <div class="magnifier">
                        <div class="buttons">
                          <a class="sf" rel="bookmark" href="http://www.cibanco.com/"><span class="fa fa-link"></span></a>

                          <br>

                        </div>
                      </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3 class="text-center"><span class="font-light"></span> Oficinas CI Banco  <span> | </span> <small>  Multiple cities  </small></h3>
                    <a href="/en/propiedades/oficinas-ci-banco" class="btn center-block btn-primary"> Detailed information</a>
                  </div><!-- end team_member -->
                </div><!-- end col-lg-4 -->


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="team_member">
                    <div class="entry">
                      <img class="img-responsive" src="/images/fibhios/propiedades/AndamarI/andamar1x350.jpg    " alt="">
                      <div class="magnifier">
                        <div class="buttons">
                          <a class="sf" rel="bookmark" href="http://www.realestatemarket.com.mx/articulos/mercado-inmobiliario/comercial/13041-grupo-sordo-madaleno"><span class="fa fa-rss"></span></a>
                        </div>
                      </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3 class="text-center"><span class="font-light"></span> Andamar I <span> | </span> <small>  Veracruz  </small></h3>
                    <a href="/en/propiedades/andamar-I" class="btn center-block btn-primary"> Detailed information</a>
                  </div><!-- end team_member -->
                </div><!-- end col-lg-4 -->


                <div class="clearfix"></div>
                <hr><br>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="team_member">
                    <div class="entry">
                      <img class="img-responsive" src="/images/fibhios/propiedades/Angelopolis/angelopolisx350.jpg" alt="">
                      <div class="magnifier">
                        <div class="buttons">
                          <a class="sf" rel="bookmark" href="http://www.angelopolispuebla.com/"><span class="fa fa-link"></span></a>
                          <a class="st" rel="bookmark" href="https://twitter.com/ccangelopolis"><span class="fa fa-twitter"></span></a>
                          <a class="sg" rel="bookmark" href="https://www.facebook.com/ccangelopolis"><span class="fa fa-facebook"></span></a>
                        </div>
                      </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3 class="text-center"><span class="font-light"></span> Angelópolis <span> | </span> <small>  Puebla  </small></h3>
                     <a href="/en/propiedades/angelopolis" class="btn center-block btn-primary"> Detailed information</a>
                  </div><!-- end team_member -->
                </div><!-- end col-lg-4 -->


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="team_member">
                    <div class="entry">
                      <img class="img-responsive" src=" /images/fibhios/propiedades/Universidad/universidadx350.jpg   " alt="">
                      <div class="magnifier">
                        <div class="buttons">
                          <a class="sf" rel="bookmark" href="http://www.plaza-universidad.com/"><span class="fa fa-link"></span></a>
                          <a class="st" rel="bookmark" href="https://twitter.com/P_UNIVERSIDAD"><span class="fa fa-twitter"></span></a>
                          <a class="sg" rel="bookmark" href="https://www.facebook.com/PlazaUniversidad.Mexico"><span class="fa fa-facebook"></span></a>
                        </div>
                      </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3 class="text-center"><span class="font-light"></span> Universidad <span> | </span> <small>  Mexico City  </small></h3>
                      <a href="/en/propiedades/universidad" class="btn center-block btn-primary"> Detailed information</a>
                  </div><!-- end team_member -->
                </div><!-- end col-lg-4 -->


                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="team_member">
                    <div class="entry">
                      <img class="img-responsive" src="/images/fibhios/propiedades/AndamarII/andamar2x350.jpg" alt="">
                      <div class="magnifier">
                        <div class="buttons">
                          <a class="sf" rel="bookmark" href="http://www.realestatemarket.com.mx/articulos/mercado-inmobiliario/comercial/13041-grupo-sordo-madaleno"><span class="fa fa-rss"></span></a>
                        </div>
                      </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3 class="text-center"><span class="font-light"></span> Andamar II <span> | </span> <small>  Veracruz  </small></h3>
                    <a href="/en/propiedades/andamar-II" class="btn center-block btn-primary"> Detailed information</a>
                  </div><!-- end team_member -->
                </div><!-- end col-lg-4 -->


            </div><!-- end row -->   
        </div><!-- end container -->
	</section><!-- end postwrapper -->
<br><br>

<%= erb :"/english/layouts/numeros-destacados" %>

<%= erb :"/english/layouts/prospecto" %>

<%= erb :"/english/layouts/twitter" %>

<%= erb :"/english/layouts/footer" %>

<%= erb :"/english/layouts/copyrights" %>
 </div>

<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>

<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>