<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <div class="widget">
                          <div class="title">
                                <h3>FIBHIOS<span class="font-light"> Investors</span></h3>
                               
                          </div><!-- end title -->
                          <div class="about_tabbed">     
                                        <div class="panel-group" id="accordion2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading <%= "active" if @ri_menu == 1 %>">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">FIBHIOS</a>
                                                    </h4>
                                                </div><!-- end panel-heading -->
                                                <div id="collapseOne" class="panel-collapse collapse <%= "in" if @ri_menu == 1 %>" >
                                                    <div class="panel-body-ri">
                                                        <ul class="chevron">
                                                              <li><a href="/en/inversionistas/perfil">Profile</a></li>
                                                              <li><a href="/en/inversionistas/marco-economico">Economic Backdrop</a></li>
                                                              <li><a href="/en/inversionistas/directivos">Management Team</a></li>
                                                          </ul>
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapseOne -->
                                            </div><!-- end panel -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading <%= "active" if @ri_menu == 2 %>">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Strategy</a>
                                                    </h4>
                                                </div><!-- end panel-heading -->
                                                <div id="collapseTwo" class="panel-collapse collapse <%= "in" if @ri_menu == 2 %>">
                                                    <div class="panel-body-ri">
                                                       <ul class="chevron">
                                                              <li><a href="/en/inversionistas/estructura">Collateral Structure</a></li>
                                                              <li><a href="/en/inversionistas/modelo">Business Model</a></li>
                                                              <li><a href="/en/inversionistas/atractivo">Investment Grounds</a></li>
                                                              <li><a href="/en/inversionistas/ventajas">Competitive Advantage</a></li>
                                                          </ul>
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapseOne -->
                                            </div><!-- end panel -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading <%= "active" if @ri_menu == 3 %>">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Corporate Governance</a>
                                                    </h4>
                                                </div><!-- end panel-heading -->
                                                <div id="collapseThree" class="panel-collapse collapse <%= "in" if @ri_menu == 3 %>">
                                                    <div class="panel-body-ri">
                                                        <ul class="chevron">
                                                              <li><a href="/en/inversionistas/compromiso">Commitment</a></li>
                                                              <li><a href="/en/inversionistas/comite-tecnico">Technical Committee</a></li>
                                                              <li><a href="/en/inversionistas/comites">Governing Committees</a></li>
                                                              <li><a href="/en/inversionistas/administrador">External Manager</a></li>
                                                          </ul>
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapseOne -->
                                            </div><!-- end panel -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading <%= "active" if @ri_menu == 4 %>">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Stock Information</a>
                                                    </h4>
                                                </div><!-- end panel-heading -->
                                                <div id="collapseFour" class="panel-collapse collapse <%= "in" if @ri_menu == 4 %>">
                                                    <div class="panel-body-ri">
                                                        <ul class="chevron">
                                                              <li><a href="/en/inversionistas/tenedores">General Meetings</a></li>
                                                              <li><a href="/en/inversionistas/distribuciones">Distributions</a></li>
                                                              <li><a href="/en/inversionistas/glosario">Glossary</a></li>
                                                          </ul>
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapseOne -->
                                            </div><!-- end panel -->
                                        </div><!-- end panel-group -->
                          </div>
                      </div>
                </div>