<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"english/layouts/preloader" %>

<%= erb :"english/layouts/topbar" %>

<%= erb :"english/layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>  Andares  </h2>

        <ul class="breadcrumb">

          <li><a href="#"> Portafolio </a></li>

          <li>Propiedades relacionadas</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 single-portfolio">


          <!--Parte de Imagenes-->
          <div class="col-sm-4 padding-top">
            <div class="portfolio_item">

              <!--imagen grande-->
              <div class="entry">
                <img src="/images/fibhios/propiedades/Andares/andaresx380.jpg" alt="" class="img-responsive">
              </div>

              <!--thumnails-->
              <div class="thumbnails clearfix">

                <!--1er thumnail-->
                <div class="entry first">
                  <img class="img-responsive" src="/images/fibhios/propiedades/Andares/andaresx112a.jpg" alt="">

                  
                </div>

                <!--2do thumnail-->
                <div class="entry">
                  <img class="img-responsive" src="/images/fibhios/propiedades/Andares/andaresx112b.jpg" alt="">

                </div>

                <!--3er thumnail-->
                <div class="entry last">
                  <img class="img-responsive" src="/images/fibhios/propiedades/Andares/andaresx112c.jpg" alt="">

                 
                </div>

              </div>
            </div>
          </div>
          <!--Parte de Imagenes END-->



          <!--Parte de Texto-->
          <div class="col-sm-8 padding-left-40">
            <div class="product_details">

              <!--titulo-->
              <h3>Andares in numbers</h3>

              <!--tablita-->
              <ul>
                <li><strong>Opening date:</strong>                2008</li>
                <li><strong>LA: </strong>                               1.2 msf</li>
                <li><strong>Privative LA:</strong>                     1.2 msf</li>
        <li><strong>Property manager: </strong>                Grupo DMI</li>
                <li><strong>Visitors per year: </strong>     11.9 million</li>
                <li><strong>Principal tenants:</strong>         Palacio de Hierro, Liverpool, Cinépolis y Playcity</li>
              </ul>
              <p class="legenda">* Leasable Area of the privative creditor unit of the loan (guarantee).</p>
            </div>

            <!--texto de descripcion-->
            <p>Andares is a mixed-use premium mega-development (residential, commercial, and offices), including over 13.3 hectares, a Leasable Area (LA) of 1.2 msf and 100% occupancy. Located in Guadalajara, Jálisco, Andares is the largest commercial center in western Mexico, with 9 apartment towers, 2 corporate business towers, a grand luxury-class hotel with residences, and one mixed-use tower. </p>

            <p>Andares, which is managed by DMI Group, and designed by GSM, has been an architectural icon of Guadalajara since its opening.</p>

          </div>
          <!--Parte de Texto-->


          <div class="clearfix"></div>

        </div>
      </div>
      <br>
    </div>
  </section>

  <!--Contenido END -->



  <%= erb :"english/layouts/numeros-destacados" %>

  <%= erb :"english/layouts/prospecto" %>

  <%= erb :"english/layouts/twitter" %>

  <%= erb :"english/layouts/footer" %>

  <%= erb :"english/layouts/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"english/layouts/js-contenidos" %>


</body>
</html>