<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"english/layouts/head" %>

<body>

<%= erb :"english/layouts/preloader" %>

<%= erb :"english/layouts/topbar" %>

<%= erb :"english/layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Angelópolis</h2>

        <ul class="breadcrumb">

          <li><a href="#">Portfolio</a></li>

          <li>Underlying Properties</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 single-portfolio">


          <!--Parte de Imagenes-->
          <div class="col-sm-4 padding-top">
            <div class="portfolio_item">

              <!--imagen grande-->
              <div class="entry">
                <img src="/images/fibhios/propiedades/Angelopolis/angelopolisx380.jpg" alt="" class="img-responsive">
              </div>

              <!--thumnails-->
              <!--/thumnails-->
               <!-- /botones de propiedades -->
              <div class="text-center">
              <br>
              <div class="btn-group">
                <a href="/en/propiedades/andamar-I"><button type="button" class="btn btn-primary-bd">Back</button></a>
                <a href="/en/propiedades/universidad"><button type="button" class="btn btn-primary-bd">Forward</button></a>
              </div>
              </div>
              <!-- /botones de propiedades -->

            </div>
          </div>
          <!--Parte de Imagenes END-->



          <!--Parte de Texto-->
          <div class="col-sm-8 padding-left-40">
            <div class="product_details">

              <!--titulo-->
              <h3>Angelópolis in numbers</h3>

              <!--tablita-->
              <ul>
                <li><strong>Opening date: </strong>            1998</li>
                <li><strong>LA:  </strong>                               799,671 sf</li>
                <li><strong>Privative LA*:  </strong>                     279,043 sf</li>
        <li><strong>Property manager: </strong>                GSM</li>
                <li><strong>Visitors per year:</strong>     12.65 million</li>
                <li><strong>Principal tenants: </strong>         Palacio de Hierro, Liverpool and Sears</li>
              </ul>
              <p class="legenda">*Leasable Area of the privative creditor unit of the loan (guarantee).</p>
            </div>

            <!--texto de descripcion-->
            <p>Angelópolis is a premium mixed development of commercial spaces and offices located in Puebla, with a Leasable Area (LA) of 1.21 msf on a land plot of over 20 hectares   and 100% occupancy. Like other GSM developments, it possesses an iconic architectural style that distinguishes it from its peers. Its world-class amenities, including 120 shops, 1 food court, several restaurants and 14 movie theaters, make it one of the main social hubs in Puebla. It is anchored by the Palacio de Hierro, Liverpool, and Sears stores. </p>


          </div>
          <!--Parte de Texto-->


          <div class="clearfix"></div>

        </div>
      </div>
      <br>
    </div>
  </section>

  <!--Contenido END -->



  <%= erb :"english/layouts/numeros-destacados" %>

  <%= erb :"english/layouts/prospecto" %>

  <%= erb :"english/layouts/twitter" %>

  <%= erb :"english/layouts/footer" %>

  <%= erb :"english/layouts/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"english/layouts/js-contenidos" %>


</body>
</html>
