<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->



<%= erb :"english/layouts/head" %>

<body>

<%= erb :"english/layouts/preloader" %>

<%= erb :"english/layouts/topbar" %>

<%= erb :"english/layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Antara</h2>

        <ul class="breadcrumb">

          <li><a href="#"> Portfolio </a></li>

          <li>Linked Properties</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
      <div class="row">
        <div id="content" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 single-portfolio">


          <!--Parte de Imagenes-->
          <div class="col-sm-4 padding-top">
            <div class="portfolio_item">


              <!--imagen grande-->
              <div class="entry">
                <img src="/images/fibhios/propiedades/Antara/antarax380.jpg" alt="" class="img-responsive">
              </div>


              <!--thumnails-->
              <div class="thumbnails clearfix">

                <!--1er thumnail-->
                <div class="entry first">
                  <img class="img-responsive" src="/images/fibhios/propiedades/Antara/antarax112a.jpg" alt="">

                 
                </div>

                <!--2do thumnail-->
                <div class="entry">
                  <img class="img-responsive" src="/images/fibhios/propiedades/Antara/antarax112b.jpg" alt="">
                </div>


                <!--3er thumnail-->
                <div class="entry last">
                  <img class="img-responsive" src="/images/fibhios/propiedades/Antara/antarax112c.jpg" alt="">

                </div>


              </div>
            </div>


          </div>
          <!--Parte de Imagenes END-->


          <!--Parte de Texto-->
          <div class="col-sm-8 padding-left-40">
            <div class="product_details">

              <!--titulo-->
              <h3>Antara in numbers</h3>

              <!--tablita-->
              <ul>
                <li><strong>Opening date: </strong>2006</li>
                <li><strong>LA: 	 </strong>1.16 msf</li>
                <li><strong>Privative LA*: 	</strong>484,376 sf</li>
                <li><strong>Property manager:         </strong>GSM</li>
                <li><strong>Visitors per year: 	</strong> 6.3 million</li>
                <li><strong>Principal tenants:  </strong>Cinemex, Casa Palacio y Play City</li>
              </ul>
              <p class="legenda">*Leasable Area of the privative creditor unit of the loan (guarantee).</p>
            </div>


            <!--texto de descripcion-->
            <p>Antara Polanco is a premium mixed development of commercial and office space, located in Mexico City, with a Leasable Area (LA) of 1.16 msf and 100% occupancy. It offers a unique outdoor commercial space that combines elements of glamour and style that makes it an iconic place for its architecture. Antara houses many prestigious flagship fashion stores, such as Zara, Bershka, Adidas, Armani Exchange, Calvin Klein, Michael Kors, Casa Palacio, Zara Home, and Otilia Freyre Tilita. Antara also houses the best restaurants, cinemas, bars, clubs, and other entertainment venues in Mexico City, such as Erawan, Cinemex, Odeon, Syrah, Varela, Moshi Moshi, Ragga, Joy Room, Voila, and Fat Crow, among others. Antara is thus a well-balanced portfolio of anchor and sub-anchor stores, additionally containing premium office space which houses tenants such as Diageo, GIDI, Tetrapack, and Zurich, making it a robust real estate offering.   </p>

            <p>Antara has been a sound success of GSM, who has been able to increase the lease rate by 700%, from about US$1,000.00 in 2006 to US$8,000.00 at present, by taking advantage of its experience in management and development.</p>

          </div>
          <!--Parte de Texto-->


          <div class="clearfix"></div>

        </div>
      </div>
      <br>
    </div>
  </section>

  <!--Contenido END -->



  <%= erb :"english/layouts/numeros-destacados" %>

  <%= erb :"english/layouts/prospecto" %>

  <%= erb :"english/layouts/twitter" %>

  <%= erb :"english/layouts/footer" %>

  <%= erb :"english/layouts/copyrights" %>

</div>

<!--CONTENT END-->

<!--Pagina off canvas-->
<%= erb :"english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"english/layouts/js-contenidos" %>


</body>
</html>