<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Our External Manager</h2>

        <ul class="breadcrumb">

          <li><a href="#">Investors</a></li>

          <li>Corporate Governance</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
  <div class="container">
  <div class="row">
  <br>

  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">


  <h3>Our External Manager</h3>

  <p>FIBHIOS will be externally managed by FHIPOS, which will be constituted as a Sociedad Anónima Promotora de Inversión (SAPI) but will embrace certain governance principles of a Sociedad Anónima Bursátil (S.A.B. de C.V.), i.e. of a publicly traded company at Mexbol, thereby strengthening the global structure of the corporate governance of FIBHIOS.</p>

  <p>FHIPOS will have its own Board of Directors, which will comprise 21 members, of which at least 25% must be independent.</p>

  <p>To support the duties of its Board of Directors, FHIPOS will establish 3 committees with specific functions, performing in a dual structure to the FIBHIOS’s committees. These are oriented to have greater scrutiny and control, and an optimal alignment of the execution of strategies and guidelines between FIBHIOS and FHIPOS.</p>

  <h3>Board of Directors</h3>

  <p>The following chart shows the members of FHIPOS’s Board of Directors:</p>

  <br/>

  <table id="comit-tecn-table" class="display table table-bordered table-striped">
    <thead>
    <tr>
      <th>
        Member
      </th>
      <th>
        Posición
      </th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Luis Miguel Osio Barroso</td>
      <td>Chairman</td>
    </tr>
    <tr>
      <td>Javier Sordo Madaleno Bringas</td>
      <td>Director</td>
    </tr>
    <tr>
      <td>Eduardo Leaño Espinosa</td>
      <td>Director</td>
    </tr>
    <tr>
      <td>José Juan Sordo Madaleno de Haro**</td>
      <td>Director</td>
    </tr>
    <tr>
      <td>Ramiro González Luna*</td>
      <td>Director</td>
    </tr>
    <tr>
      <td>Michell Nader Schekaiban*</td>
      <td>Director</td>
    </tr>
    <tr>
      <td>José Martínez Bertiz*</td>
      <td>Director</td>
    </tr>
    <tr>
      <td>Norman Hagemeister Rey*</td>
      <td>Director</td>
    </tr>
    <tr>
      <td>Xavier Osio Buch</td>
      <td>Alternate Director</td>
    </tr>
    <tr>
      <td>Álvaro Leaño Espinosa</td>
      <td>Alternate Director</td>
    </tr>
    <tr>
      <td>Alejandro Sainz Castillo</td>
      <td>Alternate Director</td>
    </tr>
    <tr>
      <td>José Christian Carreón Álvarez*</td>
      <td>Alternate Director</td>
    </tr>
    </tbody>
  </table>

  <p class="legenda">* Independent, in accordance with the Ley del Mercado de Valores</p>

  <p class="legenda">** CEO</p>

  <p class="legenda"> Carlos Creel Carrera will act as Secretary of the Board and Emilio Aarún as Alternate-Secretary</p>


  <!--fotos y descripcion-->

  <div class="clearfix"></div>

  <!--Persona -->
  <div class="row">

    <!--imagen-->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
      <div class="team_member padding-top">
        <div class="entry">
          <img class="img-responsive" src="/images/fibhios/directivos/team.jpg" alt="">

          <div class="magnifier">
            <div class="buttons">
              <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
              <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--texto-->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="team_member">
        <h1>Luis Miguel Osio Barroso </h1>

        <p>Currently Director of the Board of CIBanco, CI Casa de Bolsa, and Finanmadrid. Mr. Osio holds the position of CEO and member of the Executive Committee at CIBanco and all the companies of CI Group. Since April 2001 to the present date, he has held the position of Director of the Board at Protel I-Next and MOBILOFFICE S.A. de C.V., fixed telephony concessionaires, and is also founder and Deputy Director of several residential and tourism development projects in partnership with Central de Arquitectura S.C., a Mexican company engaged in real estate development. From February 1995 to 2001, he was Vice President and founding partner of Ixe Grupo Financiero, Ixe Banco S.A., and Ixe Casa de Bolsa S.A. de C.V. From 1994 to 1995, he served as founding partner and CEO of Grupo Financiero FIMSA and Casa de Bolsa FIMSA, S.A. de C.V. From 1987 to 1993, he performed as Chairman and founding partner of Grupo Fin S.A. de C.V. and Factor Fin S.A. de C.V. (now Ixe Factoraje). Mr. Osio graduated from the Universidad Anáhuac with a Bachelor’s degree in Business Administration.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--Persona FIN -->

  <hr>


  <!--Persona -->
  <div class="row">

    <!--imagen-->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
      <div class="team_member padding-top">
        <div class="entry">
          <img class="img-responsive" src="/images/fibhios/directivos/team.jpg" alt="">

          <div class="magnifier">
            <div class="buttons">
              <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
              <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--texto-->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="team_member">
        <h1>Javier Sordo Madaleno Bringas</h1>

        <p>Currently Chairman of Grupo Sordo Madaleno and Sordo Madaleno Arquitectos, founded in 1937 by his father, Mr. Juan Sordo Madaleno. During his more than 40 years of experience in real estate Mr. Sordo has designed and developed millions of square feet of all types of projects, including residential, apartment buildings, housing complexes, offices, public buildings, churches, theaters, tourist developments, hospitals, hotels, commercial centers, museums, restaurants, and clubs, among others. He is a partner of Sociedad Mexicana de Arquitectos, a member of the Teletón Patronage, and a member of Colegio de Arquitectos de México, Academia Nacional de Arquitectura, and Asociación de Desarrolladores Inmobiliarios. He is also Director of the Board for Club de Industriales, Hoteles Intercontinental, and many important commercial centers, such as Plaza Satelite, Plaza Universidad, Antara, and Angelopolis. Recent awards given to Mr. Sordo Madaleno include the National Award “Ocho Columnas” in the arts category, obtained in 2010; the award “Trayectoria Profesional de Excelencia”, granted in 2011 by the Consejo Iberoamericano de Diseñadores de Interiores A.C. (CIDI); the Annual Prize of “Arquitectura e Interiorismo”, granted in 2012 by Grupo Porcelanosa; a special recognition for his “Trascendencia como Arquitecto Desarrollador”, awarded in 2012 by the Colegio de Arquitectos de Nuevo León; an award for his “Career”, given in 2012, by the Asociación Mexicana de Diseñadores de Interiores (AMDI); and the “Trayectoria 2013” prize, awarded in 2013 by the Colegio de Arquitectos de la Ciudad de México y la Sociedad de Arquitectos Mexicanos (CAM-SAM), among others. He graduated from the Architecture Faculty of the Universidad Iberoamericana.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--Persona FIN -->

  <hr>


  <!--Persona -->
  <div class="row">

    <!--imagen-->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
      <div class="team_member padding-top">
        <div class="entry">
          <img class="img-responsive" src="/images/fibhios/directivos/JuanSordo.jpg" alt="">

          <div class="magnifier">
            <div class="buttons">
              <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
              <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--texto-->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="team_member">
        <h1> José Juan Sordo Madaleno de Haro   </h1>

        <p>Has served as Chief Financial and Real Estate Development Officer in Grupo Sordo Madaleno (GSM). In 2014, he led the acquisition of two mixed-use projects amounting to over MXN$5 billion, obtaining MXN$3.25 billion in funding for these projects from different financial institutions. He is also a member of the Board of Directors of several shopping malls, including Antara, Angelópolis, Plaza Universidad, and Plaza Satélite. Since 2010, he has been responsible for structuring all of GSM’s funding needs, achieving in the same year the refinancing of the entirety of GSM’s bank debt among different lenders. Additionally, he is founder of two private real estate investment funds that have raised over USD$500 million. From 2007 to 2009, he served in IDEAL, a Grupo Carso Subsidiary, in the area of Valuation and Project Analysis. Mr. Sordo graduated in Financial Management from Instituto Tecnológico de Estudios Superiores de Monterrey.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--Persona FIN -->

  <hr>





  <!--Persona -->
  <div class="row">

    <!--imagen-->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
      <div class="team_member padding-top">
        <div class="entry">
          <img class="img-responsive" src="/images/fibhios/directivos/team.jpg" alt="">

          <div class="magnifier">
            <div class="buttons">
              <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
              <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--texto-->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="team_member">
        <h1>Michell Nader Schekaiban </h1>

        <p>falta falta faltavfalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta faltafalta falta falta</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--Persona FIN -->


<h3>Committees</h3>

<p>FHIPOS has established three committees, which mirror FIBHIOS’s structure for optimal management:</p>

  <ul class="ck-po">
    <li>Audit & Compliance Committee</li>
    <li>Credit & Investment Committee (Risk)</li>
    <li>Governance Committee</li>
  </ul>

  <h3>Audit & Compliance Committee (ACC)</h3>

  <p>The ACC will be responsible for reviewing the legal, regulatory, accounting, and financial reporting compliance, as well as the quality and integrity of the accounting and financial information of FHIPOS, in all  financial matters with respect to FIBHIOS. </p>

<p>It is important to highlight that the ACC is a committee that has similar functions to those of  FIBHIOS’s Audit and Governance Committees, being intended to ensure the quality and integrity of the financial information, as well as its strict legal and regulatory compliance. </p>

<p>The following chart shows the members of the ACC:</p>


  <table id="comit-tecn-table" class="display table table-bordered table-striped">
    <thead>
    <tr>
      <th>
        Audit & Compliance Committee (ACC)
      </th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Luis Miguel Osio Barroso**</td>
    </tr>
    <tr>
      <td>Javier Sordo Madaleno Bringas</td>
    </tr>
    <tr>
      <td>José Juan Sordo Madaleno de Haro</td>
    </tr>
    <tr>
      <td> Fernando Morales Gutiérrez*   </td>
    </tr>

    <tr>
      <td>Norman Hagemeister Rey*</td>
    </tr>

    <tr>
      <td>  José Christian Carreón Álvarez*  </td>
    </tr>

    <tr>
      <td> Emilio Aarún Cordero***   </td>
    </tr>


    </tbody>
  </table>

  <p class="legenda">* Independent, in accordance with the Ley del Mercado de Valores</p>

  <p class="legenda">** ACC’s Chairman</p>

  <p class="legenda">*** ACC’s Secretary</p>


  <h3>Credit & Investment Committee (Risk) -RCC-</h3>


  <p>The Risk & Credit Committee is responsible for assessing, quantifying, and monitoring market, credit, operating, liquidity, funding, as well as reputational risks present in the operation of the business. This committee has similar functions to FIBHIOS’s Credit and Investment Committee. </p>


  <p>The following chart shows the composition of the RCC:</p>

  <table id="comit-tecn-table" class="display table table-bordered table-striped">
    <thead>
    <tr>
      <th>
        Risk & Credit Committee (RCC)
      </th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Luis Miguel Osio Barroso**</td>
    </tr>
    <tr>
      <td>Javier Sordo Madaleno Bringas</td>
    </tr>
    <tr>
      <td>José Juan Sordo Madaleno de Haro</td>
    </tr>
    <tr>
      <td>Norman Hagemeister Rey*</td>
    </tr>

    <tr>
      <td>Michell Nader Schekaiban*</td>
    </tr>

    <tr>
      <td>Ramiro González Luna*</td>
    </tr>
    <tr>
      <td>José Christian Carreón Álvarez*</td>
    </tr>
    <tr>
      <td>Emilio Aarún Cordero***</td>
    </tr>
    


    </tbody>
  </table>

  <p class="legenda">* Independent, in accordance with the Ley del Mercado de Valores</p>

  <p class="legenda">** RCC’s Chairman</p>

  <p class="legenda">*** RCC’s Secretary</p>

<h3>Governance Committee (GC)</h3>

<p>The Governance Committee is responsible for staying updated and advising the Board of Directors about operations with related parties, as well as any act of governance related to FHIPOS and FIBHIOS. This committee has similar functions to FIBHIOS’s Governance Committee. </p>

<p>The following chart shows the composition of the GC:</p>


  <table id="comit-tecn-table" class="display table table-bordered table-striped">
    <thead>
    <tr>
      <th>
        Governance Committee (GC)
      </th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Luis Miguel Osio Barroso**</td>
    </tr>
    <tr>
      <td>Javier Sordo Madaleno Bringas</td>
    </tr>
    <tr>
      <td>José Juan Sordo Madaleno de Haro</td>
    </tr>
    <tr>
      <td>Michelle Nader Schekaiban*</td>
    </tr>
    <tr>
      <td>José Christian Carreón Álvarez*</td>
    </tr>
    <tr>
      <td>Emilio Aarún Cordero***</td>
    </tr>

    </tbody>
  </table>

  <p class="legenda">* Independent, in accordance with the Ley del Mercado de Valores</p>

  <p class="legenda">** GC’s Chairman</p>

  <p class="legenda">*** GC’s Secretary</p>

  <br/>

  </div>

  <!-- Menu complementario en 3md -->
  <%= erb :"english/layouts/ri-sidebar"%>


  </div>
  <!-- end row -->
  <div class="clearfix"></div>
  </div>
  </section>

  <!--Contenido END -->



  <%= erb :"layouts/parallax-mensaje1" %>

  <%= erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>