<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


<!--Breadcump-->
<section class="wrapper-pgtitle">
  <div class="container">
    <div class="calloutbread">

      <h2>Our External Manager</h2>

      <ul class="breadcrumb">

        <li><a href="#">Investors</a></li>

        <li>Corporate Governance</li>

      </ul>
    </div>
  </div>


  <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
    <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
  </a></div>
</section>
<!--Breadcump END-->


<!--Contenido -->
<section id="contenido" class="white-wrapper">
<div class="container">
<div class="row">
<br>

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">


<h3>Our External Manager</h3>

<p>FIBHIOS will be externally managed by FHIPOS, which will be constituted as a Sociedad Anónima Promotora de Inversión
  (SAPI) but will embrace certain governance principles of a Sociedad Anónima Bursátil (S.A.B. de C.V.), i.e. of a
  publicly traded company at Mexbol, thereby strengthening the global structure of the corporate governance of
  FIBHIOS.</p>

<p>FHIPOS will have its own Board of Directors, which will comprise till 21 members, of which at least 25% must be
  independent.</p>
  <table class="display table table-bordered table-striped">
    <thead>

    </thead>
    <tbody>
    <tr>
      <td>Javier Sordo Madaleno Bringas
      </td>
      <td>Presidente
      </td>
    </tr>
    <tr>
      <td>
        Luis Miguel Osio Barroso
      </td>
      <td>Director
      </td>
    </tr>
    </tr>
    <tr>
      <td>
        Xavier Osio Buch
      </td>
      <td>Director
      </td>
    </tr>
    <tr>
      <td>
        José Juan Sordo Madaleno de Haro
      </td>
      <td>Director
      </td>
    </tr>
    <tr>
      <td>
        Javier Sordo Madaleno de Haro
      </td>
      <td>Director
      </td>
    </tr>

    <tr>
      <td>
        Jose E. Manuel Martínez Vertiz M.*
      </td>
      <td>Alternate Director
      </td>
    </tr>
    <tr>
      <td>
        Luis Miguel Osio Buch
      </td>
      <td>Alternate Director
      </td>
    </tr>
    <tr>
      <td>
        Jerónimo Osio Buch
      </td>
      <td>Alternate Director
      </td>
    </tr>
    <tr>
      <td>
        Fernando Sordo Madaleno de Haro
      </td>
      <td>Alternate Director
      </td>
    </tr>
    <tr>
      <td>

        Santiago de Haro Pérez Teuffer*</td>
      <td>Alternate Director
      </td>
    </tr>


    </tbody>
  </table>
  <p class="legenda">* Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.
    Carlos Creel Carrera y Claudia Bennett Pallás se desempeñan como Secretario y Pro-Secretario, respectivamente.
  </p>
  <!--Persona -->
  <div class="row">

    <!--imagen-->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
      <div class="team_member padding-top">
        <div class="entry">
          <img class="img-responsive" src="/images/fibhios/directivos/JavierSordoMadaleno.jpg" alt="">

          <div class="magnifier">
            <div class="buttons">
              <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
              <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/5355973" target="_blank"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--texto-->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="team_member">
        <h1>Javier Sordo Madaleno Bringas</h1>

        <p>Currently Chairman of Grupo Sordo Madaleno and Sordo Madaleno Arquitectos, founded in 1937 by his father, Mr.
          Juan Sordo Madaleno. During his more than 40 years of experience in real estate Mr. Sordo has designed and
          developed millions of square feet of all types of projects, including residential, apartment buildings, housing
          complexes, offices, public buildings, churches, theaters, tourist developments, hospitals, hotels, commercial
          centers, museums, restaurants, and clubs, among others. He is a partner of Sociedad Mexicana de Arquitectos, a
          member of the Teletón Patronage, and a member of Colegio de Arquitectos de México, Academia Nacional de
          Arquitectura, and Asociación de Desarrolladores Inmobiliarios. He is also Director of the Board for Club de
          Industriales, Hoteles Intercontinental, and many important commercial centers, such as Plaza Satelite, Plaza
          Universidad, Antara, and Angelopolis. Recent awards given to Mr. Sordo Madaleno include the National Award “Ocho
          Columnas” in the arts category, obtained in 2010; the award “Trayectoria Profesional de Excelencia”, granted in
          2011 by the Consejo Iberoamericano de Diseñadores de Interiores A.C. (CIDI); the Annual Prize of “Arquitectura e
          Interiorismo”, granted in 2012 by Grupo Porcelanosa; a special recognition for his “Trascendencia como
          Arquitecto Desarrollador”, awarded in 2012 by the Colegio de Arquitectos de Nuevo León; an award for his
          “Career”, given in 2012, by the Asociación Mexicana de Diseñadores de Interiores (AMDI); and the “Trayectoria
          2013” prize, awarded in 2013 by the Colegio de Arquitectos de la Ciudad de México y la Sociedad de Arquitectos
          Mexicanos (CAM-SAM), among others. He graduated from the Architecture Faculty of the Universidad
          Iberoamericana.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--Persona FIN -->
  <hr>
  <!--Persona -->
  <div class="row">

    <!--imagen-->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
      <div class="team_member padding-top">
        <div class="entry">
          <img class="img-responsive" src="/images/fibhios/directivos/MiguelOsioBarroso.jpg" alt="">

          <div class="magnifier">
            <div class="buttons">
              <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
              <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/5355973" target="_blank"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--texto-->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="team_member">
        <h1>Luis Miguel Osio Barroso </h1>

        <p>Currently Director of the Board of CIBanco, CI Casa de Bolsa, and Finanmadrid. Mr. Osio holds the position of
          CEO and member of the Executive Committee at CIBanco and all the companies of CI Group. Since April 2001 to the
          present date, he has held the position of Director of the Board at Protel I-Next and MOBILOFFICE S.A. de C.V.,
          fixed telephony concessionaires, and is also founder and Deputy Director of several residential and tourism
          development projects in partnership with Central de Arquitectura S.C., a Mexican company engaged in real estate
          development. From February 1995 to 2001, he was Vice President and founding partner of Ixe Grupo Financiero, Ixe
          Banco S.A., and Ixe Casa de Bolsa S.A. de C.V. From 1994 to 1995, he served as founding partner and CEO of Grupo
          Financiero FIMSA and Casa de Bolsa FIMSA, S.A. de C.V. From 1987 to 1993, he performed as Chairman and founding
          partner of Grupo Fin S.A. de C.V. and Factor Fin S.A. de C.V. (now Ixe Factoraje). Mr. Osio graduated from the
          Universidad Anáhuac with a Bachelor’s degree in Business Administration.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--Persona FIN -->
  <hr/>
  <div class="row">

    <!--imagen-->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
      <div class="team_member padding-top">
        <div class="entry">
          <img class="img-responsive" src="/images/fibhios/directivos/MiguelOsioBarroso.jpg" alt="">

          <div class="magnifier">
            <div class="buttons">
              <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
              <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/5355973" target="_blank"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--texto-->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="team_member">
        <h1>Xavier Osio Buch </h1>

        <p>Mr. Osio Busch has experience in the financial sector, mainly in the areas of Business Management, Planning
          and Budget, he has held several senior positions in CI Banco since 2010, and he is currently in charge of the
          Retail Banking Management Department, having the responsibility of developing growth strategies and budget
          planning for the national branch network. Similarly, he participates in the Committee of Banking Fees & Rates
          and Implementation of the same financial institution. Mr. Osio Buch is also a founding partner and member of
          the board of directors of Lusitano FG SOFOM, company specialized in boutique lending for individuals and
          corporates, with a portfolio of credits of over Ps.200 million. Mr. Osio Buch holds a degree in Business
          Administration from Universidad Anáhuac.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <hr/>
  <!--Persona -->
  <div class="row">

    <!--imagen-->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
      <div class="team_member padding-top">
        <div class="entry">
          <img class="img-responsive" src="/images/fibhios/directivos/JuanSordo.jpg" alt="">

          <div class="magnifier">
            <div class="buttons">
              <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
              <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/5355973" target="_blank"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--texto-->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="team_member">
        <h1> José Juan Sordo Madaleno de Haro </h1>

        <p>Has served as Chief Financial and Real Estate Development Officer in Grupo Sordo Madaleno (GSM). In 2014, he
          led the acquisition of two mixed-use projects amounting to over MXN$5 billion, obtaining MXN$3.25 billion in
          funding for these projects from different financial institutions. He is also a member of the Board of Directors
          of several shopping malls, including Antara, Angelópolis, Plaza Universidad, and Plaza Satélite. Since 2010, he
          has been responsible for structuring all of GSM’s funding needs, achieving in the same year the refinancing of
          the entirety of GSM’s bank debt among different lenders. Additionally, he is founder of two private real estate
          investment funds that have raised over USD$500 million. From 2007 to 2009, he served in IDEAL, a Grupo Carso
          Subsidiary, in the area of Valuation and Project Analysis. Mr. Sordo graduated in Financial Management from
          Instituto Tecnológico de Estudios Superiores de Monterrey.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--Persona FIN -->
  <hr/>
  <div class="row">

    <!--imagen-->
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
      <div class="team_member padding-top">
        <div class="entry">
          <img class="img-responsive" src="/images/fibhios/directivos/JuanSordo.jpg" alt="">

          <div class="magnifier">
            <div class="buttons">
              <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
              <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/5355973" target="_blank"><span class="fa fa-linkedin"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--texto-->
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="team_member">
        <h1> Javier Sordo Madaleno de Haro </h1>

        <p>Joined to Sordo Madaleno Arquitectos in 2005 as Designer Architect under the training and supervision of his
          father, Mr. Javier Sordo Madaleno Bringas. During this first stage, he collaborated on diverse projects, among
          which Andares stands out (a large scale mixed-use project located in Guadalajara, Jálisco). Having performed
          on many high architectural design challenges, in 2008 became Director of Projects, having under his
          responsibility projects as the Hotel Solaz in Los Cabos, Hotel Auberge in Cozumel, the METS Museum, the
          competition to develop the Bancomer Tower, among others. Javier currently has under his supervision over 35
          projects, totaling about 21.53 msf. Under his command projects as Antea in Queretaro, Midtown in Jalisco,
          Angelopolis, and Luxury Hall in Puebla, Parque Toreo, Residencial Artesia, Andamar in Veracruz, the Hyatt
          hotels in Playa del Carmen and Guadalajara have been carried out. He graduated in Architecture from the
          Universidad Iberoamericana (2003-2008).</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <h3>Committees</h3>

  <p>FHIPOS has established committees, which follows FIBHIOS’s structure for an optimal management.</p>
  <br/>
</div>

<!-- Menu complementario en 3md -->
<%= erb :"english/layouts/ri-sidebar" %>


</div>
<!-- end row -->
<div class="clearfix"></div>
</div>
</section>

<!--Contenido END -->



<%= erb :"/english/layouts/parallax-mensaje1" %>

<%= erb :"/english/layouts/prospecto" %>

<%= erb :"/english/layouts/twitter" %>

<%= erb :"/english/layouts/footer" %>

<%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>
