<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


<!--Breadcump-->
<section class="wrapper-pgtitle">
  <div class="container">
    <div class="calloutbread">

      <h2>Our External Manager</h2>

      <ul class="breadcrumb">

        <li><a href="#">Investors</a></li>

        <li>Corporate Governance</li>

      </ul>
    </div>
  </div>


  <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
    <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
  </a></div>
</section>
<!--Breadcump END-->


<!--Contenido -->
<section id="contenido" class="white-wrapper">
<div class="container">
<div class="row">
<br>

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">


<h3>Our External Manager</h3>

<p>FIBHIOS will be externally managed by FHIPOS, which will be constituted as a Sociedad Anónima Promotora de Inversión
  (SAPI) but will embrace certain governance principles of a Sociedad Anónima Bursátil (S.A.B. de C.V.), i.e. of a
  publicly traded company at Mexbol, thereby strengthening the global structure of the corporate governance of
  FIBHIOS.</p>

<p>FHIPOS will have its own Board of Directors, which will comprise till 21 members, of which at least 25% must be
  independent.</p>

<p>To support the duties of its Board of Directors, FHIPOS will establish committees with specific functions,
  performing in a dual structure to FIBHIOS’s. These are oriented to have greater scrutiny and control, and an optimal
  alignment of the execution of strategies and guidelines between the both.</p>




<h3>Committees</h3>

<p>FHIPOS has established committees, which follows FIBHIOS’s structure for an optimal management.</p>


  <h3>Executive Committee (EC)</h3>

  <p>Our External Manager will have an Executive Committee, which will perform as a delegated body from the Board of
    Directors and will possess faculties to take decisions in respect to the External Manager functions and duties, same
    that will be consistent with the decisions and procedure manuals or to other authorized mandates approved by the
    Board of Directors, as well as it will support the Credit & Investment Committee of Fibhios to tightly monitor the
    situation and shape of the Portfolio of Credits, it will make knowledgeable to the Board or to the respective
    Committee any relevant situation, it will also be able to call to the Board or any Committee to be gathered, and
    will execute any other action recommended by the Board.</p>

  <p>The Executive Committee will be integrated for at least 5 members to a maximum of 7 members. The Executive
    Committee will be gathered monthly, although will be able to be gathered at any time, if it is the case or if
    immediate attention is required.</p>
  <p>The chart below shows the composition of our Executive Committee:</p>
  <table class="display table table-bordered table-striped">
    <thead>
    <tr>
      <th>
        Executive Committee (EC)
      </th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Luis Miguel Osio Barroso**
        </td>
      </tr>
    <tr>
      <td>Javier Sordo Madaleno Bringas
      </td>
    </tr>
    </tr>
    <tr>
      <td>
        Jose Juan Sordo Madaleno de Haro</td>
    </tr>
    <tr>
      <td>
        Luis A. Nicolau Gutierrez*</td>
    </tr>
    <tr>
      <td>
        Joaquín López-Doriga L.*</td>
    </tr>


    </tbody>
  </table>
  <p class="legenda">* Independent, in accordance to the Ley del Mercado de Valores<br>
    ** EC’s Chairman</p>


</div>

<!-- Menu complementario en 3md -->
<%= erb :"english/layouts/ri-sidebar" %>


</div>
<!-- end row -->
<div class="clearfix"></div>
</div>
</section>

<!--Contenido END -->



<%= erb :"/english/layouts/parallax-mensaje1" %>

<%= erb :"/english/layouts/prospecto" %>

<%= erb :"/english/layouts/twitter" %>

<%= erb :"/english/layouts/footer" %>

<%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>
