<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Appealing Investment </h2>

        <ul class="breadcrumb">

          <li><a href="#">Investors</a></li>

          <li>Strategy</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

                  <h4>1.	New asset class offering a unique exposure to a premium real estate portfolio</h4>
                  <h4>2.	Self-sustainable business model with great potential</h4>
                  <h4>3.	Attractive, risk-adjusted yields</h4>
                  <h4>4.	Solid structure focused on the origination of mortgage loans</h4>
                  <h4>5.	Multidisciplinary and experienced management team</h4>
                  <h4>6.	Strong corporate governance structure ensuring the alignment of interest between Shareholders and the Manager </h4>



                </div>
                <!-- Menu complementario en 3md -->
               <%= erb :"english/layouts/ri-sidebar" %>


           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"/english/layouts/parallax-mensaje1" %>

  <%= erb :"/english/layouts/prospecto" %>

  <%= erb :"/english/layouts/twitter" %>

  <%= erb :"/english/layouts/footer" %>

  <%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>
