<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"layouts/head" %>

<body>

<%= erb :"layouts/preloader" %>

<%= erb :"layouts/topbar" %>

<%= erb :"layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Committees</h2>

        <ul class="breadcrumb">

          <li><a href="#">Investors</a></li>

          <li>Corporate Governance</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <h3>Committees</h3>

                  <p>FIBHIOS has a corporate governance structure in line with international standards, and above the provisions stated by the Ley del Mercado de Valores for publicly traded companies. It seeks to ensure transparency and effectiveness in its management, while achieving a strict alignment of incentives between the External Manager and our certificate holders.</p>
                  <p>The following chart depicts the structure of FIBHIOS’s management bodies:</p>
                  <img src="/images/fibhios/contenidos/comites-en.jpg" class="img-responsive center-block">
                  <h3>Compensation Committee (CC)</h3>
                      <p>The Technical Committee must appoint from among its members 3 persons, one of which shall be independent, to be on the Compensation Committee, which has the following functions:</p>
                      <ul class="ck-po">
                      <li>Reviewing the compensation policies and fees to be paid to the External Manager, Technical Committee Directors (including independent members), and any relevant third party</li>
                      <li>Evaluating the performance of the Technical Committee Directors</li>
                      <li>Identifying and assessing candidates to be elected as Directors to the Technical Committee </li>
                      <li>Issuing recommendations to the External Manager and the Certificate Holders General Meeting about candidates to be elected, appointed, or removed as Technical Committee Directors</li>
                      <li>Proposing the emoluments to be paid to the independent Directors of the Technical Committee at the Certificate Holders General Meeting</li>
                      <li>Advising on the selection criteria for new members of the Technical Committee, management, and external advisors</li>
                    </ul>
                      <p>The chart below shows the composition of our Compensation Committee:</p>
                      <table class="display table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>
                            Compensation Committee (CC)
                        </th>

                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>Luis Miguel Osio Barroso**</td>
                          </tr>
                           <tr>
                            <td>José Juan Sordo Madaleno de Haro</td>
                          </tr>
                          <tr>
                            <td>Salvador Arroyo Rodríguez*</td>
                          </tr>
                          <tr>
                            <td>Emilio Aarún Cordero***</td>
                          </tr>
                        </tbody>
                        </table>
                        <p class="legenda">
                          * Independent, in accordance to the Ley del Mercado de Valores<br>
                          ** CC’s Chairman<br>
                        *** CC’s Secretary<br>
                      </p>
                      <h3>Credit & Investment Committee (Risk) -CIC-</h3>
                        <p>The Technical Committee must appoint an odd number, equal to or greater than 7 members, to comprise the CIC, with the understanding that at least 3 members must be independent. The CIC will be responsible for designing, structuring, and approving guidelines for lending and loan acquisition activities executed by the Trust, as well as on specific operations of such activities. Among such guidelines, the CIC must approve:</p>
                        <ul class="ck-po">
                        <li>Credit policies, subject to the funding guidelines</li>
                        <li>Treasury and investment policies, subject to the investment guidelines</li>
                      </ul>
                        <p>The following chart shows the CIC’s members:</p>
                        <table class="display table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>
                            Credit & Investment Committee (CIC)          </th>

                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>Luis Miguel Osio Barroso</td>
                          </tr>
                           <tr>
                            <td>Javier Sordo Madaleno Bringas</td>
                          </tr>
                          <tr>
                            <td>José Juan Sordo Madaleno de Haro</td>
                          </tr>
                          <tr>
                            <td>Eduardo Leaño Espinosa</td>
                          </tr>
                          <tr>
                            <td>Fernando Chico Pardo*</td>
                          </tr>
                          <tr>
                            <td>Manuel Somoza Alonso*</td>
                          </tr>
                          <tr>
                            <td>José Carlos Silva Sánchez Gavito*</td>
                          </tr>
                          <tr>
                            <td>Luis Nicolau Gutiérrez*</td>
                          </tr>
                          <tr>
                            <td>Salvador Arroyo Rodríguez* **</td>
                          </tr>
                          <tr>
                            <td>Emilio Aarún Cordero***</td>
                          </tr>
                        </tbody>
                        </table>
                        <p class="legenda">
                        * Independent in accordance to the Ley del Mercado de Valores<br>
                        ** CIC’s Chairman<br>
                        *** CIC’s Secretary<br>
                        </p>
                        <p>Audit Committee (AC)</p>
                        <p>The Technical Committee shall appoint from among its members 6 persons, 3 of which must be independent, to integrate the Audit Committee, which has the following functions:</p>
                        <ul class="ck-po">
                        <li>Evaluating the performance of our external auditor, its opinions, reports and documents, and hold at least one session for the fiscal year</li>
                        <li>Discussing the financial statements and recommending to the Technical Committee whether the audited annual financial statements should be presented before the Certificate Holders at the General Meeting </li>
                        <li>Requesting reports regarding the preparation basis of the financial statements of the Trust from the External Manager, the Trustee, or any third party</li>
                        <li>Investigating any possible violation of the guidelines, policies, internal controls, and audit practices</li>
                        <li>If necessary, carrying out the appointment of officers to perform FIBHIOS’s internal control</li>
                        <li>Receiving any comment or complaint from the certificate holders, creditors, members of the Technical Committee, the External Manager, or any third party whom may be interested in the guidelines, policies, internal controls, and approved audit practices, and if necessary, taking the required actions to investigate and remedy the situation</li>
                        <li>Meeting, if appropriate, with the relevant officers of the External Manager, the Common Representative, and the Trustee</li>
                        <li>Reviewing that operations with related parties are performed in accordance with the terms of the Trust Contract, the External Manager, and applicable regulations</li>
                        <li>Discussing and, if appropriate, recommending to the Technical Committee the approval or changes of accounting policies applicable to the Trust</li>
                        <li>Discussing and, if appropriate, recommending to the Technical Committee the approval or changes of accounting policies applicable to the Trust</li>
                        <li>Being informed and, if appropriate, approving any other fact or act related to that mentioned above</li>
                        </ul>
                        <p>The following chart shows the composition of the AC:</p>
                        <table class="display table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>
                            Audit Committee (AC)
                        </th>

                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>Luis Miguel Osio Barroso**</td>
                          </tr>
                           <tr>
                            <td>Javier Sordo Madaleno Bringas</td>
                          </tr>
                          <tr>
                            <td>José Juan Sordo Madaleno de Haro</td>
                          </tr>
                          <tr>
                            <td>Carlos Creel Carrera*</td>
                          </tr>
                          <tr>
                            <td>Salvador Arroyo Rodríguez*</td>
                          </tr>
                          <tr>
                            <td>José Fernando Tejeda Ugalde*</td>
                          </tr>
                          <tr>
                            <td>Emilio Aarún Cordero***</td>
                          </tr>
                        </tbody>
                        </table>
                        <p class="legenda">* Independent, in accordance to the Ley del Mercado de Valores<br>
                          ** AC’s Chairman<br>
                          *** AC’s Secretary<br>
                        </p>
                        <h3>Governance Committee (GC)</h3>
                        <p>The Technical Committee shall appoint from among its members to 6 persons, 3 of whom must be independent, to comprise the Governance Committee, which has the following responsibilities:</p>
                       <ul class="ck-po">
                       <li>Voicing its opinion to the Technical Committee and the Certificate Holders General Meeting on transactions with related parties </li>
                       <li>Being informed and issuing recommendations on any action that relates to the governance of the Trust </li>
                       <li>Presenting to the Technical Committee any information requirements from the External Manager and/or Trustee </li>
                       <li>Being aware of and, if appropriate, approving any other fact or act related to that above</li>
                      </ul>
                        <p>The following table shows the GC’s members:</p>
                         <table class="display table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>
                            Governance Committee (GC)
                        </th>

                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>Luis Miguel Osio Barroso**</td>
                          </tr>
                           <tr>
                            <td>Javier Sordo Madaleno Bringas</td>
                          </tr>
                          <tr>
                            <td>José Juan Sordo Madaleno de Haro</td>
                          </tr>
                          <tr>
                            <td>Carlos Creel Carrera*</td>
                          </tr>
                          <tr>
                            <td>José Fernando Tejeda Ugalde*</td>
                          </tr>
                          <tr>
                            <td>Salvador Arroyo Rodríguez*</td>
                          </tr>
                          <tr>
                            <td>Emilio Aarún Cordero***</td>
                          </tr>
                        </tbody>
                        </table>
                          <p class="legenda">* Independent, in accordance to the Ley del Mercado de Valores<br>
                          ** GC’s Chairman<br>
                          *** GC’s Secretary</p>
                          <h3>Funding Committee (FC)</h3>
                          <p>The Technical Committee shall appoint an odd number, equal to or greater than 3 members, whom must be independent, to comprise the Funding Committee. The Resolutions of the Funding Committee must be approved by the majority of its members, and it carries the following duties:</p>
                          <ul class="ck-po">
                          <li>Watching over the establishment of mechanisms and controls oriented to verify that any assumed debt under the Trust´s equity is  compliant with the applicable provisions of the Circular Única de Emisoras</li>
                          <li>Informing the Technical Committee of any breach to the applicable regulation</li>
                          </ul>
                          <p>The following chart shows the composition of the FC:</p>
                          <table class="display table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>
                            Funding Committee (FC)
                        </th>
                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>Salvador Arroyo Rodríguez* **</td>
                          </tr>
                           <tr>
                            <td>José Carlos Silva Sánchez Gavito*</td>
                          </tr>
                          <tr>
                            <td>Luis A. Nicolau Gutiérrez*</td>
                          </tr>
                          <tr>
                            <td>Fernando Chico Pardo*</td>
                          </tr>
                          <tr>
                            <td>Emilio Aarún Cordero***</td>
                          </tr>
                           <tr>
                            <td>José Juan Sordo Madaleno de Haro</td>
                          </tr>
                           <tr>
                            <td>Luis Miguel Osio Barroso</td>
                          </tr>
                        </tbody>
                        </table>
                        <p class="legenda">* Independent, in accordance to the Ley del Mercado de Valores<br>
                          **FC’s Chairman<br>
                          ***FC’s Secretary</p>
                  <br>
                </div>

                <!-- Menu complementario en 3md -->
               <%= erb :"english/layouts/ri-sidebar" %>
               
              
           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"layouts/parallax-mensaje1" %>

  <%= erb :"layouts/prospecto" %>

  <%= erb :"layouts/twitter" %>

  <%= erb :"layouts/footer" %>

  <%= erb :"layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"layouts/js-contenidos" %>


</body>
</html>