<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


<!--Breadcump-->
<section class="wrapper-pgtitle">
  <div class="container">
    <div class="calloutbread">

      <h2>Technical Committee</h2>

      <ul class="breadcrumb">

        <li><a href="#">Investors</a></li>

        <li>Corporate Governance</li>

      </ul>
    </div>
  </div>


  <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
    <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
  </a></div>
</section>
<!--Breadcump END-->


<!--Contenido -->
<section id="contenido" class="white-wrapper">
  <div class="container">
    <div class="row">
      <br>

      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">


        <h3>Technical Committee</h3>

        <p>The Technical Committee is responsible for defining FIBHIOS’s business strategy, as well as monitoring that its External Manager (FHIPOS), properly executes it.</p>

        <p>The following chart presents the composition of the FIBHIOS’s Technical Committee, which may be reelected and/or modified based on the mandates arising from the certificate holders’ meetings:</p>

        <br/>

        <table id="comit-tecn-table" class="display table table-bordered table-striped">
          <thead>
          <tr>
            <th>
              Member
            </th>
            <th>
              Position
            </th>

          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Luis Miguel Osio Barroso</td>
            <td>Chairman</td>
          </tr>
          <tr>
            <td>Javier Sordo Madaleno Bringas</td>
            <td>Director</td>
          </tr>
          <tr>
            <td>Eduardo Leaño Espinosa</td>
            <td>Director</td>
          </tr>
          <tr>
            <td> José Juan Sordo Madaleno de Haro**</td>
            <td>Director</td>
          </tr>
          <tr>
            <td>Antonio del Valle Ruiz*</td>
            <td>Director</td>
          </tr>
          <tr>
            <td>Fernando G. Chico Pardo*</td>
            <td>Director</td>
          </tr>
          <tr>
            <td>Enrique Castillo Sánchez Mejorada*</td>
            <td>Director</td>
          </tr>
          <tr>
            <td>José Ramón Chedraui Eguía*</td>
            <td>Director</td>
          </tr>
          <tr>
            <td>Ricardo Martín Bringas*</td>
            <td>Director</td>
          </tr>
          <tr>
            <td>Rubén Coppel Luken*</td>
            <td>Director</td>
          </tr>
          <tr>
            <td>Luis A. Nicolau Gutiérrez*</td>
            <td>Director</td>
          </tr>
           <tr>
            <td>Miguel Osio Buch</td>
            <td>Alternate Director</td>
          </tr>
          <tr>
            <td>Álvaro Leaño Espinosa</td>
            <td>Alternate Director</td>
          </tr>
          <tr>
            <td>Salvador Arroyo Rodríguez*</td>
            <td>Alternate Director</td>
          </tr>
          <tr>
            <td>José Carlos Silva Sánchez Gavito*</td>
            <td>Alternate Director</td>
          </tr>
          <tr>
            <td>Jorge Fernando Tejeda Ugalde*</td>
            <td>Alternate Director</td>
          </tr>
          </tbody>
        </table>

        <p class="legenda">* Independent, in accordance with the Ley del Mercado de Valores </br>
        ** CEO</br>

       Carlos Creel Carrera and Emilio Aarún Cordero perform as Secretary and Alternate-Secretary, respectively</p>


        <!--fotos y descripcion-->

        <div class="clearfix"></div>

        <!--Persona -->
        <div class="row">

          <!--imagen-->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/team.jpg" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--texto-->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1>Luis Miguel Osio Barroso </h1>

              <p>Currently Director of the Board of CIBanco, CI Casa de Bolsa, and Finanmadrid. Mr. Osio holds the position of CEO and member of the Executive Committee at CIBanco and all the companies of CI Group. Since April 2001 to the present date, he has held the position of Director of the Board at Protel I-Next and MOBILOFFICE S.A. de C.V., fixed telephony concessionaires, and is also founder and Deputy Director of several residential and tourism development projects in partnership with Central de Arquitectura S.C., a Mexican company engaged in real estate development. From February 1995 to 2001, he was Vice President and founding partner of Ixe Grupo Financiero, Ixe Banco S.A., and Ixe Casa de Bolsa S.A. de C.V. From 1994 to 1995, he served as founding partner and CEO of Grupo Financiero FIMSA and Casa de Bolsa FIMSA, S.A. de C.V. From 1987 to 1993, he performed as Chairman and founding partner of Grupo Fin S.A. de C.V. and Factor Fin S.A. de C.V. (now Ixe Factoraje). Mr. Osio graduated from the Universidad Anáhuac with a Bachelor’s degree in Business Administration.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--Persona FIN -->

        <hr>


        <!--Persona -->
        <div class="row">

          <!--imagen-->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/team.jpg" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--texto-->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1>Javier Sordo Madaleno Bringas</h1>

              <p>Currently Chairman of Grupo Sordo Madaleno and Sordo Madaleno Arquitectos, founded in 1937 by his father, Mr. Juan Sordo Madaleno. During his more than 40 years of experience in real estate Mr. Sordo has designed and developed millions of square feet of all types of projects, including residential, apartment buildings, housing complexes, offices, public buildings, churches, theaters, tourist developments, hospitals, hotels, commercial centers, museums, restaurants, and clubs, among others. He is a partner of Sociedad Mexicana de Arquitectos, a member of the Teletón Patronage, and a member of Colegio de Arquitectos de México, Academia Nacional de Arquitectura, and Asociación de Desarrolladores Inmobiliarios. He is also Director of the Board for Club de Industriales, Hoteles Intercontinental, and many important commercial centers, such as Plaza Satelite, Plaza Universidad, Antara, and Angelopolis. Recent awards given to Mr. Sordo Madaleno include the National Award “Ocho Columnas” in the arts category, obtained in 2010; the award “Trayectoria Profesional de Excelencia”, granted in 2011 by the Consejo Iberoamericano de Diseñadores de Interiores A.C. (CIDI); the Annual Prize of “Arquitectura e Interiorismo”, granted in 2012 by Grupo Porcelanosa; a special recognition for his “Trascendencia como Arquitecto Desarrollador”, awarded in 2012 by the Colegio de Arquitectos de Nuevo León; an award for his “Career”, given in 2012, by the Asociación Mexicana de Diseñadores de Interiores (AMDI); and the “Trayectoria 2013” prize, awarded in 2013 by the Colegio de Arquitectos de la Ciudad de México y la Sociedad de Arquitectos Mexicanos (CAM-SAM), among others. He graduated from the Architecture Faculty of the Universidad Iberoamericana.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--Persona FIN -->

        <hr>


        <!--Persona -->
        <div class="row">

          <!--imagen-->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/JuanSordo.jpg" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--texto-->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1> José Juan Sordo Madaleno de Haro   </h1>

              <p>Has served as Chief Financial and Real Estate Development Officer in Grupo Sordo Madaleno (GSM). In 2014, he led the acquisition of two mixed-use projects amounting to over MXN$5 billion, obtaining MXN$3.25 billion in funding for these projects from different financial institutions. He is also a member of the Board of Directors of several shopping malls, including Antara, Angelópolis, Plaza Universidad, and Plaza Satélite. Since 2010, he has been responsible for structuring all of GSM’s funding needs, achieving in the same year the refinancing of the entirety of GSM’s bank debt among different lenders. Additionally, he is founder of two private real estate investment funds that have raised over USD$500 million. From 2007 to 2009, he served in IDEAL, a Grupo Carso Subsidiary, in the area of Valuation and Project Analysis. Mr. Sordo graduated in Financial Management from Instituto Tecnológico de Estudios Superiores de Monterrey.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--Persona FIN --> 
        <!--Persona FIN -->

        <hr>



        <!--Persona -->
        <div class="row">

          <!--imagen-->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/team.jpg" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--texto-->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1> Antonio del Valle Ruiz  </h1>

              <p>Currently serves as Lifetime Honorary Chairman of Grupo Empresarial Kaluz and its subsidiaries. Since 2002, when he founded Kaluz, to September 2012, he served as Chairman of the Board of Directors of the Group comprised for Mexichem (chemicals and petrochemicals), Elementia (building materials), Ve por Más (financial sector), and other companies in the housing and real estate sector. The annual revenue of the Group surpasses the US$5 billion with operations in 20 countries and approximately 20,000 employees. Mr. Del Valle has over four decades of experience in the Mexican financial sector: in 1992, he acquired and founded Banco Internacional and founded Grupo Financiero Bital, where he performed as Chairman of the Board, CEO and main shareholder until 2001; from 1962 to 1974, he served as CEO of Crédito Refaccionario Industrial; in 1974, he acquired and merged several financial institutions, which resulted in the creation of Bancrecer, where he performed as Chairman of the Board of Directors, CEO and main shareholder until 1982. During his command, Bancrecer became one of the most recognized and productive banks in Mexico. Mr. Del Valle is a member of several Boards of Directors, among them Elementia, Grupo Financiero Ve por Más, Teléfonos de México (AMX‘s subsidiary), Industrias Monterrey S.A., Axa Seguros, S.A. (Mexico), Escuela Bancaria Comercial, and Fundación ProEmpleo. He is a member of the Patronage of the Magdalena Ruiz Valle Foundation and holds the title of Director Ejecutivo de Negocios awarded by the Instituto Panamericano de Alta Dirección de Empresas (IPADE). Mr. Del Valle was Head of the Centro de Estudios del Sector Privado for 4 years, and in 1998 chaired the Asociación Mexicana de Banqueros. He was appointed as Chairman of the Consejo Mexicano de Hombres de Negocios for 2 terms. Regarding his philanthropic work, Mr. Del Valle founded Fundación Kaluz, responsible for promoting several programs of high social and economic impact, supporting education, housing and sports. Mr. Del Valle also supports different cultural and educational institutions such as Fundación Tamayo, Museo del Prado in Madrid, and Arte Mexicano Promoción y Excelencia, A.C. He holds the degree of Private Accountant by the Escuela Bancaria y Comercial (EBC).   </p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--Persona FIN -->

        <hr>



        <!--Persona -->
        <div class="row">

          <!--imagen-->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/team.jpg" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--texto-->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1> Fernando Gerardo Chico Pardo  </h1>

              <p>Currently serves as Chaiman of the Board and CEO of Grupo Promecap, which was founded in 1997. Mr. Chico has over 37 years of investment experience. Among his business achievements, the acquisition of a 49% stake of FRS Capital Corp. (holder of Carrix Inc., the world’s largest private operator of independent ports and rail terminals) stands out, as does the acquisition of the controlling stake of Grupo Aeroportuario del Sureste, S.A.B. de C.V. (GAP), a concessionaire of nine airports in southeastern Mexico and the International Airport of San Juan de Puerto Rico, listed on the Mexican and NY Stock Exchanges with a market cap close to US$3,850 million (as of June 30th, 2014). From 1983 to 1997, he participated as partner and CEO of Inversora Bursátil (Inbursa). During his tenure, Grupo Inbursa became one of the most profitable financial groups in Mexico, with revenues above the US$1.72 billion and developed subsidiaries such as Seguros Inbursa (insurance) and Arrendadora Inbursa (leasing). Mr. Chico also led strategic investments and high-profile acquisitions for Cigatam, Sanborn’s, Frisco, Nacobre, Euzkadi, Teléfonos de México, Condumex, and Sears, among others. In 1980 he founded Acciones y Asesoría Bursátil Casa de Bolsa, pioneering the securities industry in Mexico. In 1978 he was representative of Mocatta Metals Corporation and the Standard Chartered Bank in Mexico. Additionally, Mr. Chico is a member of the Board of Directors of several leading companies, such as Asur, Grupo Carso, Sears Roebuck of Mexico, Sanborn’s, Grupo Financiero BBVA Bancomer, Grupo Posadas, Organización Cultiba, and Bombardier Transportation Mexico, among others. He was a member of the Investment Committee of the Pension Fund of the United Nations, and is currently a member of the Global Council of the same organization. Besides his business activities, Mr. Chico has served as Chairman of the Patronage of Fomento de Investigación y Cultura Superior (FICSAC) of the Universidad Iberoamericana, as well as being a member of Pronatura Mexico, the Patronage of Museo Tamayo, Consejo Estratégico Franco Mexicano (high-level group dedicated to strengthening trade and cultural relations with France), and Vice President of the Mexican chapter of the Honor Legion of France. He graduated in Business Administration from the Universidad Iberoamericana, and holds a MBA from the Kellogg School of Management at Northwestern University.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--Persona FIN -->

        <hr>



        <!--Persona -->
        <div class="row">

          <!--imagen-->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/team.jpg" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--texto-->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1> Enríque Castillo Sánchez Mejorada   </h1>

              <p>Mr. Castillo currently serves as managing partner of Ventura Capital, S.A. de C.V. and as a Chairman of the Board of Directors of Maxcom Telecomunicaciones S.A.B. de C.V.  He has over 35 years of experience in the financial sector: From 2007 to 2009, he chaired the Asociación de Bancos de México. He also served as CEO in Casa de Bolsa Inverlat, Seguros America, Grupo Financiero Inverméxico, and as CEO and Chairman of the Board of Directors of Grupo Financiero Ixe, CEO of Banca Mayorista Banorte, as well as Advisor to the CEO of Grupo Financiero Banorte. From 1997 to 2000, Mr. Castillo was responsible for managing the Credit Suisse First Boston Bank office in Mexico. From 1978 to 1983, he served at Banco Nacional de México (BANAMEX), where he performed several responsibilities that led him to be part of the BANAMEX's governing body. Mr. Castillo is Director at several Boards of companies listed in the Mexican Stock Exchange, such as Grupo Alfa, Cultiba, Grupo Industrial Herdez, Médica Sur, and Southern Cooper Corporation, the latter of which is listed on the NYSE. He graduated in Business Administration from Universidad Anáhuac.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--Persona FIN -->

        <hr>



        <!--Persona -->
        <div class="row">

          <!--imagen-->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/team.jpg" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--texto-->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1> Luis Alfonso Nicolau Gutiérrez   </h1>

              <p>A lawyer and partner at Ritch Mueller, Heather and Nicolau S.C. since 1992. From 2001 to 2003, he served as Corporate Vice President of Grupo Vitro, S.A.B. C.V. He is currently Director at the Board of Grupo Posadas, S.A.B. de C.V., Papalote Museo del Niño, Grupo Financiero Credit Suisse (Mexico) S.A. de C.V., Morgan Stanley Casa de Bolsa S.A. de C.V., Shakey’s Pizza Mexico, as well as being a member of the Board of Trustees of the Indian Mountain School and a member of the Comité de Vigilancia at the Mexican Stock Exchange S.A.B. de C.V. Mr. Nicolau holds a degree in law from Escuela Libre de Derecho, where he also served as chairman of the student council, and has a Master’s degree in law from Columbia University, N.Y., which he attended as a Fullbright Scholar.</p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--Persona FIN -->

        <br/>

      </div>

      <!-- Menu complementario en 3md -->
      <%= erb :"english/layouts/ri-sidebar" %>


    </div>
    <!-- end row -->
    <div class="clearfix"></div>
  </div>
</section>

<!--Contenido END -->



<%= erb :"/english/layouts/parallax-mensaje1" %>

<%= erb :"/english/layouts/prospecto" %>

<%= erb :"/english/layouts/twitter" %>

<%= erb :"/english/layouts/footer" %>

<%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>