<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Distributions</h2>

        <ul class="breadcrumb">

          <li><a href="#">Investors</a></li>

          <li>Stock Information</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
      <div class="row">
        <br>

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

          <h3>Distributions</h3>

          <p>As an initial Distribution Policy, we plan to distribute a 100% of our net result, in a quarterly fashion, whenever our cash flow allows it. This policy will be in line to the mandates of our Technical Committee.</p>
          <p>There is no guarantee that our distribution policy will not change in the future. Any changes to our distribution policy will have to be approved by the Technical Committee. Our ability to execute distributions in the future will depend on many factors, some of which are beyond our control and could materially affect our distributions.</p>
          <br/>

        </div>

        <!-- Menu complementario en 3md -->
        <%= erb :"english/layouts/ri-sidebar" %>


      </div>
      <!-- end row -->
      <div class="clearfix"></div>
    </div>
  </section>

  <!--Contenido END -->



  <%= erb :"/english/layouts/parallax-mensaje1" %>

  <%= erb :"/english/layouts/prospecto" %>

  <%= erb :"/english/layouts/twitter" %>

  <%= erb :"/english/layouts/footer" %>

  <%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>