<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


<!--Breadcump-->
<section class="wrapper-pgtitle">
  <div class="container">
    <div class="calloutbread">

      <h2>Management team</h2>

      <ul class="breadcrumb">

        <li><a href="#">Investors</a></li>

        <li>FIBHIOS</li>

      </ul>
    </div>
  </div>


  <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
    <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
  </a></div>
</section>
<!--Breadcump END-->


<!--Contenido -->
<section id="contenido" class="white-wrapper">
  <div class="container">


    <div class="row">
      <br>

      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <h3></h3>

        <p>FIBHIOS’s loans management function is performed by the team of our External Manager, FHIPOS. FIBHIOS’s
          Technical Committee has full authority to propose, approve, or remove any officer of the External Manager, or
          propose, when appropriate, additional officers in order to monitor the Manager’s performance.</p>

        <p>The following chart shows our External Manager´s organizational structure:</p>
        <img class="img-responsive center-block" src="/images/fibhios/contenidos/directivosEn.jpg" alt="">

        <p>Our External Manager’s team is composed of full-time officers, who are remunerated by the External Manager
          itself. Such compensation is designed to align incentives between officers and the best interests of FIBHIOS’s
          certificate holders. All of the External Manager’s team functions work toward the ultimate goal of increasing
          and preserving the returns of FIBHIOS certificate holders.</p>

        <p>The following chart shows the integration of our Manager’s C-Suite team:</p>

        <div class="clearfix"></div>


        <!--<hr/>-->


        <!--Persona -->
        <div class="row">

          <!--imagen-->
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/DavidSuarez.jpeg" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/fibhios"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--texto-->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1>David Suárez<span> | </span>
                <small>Director General</small>
              </h1>

              <p>Mr. Suárez has over 20 years of experience in the financial and banking sectors, and public administration; from 2005 to
                 2014 he held a number of executive positions in Grupo Financiero Banorte where he carried out an intense activity in
                 several fields such as finance, investor relations, capital markets and corporate development, among others. From 2013
                 to 2014, he served as Chief Financial and Investor Relations Executive (CFO), managing the areas of financial planning,
                 accounting, tax and investor relations, and was a voting member of the Central Credit Committee, the Assets and Liabilities
                 Committee, the Finance and Treasury Committee, the Development and Organizational Efficiency Committee, among others; from
                 2010 to 2013, he acted as Investor Relations and Corporate Development Deputy Chief Executive Officer and previously as
                 Investor Relations Officer (IRO). In these seats he participated or led strategic projects for the consolidation of
                 Grupo Financiero Banorte, such as the acquisition of Ixe Grupo Financiero, Afore Bancomer and Seguros Generali, he
                 managed to raise over US$3,200 million in stock offerings in 2013 and 2011 as well as a capital increase of US$1,500
                 million to achieve the merger with IXE. Additionally, in 2014, Mr. Suárez was ranked as the best CFO in Mexico and
                 Latin America by Institutional Investor magazine, and for the years 2010, 2011, 2012 and 2013 was honored as the
                 Best IRO in Mexico and the region. Mr. Suárez holds a degree in Administration and Finance from the Universidad
                 Panamericana and in 1999 he received a Master’s degree in Economic Policy Management from the University of
                 Columbia in New York, attending with a grant from the World Bank and the Government of Japan. </p>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--Persona FIN -->
        <hr>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/ErikGonzalez.jpg" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/fibhios" target="_blank"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
                <!-- end magnifier -->
              </div>
              <!-- end entry -->
            </div>
            <!-- end team_member -->
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1>Erik González <span> | </span>
                <small>Chief Financial Officer (CFO)</small>
              </h1>
              <p>Has over 17 years of experience in finance, mainly in strategy, FP&A, M&A, budgeting, financial
                controllership and auditing. He has participated in the startups of multiple financial institutions in
                Mexico, and possesses extensive experience in portfolio management and international debt issuance.
                Since 2005, he has held positions of high responsibility, CFO and Director of the Board, in development
                banks and financial institutions (such as Grupo Financiero Ixe and Grupo Financiero Banorte), as well as
                for private capital funds focused on acquiring and restructuring companies in the energy and health
                sectors. Mr. González also served at the Comisión Nacional Bancaria y de Valores (CNBV) for 8 years as
                Director of Financial Analysis and Banking Supervision. He holds a Public Accountant and a Business
                Administration Bachelor degrees from the Instituto Tecnológico Autónomo de México, and possesses an MBA
                with a Major in Finance from the Manchester Business School, U.K., where he graduated with honors.</p>

              <p>The primary function of the Chief Financial Officer will be to establish the financial management
                strategy to support an adequate capital structure, including accounting, fiscal compliance, and capital
                and debt raising functions. The CFO will report directly to the CEO.</p>
              <br>

            </div>
            <!-- end team_member -->
          </div>
          <!-- end col-lg-6 -->

          <div class="clearfix"></div>
        </div>
        <hr/>


        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/luis-angel.JPG" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/fibhios" target="_blank"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
                <!-- end magnifier -->
              </div>
              <!-- end entry -->
            </div>
            <!-- end team_member -->
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1>Luis Ángel Barrientos <span> | </span>
                <small>Chief Credit Officer (CCO)</small>
              </h1>
              <p>Has over 15 years of experience in finance, mainly in risk management and compliance, with a deep knowledge on development and implementation of risk strategies, products and solutions. Recently served for SAS, developing risk solution strategies for the commercial unit, and for CCV Mexico where performed as Director at the Risk Committee. In banking, he has performed in high responsibility positions, having worked as Director and Deputy Director of Risk Management for Ixe Grupo Financiero, being responsible for the management of discretional risks (market, liquidity, and credit/counterparty), of the Group’s Sofomes, as well as for monitoring credit/counterparty risks and capitalization levels of its Bank and Brokerage, in addition of the BIS II implementation (for the Bank and Sofomes). Mr. Barrientos also served as Risk Manager for Banamex, he holds a degree on Actuarial Sciences and possesses a Masters in Statistics & Investigation of Operations from the Universidad Nacional Autónoma de México.</p>

              <p>The primary function of the Chief Credit & Risk Officer will be to evaluate the origination opportunities (credit pipeline), and assess their viability, as well as to execute a tight monitoring over the already granted credits.</p>
            </div>
            <!-- end team_member -->
          </div>
          <!-- end col-lg-6 -->

          <div class="clearfix"></div>
        </div>


        <hr>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/MiguelOsioBuch.jpg" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/fibhios" target="_blank"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
                <!-- end magnifier -->
              </div>
              <!-- end entry -->
            </div>
            <!-- end team_member -->
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1>Luis Miguel Osio Buch<span> | </span>
                <small>Investor Relations Officer (IRO)</small>
              </h1>
              <p>Between June 2013 and September 2014, Mr. Osio Buch served as Manager of the Business Analysis
                Department at Infraestructura Energética Nova S.A.B. de C.V. (IEnova), where he actively participated in
                long term funding for over USD$300 million, and over USD$100 million in M&A operations. He also
                participated in the development of multiple projects of power generation and natural gas conduction.
                Since 2007, has performed as CEO of Mobiloffice S.A. de C.V. (iP@phone), a company focused on the
                commercialization of fixed telecommunication services. Since 2005, he has served on several Boards of
                Directors of real estate companies through the Central de Arquitectura S.C. He has also been involved in
                over 1.07 msf of commercial and residential development projects in different locations in Mexico, as
                well as actively participating in structuring and funding for over USD$100 million. Mr. Osio Buch holds
                a degree in Financial Management from Instituto Tecnológico y de Estudios Superiores de Monterrey, and
                in 2010 obtained an MBA degree from the same institution.</p>

              <p>The primary role of the IRO will be to foster a solid base of investors, with strong ties with the local and international markets. As well as to perform a sound management of the leverage.</p>
            </div>
            <!-- end team_member -->
          </div>
          <!-- end col-lg-6 -->

          <div class="clearfix"></div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 first">
            <div class="team_member padding-top">
              <div class="entry">
                <img class="img-responsive" src="/images/fibhios/directivos/GuillermoMascarenas.jpg" alt="">

                <div class="magnifier">
                  <div class="buttons">
                    <a class="st" rel="bookmark" href="https://twitter.com/fibhios" target="_blank"><span class="fa fa-twitter"></span></a>
                    <a class="sg" rel="bookmark" href="https://www.linkedin.com/company/fibhios" target="_blank"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
                <!-- end magnifier -->
              </div>
              <!-- end entry -->
            </div>
            <!-- end team_member -->
          </div>
          <!-- end col-lg-3 -->
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="team_member">
              <h1>Guillermo Mascareñas<span> | </span>
                <small>Chief Commercial Officer (CMO) </small>
              </h1>
              <p>Mr. Mascareñas has over 9 years of relevant experience in finance, mostly in banks and private equity
                funds. From December 2013 to August 2014, he performed as director of the private equity fund CIGEM,
                which focused on funding access and project finance. From August 2012 to December 2013, he served as an
                associate in the investment fund Abraaj Capital, in the areas of corporate finance, origination,
                investment management, real estate funding and project finance. From January 2011 to August 2012, he
                served as Vice President of the fund Fondos México Ventures, holding responsibility for raising capital,
                origination, investments, and private equity funds and co-investments management and monitoring. From
                January 2005 to June 2009, he served at Grupo Financiero Ixe in investment banking. His experience
                includes advisory on capital and debt raising processes, such as authorities, rating agencies, lawyers,
                bankers and investors coordination, as well as over debt market transactions (securitizations, unsecured
                loans, short and long term loans), capital markets (public offerings and fair value assessments), M&A,
                and structured funding. He holds a degree in Financial Management from the Instituto Tecnológico de
                Estudios Superiores de Monterrey. In 2010, earned his MBA degree from the Maquarie Graduate School of
                Management, in Australia.</p>

              <p>The primary function of the Chief Commercial Officer will be to identify credit origination opportunities (credit pipeline construction), in order to enhance our Portfolio.</p>
            </div>
            <!-- end team_member -->
          </div>
          <!-- end col-lg-6 -->

          <div class="clearfix"></div>
        </div>
        <hr>
  </div>

      <!-- Menu complementario en 3md -->
      <%= erb :"english/layouts/ri-sidebar" %>


    </div>
    <!-- end row -->
    <div class="clearfix"></div>
  </div>

  <br/>
</section>

<!--Contenido END -->



<%= erb :"/english/layouts/parallax-mensaje1" %>

<%= erb :"/english/layouts/prospecto" %>

<%= erb :"/english/layouts/twitter" %>

<%= erb :"/english/layouts/footer" %>

<%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>
