<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Collateral Structure</h2>

        <ul class="breadcrumb">

          <li><a href="#">Investors</a></li>

          <li>Strategy</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <h3 class="text-center"></h3>
                  <img src="/images/fibhios/contenidos/estructuraEn.jpg" class="img-responsive center-block">
                  <div class="legenda">
                    <p>(1) The External Manager will acquire 5% of the Initial Offering of  Certificates (CBFIs)</p>
                    <p>(2) Management, Guarantee and Payment Source Trust</p>
                    <p>(3) The Debtor will be able to own the property or fiduciary rights, or an specific purpose vehicle.</p>


                  </div>
                  <p><strong>FIBHIOS</strong> will use the proceeds from the global offering to finance the initial loan portfolio. The 7 projects/properties will use financing granted by FIBHIOS to:</p>
            <ul class="ck-po">
              <li>Refinance outstanding bank loans and establish new security interests in favor of FIBHIOS</li>
              <li>Develop new real estate properties</li>
            </ul>


            <p>FIBHIOS financing will be secured by the cash flows and mortgages of the underlying properties in some cases and by beneficial interests in the master trusts (MT). Each property or project will establish a Security Trust Agreement (“STA”) and will contribute the receivables arising from rents or leases and title of the relevant property to each STA in order to secure each Credit Agreement.</p>
            <p>Each STA will consider the following distribution waterfall: </p>
            <ul class="ck-numbered">
              <li>Security trust expenses</li>
              <li>Maintenance expenses </li>
              <li>Taxes & insurance </li>
              <li>Interest and principal payments on FIBHIOS loans </li>
              <li>The excess cash flows will be returned by the STA to the real estate companies</li>
            </ul>
            <p>
              FIBHIOS will in turn use its income to pay the interest on its own financings, to pay the management fee and other G&A expenses. Excess income will be distributed to CBFIs holders pursuant to the Issuer’s distribution policy.
            </p>
            <p>Note: In the event of default, the trustee of the STA, by instruction of FIBHIOS’s Credit & Investment Committee, will initiate the foreclosure procedure of the assets under the STA (guaranteeing the independence of the procedure and avoiding conflicts of interests during the foreclosure of the assets). </p>
                         <br>
                </div>
                <!-- Menu complementario en 3md -->
               <%= erb :"english/layouts/ri-sidebar" %>


           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"/english/layouts/parallax-mensaje1" %>

  <%= erb :"/english/layouts/prospecto" %>

  <%= erb :"/english/layouts/twitter" %>

  <%= erb :"/english/layouts/footer" %>

  <%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>
