<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


<!--Breadcump-->
<section class="wrapper-pgtitle">
  <div class="container">
    <div class="calloutbread">

      <h2>Glossary</h2>

      <ul class="breadcrumb">

        <li><a href="#">Investors</a></li>

        <li>Stock Information</li>

      </ul>
    </div>
  </div>


  <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
    <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
  </a></div>
</section>
<!--Breadcump END-->


<!--Contenido -->
<section id="contenido" class="white-wrapper">
<div class="container">
<div class="row">
<br>

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

<h3>Glossary</h3>


  <p><span class="glosario-main">     Afore:</span>
  <span class="glosario-second">Administradoras de Fondos para el Retiro, i.e. Mexican retirement funds.</span></p>

  <p><span class="glosario-main">     Anchor:</span>
    <span class="glosario-second">    Any tenant who occupy more than 20% of the property’s Gross Leasable Area (GLA).
  </span></p>

  <p><span class="glosario-main">     Andamar I:</span>
    <span class="glosario-second">   Commercial center located at 4300 Blvd. Ruiz Cortines, Fraccionamiento Mocambo, Collado and Boticaria, Boca del Rio, Veracruz.   </span></p>



  <p><span class="glosario-main">     Andamar II:</span>
    <span class="glosario-second">    Commercial center located at 3500 Adolfo Ruiz Cortines Avenue, Col. Potrero Mocambo or Potrero Niño Bonito, Boca del Rio, Veracruz.  </span></p>



  <p><span class="glosario-main">     Andares:</span>
    <span class="glosario-second">    Commercial center located at 4965 Blvd. Puerta de Hierro, Puerta de Hierro, 45116, Zapopan, Jálisco.  </span></p>


  <p><span class="glosario-main">    Angelópolis:</span>
    <span class="glosario-second">   Commercial center located at 2510 Blvd. Niño Poblano, Col. Concepción La Cruz, Puebla, Puebla.   </span></p>


  <p><span class="glosario-main">    Annualized Base Rent:    </span>
    <span class="glosario-second"> The amount of a contractual rent, in terms of a lease contract, to be paid by the tenant in a 12-month period, excluding reimbursements for operating expenses of the properties (which are paid by the tenant).</span></p>


  <p><span class="glosario-main">   Antara:  </span>
    <span class="glosario-second">      Commercial center (excluding office buildings) belonging to the development "Antara" located at 843 Av. Ejército Nacional, Col. Ampliación Granada, Del. Miguel Hidalgo, Mexico City.  </span></p>
  <p><span class="glosario-main">    BMV:  </span>
    <span class="glosario-second">   Bolsa Mexicana de Valores, S.A.B. de C.V., i.e. the Mexican Stock Exchange.  </span></p>

  <p><span class="glosario-main">  Certificate Holders:   </span>
    <span class="glosario-second">   Investors who are holders of our CBFs.  </span></p>

  <p><span class="glosario-main">   Certificate Holders General Meeting:   </span>
    <span class="glosario-second">   Any Ordinary or Extraordinary Certificate Holders Meeting.  </span></p>

  <p><span class="glosario-main">   CIBanco:  </span>
    <span class="glosario-second">   CIBanco, S.A. Banking Institution and Fiduciary Division. </span></p>

  <p><span class="glosario-main">   CIBanco Offices:  </span>
    <span class="glosario-second">     Collectively, (i) the three properties described here: (a) the building located at 3343 Anillo Periférico Sur, Col. San Jerónimo Lídice, Del. Magdalena Contreras, Postal Code 10200, (b) the "Lomas Plaza" building located at 50 and 66 Blvd. Manuel Ávila Camacho (identified as “50” in the records), Col. Lomas de Chapultepec, Del. Miguel Hidalgo, (c) the "Puente  Palmas III" building at 215 Av. Paseo de las Palmas, Col. Lomas de Chapultepec, Del. Miguel Hidalgo, all located in Mexico City; (ii) the property located at 2513 Blvd. Adolfo López Mateos, (identified as “2519 A” in the records), Col. Jardines del Moral, León, Guanajuato; (iii) the property located at 2390 Av. Providencia, Fraccionamiento Jardines de Providencia, Guadalajara, Jálisco; and (iv) the property located at Manzana 28, Col. Del Valle, San Pedro, Garza García, Nuevo León. </span></p>

  <p><span class="glosario-main">  Circular Única:   </span>
    <span class="glosario-second">     The general provisions applicable to the publicly traded companies and other stock market participants, stated in the Diario Oficial de la Federación in March 19, 2003, issued by the Comisión Nacional Bancaria y de Valores “CNBV”. </span></p>

  <p><span class="glosario-main">   CNBV:  </span>
    <span class="glosario-second">   Comisión Nacional Bancaria y de Valores, the Mexican Banking Watchdog, analogous to the SEC in the United States.   </span></p>

  <p><span class="glosario-main">     CONAPO:  </span>
    <span class="glosario-second">   Consejo Nacional de Población. </span></p>

  <p><span class="glosario-main">  CONSAR:    </span>
    <span class="glosario-second">  Comisión Nacional del Sistema de Ahorro para el Retiro.  </span></p>

  <p><span class="glosario-main">   Construction and Budget Program:  </span>
    <span class="glosario-second">     The program and budget for the construction and development of a projects under construction, that, if appropriate, could be incorporated into the corresponding Real Estate Financing, which include, without limitation, planning costs, design, licenses, permits and rights, monitoring, and control related to the construction of the property. </span></p>

  <p><span class="glosario-main">  Eligible Leasable Area:   </span>
    <span class="glosario-second">    A GLA equal or greater than 215,278 sf, with the understanding that if the property is a privative area part of a condominium property regime, the entire GLA of the condominium will be considered, and not only the area of the respective property.  </span></p>

  <p><span class="glosario-main">   Eligible Manager:  </span>
    <span class="glosario-second">      A manager who has extensive experience in property management (taking into account the type of property in question), as well as the proper structure  and required technical capacity to handle the management of the respective property.</span></p>

  <p><span class="glosario-main"> Emisnet:   </span>
    <span class="glosario-second">    Sistema Electrónico de Comunicación con Emisoras de Valores, the electronic communication system of the BMV.  </span></p>

  <p><span class="glosario-main">   External Auditor:  </span>
    <span class="glosario-second">    The External Auditor contracted by the Trustee in accordance with the mandates of the Technical Committee.  </span></p>

  <p><span class="glosario-main">   External Manager:   </span>
    <span class="glosario-second"> FHIPOS Controladora, S.A.P.I. de C.V.  </span></p>

  <p><span class="glosario-main">    FIBRA:  </span>
    <span class="glosario-second"> Fideicomiso de Invesión en Bienes Raíces, analogous to a U.S. REIT.  </span></p>

 

  <p><span class="glosario-main">  Financing Guidelines:   </span>
    <span class="glosario-second">    The guidelines approved by the Technical Committee which define the framework of the Trust to grant any loan to the real estate companies.  </span></p>

  <p><span class="glosario-main">  Fiscal Result:   </span>
    <span class="glosario-second">The result of subtracting from the taxable income of the Trust, the tax losses from prior fiscal periods still pendant to amortize, and the respective workers’ participation in the result of the period (in accordance with the Título II de la LISR).</span></p>

  <p><span class="glosario-main">  Formation transactions:   </span>
    <span class="glosario-second">     The series of transactions in which we will participate, simultaneously or right after the Global Offering, which will constitute our Initial Portfolio. </span></p>

  <p><span class="glosario-main">  GDP:    </span>
    <span class="glosario-second">  Gross Domestic Product. </span></p>

    <p><span class="glosario-main">    GLA/LA:  </span>
    <span class="glosario-second">“Gross Leasable Area”, “Leasable Area”; the entire area of a property or corresponding properties that, under the respective project, can be commercially exploited.  </span></p>

  <p><span class="glosario-main">  Global Offering:    </span>
    <span class="glosario-second"> The Global and Local (Mexico) offering of CBFs.  </span></p>

  <p><span class="glosario-main">   Grupo DMI:   </span>
    <span class="glosario-second">  Desarrolladora Mexicana de Inmuebles S.A. de C.V.  </span></p>

  <p><span class="glosario-main">  GSM:    </span>
    <span class="glosario-second">   The group of companies, trusts and institutions managed by Mr. Javier Sordo Madaleno Bringas, whose purpose is the development and management of real estate projects in Mexico.  </span></p>

  <p><span class="glosario-main">   IASB: </span>
    <span class="glosario-second"> International Accounting Standard Board.  </span></p>

  <p><span class="glosario-main">  IFRS:   </span>
    <span class="glosario-second">   International Financing Reporting Standards. </span></p>

  <p><span class="glosario-main">   Indebtedness Guidelines:  </span>
    <span class="glosario-second">     The guidelines approved by the Technical Committee which define the indebtedness level that the Trust may incur or assume. </span></p>

  <p><span class="glosario-main">    Independent Appraiser:  </span>
    <span class="glosario-second">    An appraiser hired by the Trustee, in compliance with the instructions of the Technical Committee. </span></p>

  <p><span class="glosario-main">   Indeval:   </span>
    <span class="glosario-second"> S.D. Indeval, Institución para el Depósito de Valores, S.A. de C.V.  </span></p>

  <p><span class="glosario-main">  Initial Financing:   </span>
    <span class="glosario-second">     The real estate funding that we will grant as part of our formation transactions. </span></p>

  <p><span class="glosario-main"> Initial Portfolio:    </span>
    <span class="glosario-second">     9 loans secured by a trust or mortgage, the collective principal of which will amount to MXN 9.721 billion, with a maturity of 30 years and an average annual fixed interest rate of 9.52%. </span></p>

  <p><span class="glosario-main">  Initial Properties:   </span>
    <span class="glosario-second">     The real estate, including the trustee’s rights in relation with, that will secure, respectively, each one of the Initial Financings; with the understanding that, in the case of certain projects, the Initial Properties will be the private units that are part of a condominium property regime and that are exclusive property of the respective Real Estate Company. </span></p>

  <p><span class="glosario-main">  INPC:    </span>
    <span class="glosario-second"> Índice Nacional de Precios al Consumidor.  </span></p>

  <p><span class="glosario-main">   ISR:   </span>
    <span class="glosario-second">  Impuesto Sobre la Renta. </span></p>

  <p><span class="glosario-main">  LGTOC:    </span>
    <span class="glosario-second"> Ley General de Títulos y Operaciones de Crédito.  </span></p>

  <p><span class="glosario-main">   Leverage Ratio:  </span>
    <span class="glosario-second">    The leverage ratio that we should comply with when assuming any liability, credit or financing, in accordance with the Circular Única.  </span></p>

  <p><span class="glosario-main">    LISR:  </span>
    <span class="glosario-second">   Ley del Impuesto Sobre la Renta.</span></p>

  <p><span class="glosario-main"> LMV:     </span>
    <span class="glosario-second">  Ley del Mercado de Valores. </span></p>

  <p><span class="glosario-main">     Luxury Hall:   </span>
    <span class="glosario-second"> The commercial center located in the territorial reserves of Atlixcáyotl, Puebla.  </span></p>

<p><span class="glosario-main">    Management Agreement: </span>
    <span class="glosario-second">   The agreement to be held between the Trust Issuer and the External Manager, in order that the latter performs certain management services.</span></p>

<p><span class="glosario-main">   Master Trusts:   </span>
    <span class="glosario-second">Trusts whose assets are comprised of premium properties and the respective receivables derived from their leases.</span></p>

  <p><span class="glosario-main">  Mexico:    </span>
    <span class="glosario-second">   The United Mexican States.</span></p>

     <p><span class="glosario-main">  “Mortgage Trust” "Trust" or "Trust Issuer" or "FIBHIOS":   </span>
    <span class="glosario-second">   The Mortgage Trust constituted by the Trust Agreement.   </span></p>

  <p><span class="glosario-main">   NOI:  </span>
    <span class="glosario-second">Net Operating Income, obtained by subtracting amortizations, depreciation, interest, and taxes from the net income of the respective project, with the understanding that, given that are secured through Trustee Rights on Master Trusts, which are contributed to a STA, the result must be adjusted proportionally to represent its participation to the totality of the Masters Trust’s beneficial interests.</span></p>

<p><span class="glosario-main">    Operation and Maintenance Expenses:  </span>
    <span class="glosario-second">The necessary expenses for the proper performance of a real estate development, including but not limited to the following: payroll, services and maintenance contracts, supplies, repairs, general maintenance expenses, advertising, decoration, and parking lot maintenance expenses. Not included in this definition are the payments corresponding to financing, financing cost, depreciation and amortization, commissions and legal fees, among others.   </span></p>

<p><span class="glosario-main">  Ordinary Certificate Holders Meeting:   </span>
    <span class="glosario-second">   A General Meeting of Holders that may be called to decide on matters not expressly reserved for an Extraordinary General Meeting. </span></p>

<p><span class="glosario-main">   Person:  </span>
    <span class="glosario-second">   Any person or legal entity, trust, joint venture, civil or commercial company, Governmental Authority, or any other entity of any kind. </span></p>

<p><span class="glosario-main">   Picacho:  </span>
    <span class="glosario-second">    The commercial center to be built at 3720 Blvd. Adolfo Ruiz Cortines, Col. Jardines del Pedregal, Del. Alvaro Obregón, Mexico City.</span></p>

<p><span class="glosario-main">    Portfolio of Credits: </span>
    <span class="glosario-second">  Any financing granted by the Trustee in compliance with the Purposes of the Trust.  </span></p>

  <p><span class="glosario-main">  Premium:   </span>
    <span class="glosario-second">   A property that because of its location, construction quality, visitor density level, customer quality, tenant quality, anchor quality, occupancy rate (over 80% once stabilized), Eligible Administrator, and Eligible Leasable Area, among other features, is classified as “Premium” by an Independent Appraiser. </span></p>

<p><span class="glosario-main">    Premium Portfolio: </span>
    <span class="glosario-second"> The set of two (2) or more granted loans secured by properties that collectively (i) have an Eligible Leasable Area, (ii) in the case of commercial projects, have a self-service store as an anchor, (iii) have an occupancy rate of at least 80%, and (iv) if applicable, are being managed by an Eligible Manager.   </span></p>

<p><span class="glosario-main">  Proceeds of the offering:   </span>
    <span class="glosario-second">  The proceeds from any CBFs issuing received by the Trust.  </span></p>

  <p><span class="glosario-main">  Project in Construction:    </span>
    <span class="glosario-second"> Collective reference to those projects whose process of excavation and/or foundation has begun, with a construction period not more than 5 years from the date on which the respective funding was granted, and whose inauguration is expected in a period longer than 3 months from the date on which the respective financing was granted, which, from the date of the construction completion, will be considered as Projects in Stabilization Process.  </span></p>

<p><span class="glosario-main">    Project in Stabilization Process:  </span>
    <span class="glosario-second"> Collective reference to those recently inaugurated projects (less than 1 year from the inauguration date) or in the process of opening (3 months before its inauguration), whose anchor tenants are in process of opening or have recently opened.  </span></p>

<p><span class="glosario-main">  Real Estate Company:   </span>
    <span class="glosario-second">  Any person who receives Real Estate Funding/Financing.  </span></p>

<p><span class="glosario-main">   Real Estate Financing:  </span>
    <span class="glosario-second"> The secured (through mortgages or fiduciary interests) loans granted or acquired by the Master Trust, used for: acquisition or construction of real estate located in Mexico for leasing purposes; acquisition of rights to receive income from real estate leases; refinancing of previous real estate loans.</span></p>

  <p><span class="glosario-main">   Related Party:   </span>
    <span class="glosario-second">As defined in the LMV.</span></p>

  <p><span class="glosario-main">  RNV:    </span>
    <span class="glosario-second">  Registro Nacional de Valores. </span></p>

<p><span class="glosario-main">   Second place Trustor and Trustee:   </span>
    <span class="glosario-second"> FHIPOS Controladora, S.A.P.I. de C.V.  </span></p>

<p><span class="glosario-main">    SHCP: </span>
    <span class="glosario-second">  Secretaría de Hacienda y Crédito Público.  </span></p>

  <p><span class="glosario-main">    Siefores:  </span>
    <span class="glosario-second">  specialized retirement funds.  </span></p>

     <p><span class="glosario-main">  STA:   </span>
    <span class="glosario-second">Security Trust Agreement, held by real estate companies or other entities, certain trust institutions, and the Trust Issuer, constituted to secure the funding granted to the corresponding real estate companies</span></p>

<p><span class="glosario-main">    Stabilized Project: </span>
    <span class="glosario-second">  Collective reference to projects that are operating normally and have an occupancy rate of over 80% of the GLA, and also have a steady number of visitors.  </span></p>

<p><span class="glosario-main">   Sub-anchors:   </span>
    <span class="glosario-second">  Tenants who rent spaces that are significantly  larger than other tenants’ in the commercial center in question, having relevant influence on the number of visitors. </span></p>

<p><span class="glosario-main">   Transaction Documents:  </span>
    <span class="glosario-second">The collective reference to the Trust Agreement, the Management Agreement, each title, each settlement agreement held for each CBFs issuing, and all attachments of such agreements and any other agreements, instruments, documents and titles relating to them.</span></p>

<p><span class="glosario-main">   Trust Accounts:  </span>
    <span class="glosario-second">Bank accounts to be opened and maintained by the Trustee during the term of the Trust Agreement, in compliance with the purposes of the trust, and those instructed from time to time by the External Manager.</span></p>

<p><span class="glosario-main">Trust Agreement:</span>
    <span class="glosario-second"> Irrevocable Trust Agreement No. CIB/2075, held between the Trustor, Trustee, Common Representative, and the External Manager.</span></p>

  <p><span class="glosario-main">  Trust Issuer:   </span>
    <span class="glosario-second">   CIBanco, S.A., Banking Institution.  </span></p>

  <p><span class="glosario-main">  Trustee Rights on Master Trusts:    </span>
    <span class="glosario-second"> First place trustee rights on Master Trusts.   </span></p>

  <p><span class="glosario-main">  UDI:    </span>
    <span class="glosario-second">  Unidad de Inversión. </span></p>

<p><span class="glosario-main">   Universidad:  </span>
    <span class="glosario-second"> Commercial center located at 1000 Av. Universidad, Santa Cruz Atoyac, Postal Code 03310, Mexico City.   </span></p>

<p><span class="glosario-main">  Working day:    </span>
  <span class="glosario-second"> Any day which is not a Saturday, Sunday, or Mexican statutory holiday according to the schedule published by the CNBV.  </span></p>




<br/>

</div>

<!-- Menu complementario en 3md -->
<%= erb :"english/layouts/ri-sidebar" %>


</div>
<!-- end row -->
<div class="clearfix"></div>
</div>
</section>

<!--Contenido END -->



<%= erb :"/english/layouts/parallax-mensaje1" %>

<%= erb :"/english/layouts/prospecto" %>

<%= erb :"/english/layouts/twitter" %>

<%= erb :"/english/layouts/footer" %>

<%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>