<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


<!--Breadcump-->
<section class="wrapper-pgtitle">
  <div class="container">
    <div class="calloutbread">

      <h2>Glossary</h2>

      <ul class="breadcrumb">

        <li><a href="#">Investors</a></li>

        <li>Stock Information</li>

      </ul>
    </div>
  </div>


  <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
    <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
  </a></div>
</section>
<!--Breadcump END-->


<!--Contenido -->
<section id="contenido" class="white-wrapper">
<div class="container">
<div class="row">
<br>

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">



<h3>Glossary</h3>



<%= erb :"es/layouts/glosario/glosario-indice" %>


<table class="table table-striped table-bordered">
<thead>

<tr>
  <th style="width: 30%; background-color: #fff;">
    Definitions
  </th>
  <th style="background-color: #fff;">
  </th>
</tr>
</thead>

<!--Comienzo-->

<tbody>
<tr class="documents">
  <td> Afore</td>
  <td>Administradoras de Fondos para el Retiro, i.e. Mexican retirement funds.</td>
</tr>

<tr class="documents">
  <td> Anchor</td>
  <td> Any tenant who occupy more than 20% of the property’s Gross Leasable Area (GLA).
  </td>
</tr>

<tr class="documents">
  <td> Andamar I</td>
  <td> Commercial center located at 4300 Blvd. Ruiz Cortines, Fraccionamiento Mocambo, Collado and Boticaria, Boca del
    Rio, Veracruz.
  </td>
</tr>



<!--<tr class="documents">-->
  <!--<td> Andares</td>-->
  <!--<td> Commercial center located at 4965 Blvd. Puerta de Hierro, Puerta de Hierro, 45116, Zapopan, Jálisco.</td>-->
<!--</tr>-->


<tr class="documents">
  <td> Angelópolis</td>
  <td> Commercial center located at 2510 Blvd. Niño Poblano, Col. Concepción La Cruz, Puebla, Puebla.</td>
</tr>


<tr class="documents">
  <td> Annualized Base Rent</td>
  <td> The amount of a contractual rent, in terms of a lease contract, to be paid by the tenant in a 12-month period,
    excluding reimbursements for operating expenses of the properties (which are paid by the tenant).
  </td>
</tr>


<tr class="documents">
  <td> Antara</td>
  <td> Commercial center (excluding office buildings) belonging to the development "Antara" located at 843 Av. Ejército
    Nacional, Col. Ampliación Granada, Del. Miguel Hidalgo, Mexico City.
  </td>
</tr>


<!--Letra B-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="B" class="gloss-letra">B</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> BMV</td>
  <td> Bolsa Mexicana de Valores, S.A.B. de C.V., i.e. the Mexican Stock Exchange.</td>
</tr>


<!--Letra C-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="C" class="gloss-letra">C</div>
      </a>
    </div>
  </td>
</tr>
<tr class="documents">
  <td> CBFI</td>
  <td>Certificados Financieros Bursátiles Inmobiliarios</td>
</tr>

<tr class="documents">
  <td> Certificate Holders</td>
  <td> Investors who are holders of our CBFIs.</td>
</tr>

<tr class="documents">
  <td> Certificate Holders General Meeting</td>
  <td> Any Ordinary or Extraordinary Certificate Holders Meeting.</td>
</tr>


<tr class="documents">
  <td> CIBanco</td>
  <td> CIBanco, S.A. Banking Institution and Fiduciary Division.</td>
</tr>

<tr class="documents">
  <td> CIBanco Offices</td>
  <td> Collectively, (i) the three properties described here: (a) the building located at 3343 Anillo Periférico Sur,
    Col. San Jerónimo Lídice, Del. Magdalena Contreras, Postal Code 10200, (b) the "Lomas Plaza" building located at 50
    and 66 Blvd. Manuel Ávila Camacho (identified as “50” in the records), Col. Lomas de Chapultepec, Del. Miguel
    Hidalgo, (c) the "Puente Palmas III" building at 215 Av. Paseo de las Palmas, Col. Lomas de Chapultepec, Del. Miguel
    Hidalgo, all located in Mexico City; (ii) the property located at 2513 Blvd. Adolfo López Mateos, (identified as
    “2519 A” in the records), Col. Jardines del Moral, León, Guanajuato; (iii) the property located at 2390 Av.
    Providencia, Fraccionamiento Jardines de Providencia, Guadalajara, Jálisco; and (iv) the property located at Manzana
    28, Col. Del Valle, San Pedro, Garza García, Nuevo León.
  </td>
</tr>

<tr class="documents">
  <td> Circular Única</td>
  <td> The general provisions applicable to the publicly traded companies and other stock market participants, stated in
    the Diario Oficial de la Federación in March 19, 2003, issued by the Comisión Nacional Bancaria y de Valores “CNBV”.
  </td>
</tr>

<tr class="documents">
  <td> CNBV</td>
  <td> Comisión Nacional Bancaria y de Valores, the Mexican Banking Watchdog, analogous to the SEC in the United
    States.
  </td>
</tr>

<tr class="documents">
  <td> CONAPO</td>
  <td> Consejo Nacional de Población.</td>
</tr>

<tr class="documents">
  <td> CONSAR</td>
  <td> Comisión Nacional del Sistema de Ahorro para el Retiro.</td>
</tr>

<tr class="documents">
  <td> Construction and Budget Program</td>
  <td> The program and budget for the construction and development of a projects under construction, that, if
    appropriate, could be incorporated into the corresponding Real Estate Financing, which include, without limitation,
    planning costs, design, licenses, permits and rights, monitoring, and control related to the construction of the
    property.
  </td>
</tr>


<!--Letra E-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="E" class="gloss-letra"> E</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> Eligible Leasable Area</td>
  <td> A GLA equal or greater than 215,278 sf, with the understanding that if the property is a privative area part of a
    condominium property regime, the entire GLA of the condominium will be considered, and not only the area of the
    respective property.
  </td>
</tr>

<tr class="documents">
  <td> Eligible Manager</td>
  <td> A manager who has extensive experience in property management (taking into account the type of property in
    question), as well as the proper structure and required technical capacity to handle the management of the
    respective property.
  </td>
</tr>

<tr class="documents">
  <td> Emisnet</td>
  <td> Sistema Electrónico de Comunicación con Emisoras de Valores, the electronic communication system of the BMV.</td>
</tr>

<tr class="documents">
  <td> External Auditor</td>
  <td> The External Auditor contracted by the Trustee in accordance with the mandates of the Technical Committee.</td>
</tr>


<tr class="documents">
  <td> External Manager</td>
  <td> FHIPOS Controladora, S.A.P.I. de C.V.</td>
</tr>


<!--Letra F-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="F" class="gloss-letra">F</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> FIBRA</td>
  <td> Fideicomiso de Invesión en Bienes Raíces, analogous to a U.S. REIT.</td>
</tr>


<tr class="documents">
  <td> Financing Guidelines</td>
  <td> The guidelines approved by the Technical Committee which define the framework of the Trust to grant any loan to
    the real estate companies.
  </td>
</tr>

<tr class="documents">
  <td> Fiscal Result</td>
  <td>The result of subtracting from the taxable income of the Trust, the tax losses from prior fiscal periods still
    pendant to amortize, and the respective workers’ participation in the result of the period (in accordance with the
    Título II de la LISR).
  </td>
</tr>

<tr class="documents">
  <td> Formation transactions</td>
  <td> The series of transactions in which we will participate, simultaneously or right after the Global Offering, which
    will constitute our Initial Portfolio.
  </td>
</tr>



<!--Letra G-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="G" class="gloss-letra"> G</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> GDP</td>
  <td> Gross Domestic Product.</td>
</tr>

<tr class="documents">
  <td> GLA/LA</td>
  <td>“Gross Leasable Area”, “Leasable Area”; the entire area of a property or corresponding properties that, under the
    respective project, can be commercially exploited.
  </td>
</tr>

<tr class="documents">
  <td> Global Offering</td>
  <td> The Global and Local (Mexico) offering of CBFIs.</td>
</tr>

<!--<tr class="documents">-->
  <!--<td> Grupo DMI</td>-->
  <!--<td> Desarrolladora Mexicana de Inmuebles S.A. de C.V.</td>-->
<!--</tr>-->

<tr class="documents">
  <td> GSM</td>
  <td> The group of companies, trusts and institutions managed by Mr. Javier Sordo Madaleno Bringas, whose purpose is
    the development and management of real estate projects in Mexico.
  </td>
</tr>


<!--Letra I-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="I" class="gloss-letra"> I</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> IASB</td>
  <td> International Accounting Standard Board.</td>
</tr>

<tr class="documents">
  <td> IFRS</td>
  <td> International Financing Reporting Standards.</td>
</tr>

<tr class="documents">
  <td> Indebtedness Guidelines</td>
  <td> The guidelines approved by the Technical Committee which define the indebtedness level that the Trust may incur
    or assume.
  </td>
</tr>

<tr class="documents">
  <td> Independent Appraiser</td>
  <td> An appraiser hired by the Trustee, in compliance with the instructions of the Technical Committee.</td>
</tr>

<tr class="documents">
  <td> Indeval</td>
  <td> S.D. Indeval, Institución para el Depósito de Valores, S.A. de C.V.</td>
</tr>

<tr class="documents">
  <td> Initial Financing</td>
  <td> The real estate funding that we will grant as part of our formation transactions.</td>
</tr>

<tr class="documents">
  <td> Initial Portfolio</td>
  <td> 9 loans secured by a trust or mortgage, the collective principal of which will amount to MXN 9.721 billion, with
    a maturity of 30 years and an average annual fixed interest rate of 9.52%.
  </td>
</tr>

<tr class="documents">
  <td> Initial Properties</td>
  <td> The real estate, including the trustee’s rights in relation with, that will secure, respectively, each one of the
    Initial Financings; with the understanding that, in the case of certain projects, the Initial Properties will be the
    private units that are part of a condominium property regime and that are exclusive property of the respective Real
    Estate Company.
  </td>
</tr>

<tr class="documents">
  <td> INPC</td>
  <td> Índice Nacional de Precios al Consumidor.</td>
</tr>

<tr class="documents">
  <td> ISR</td>
  <td> Impuesto Sobre la Renta.</td>
</tr>



<!--Letra L-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="L" class="gloss-letra">L</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> LGTOC</td>
  <td> Ley General de Títulos y Operaciones de Crédito.</td>
</tr>

<tr class="documents">
  <td> Leverage Ratio</td>
  <td> The leverage ratio that we should comply with when assuming any liability, credit or financing, in accordance
    with the Circular Única.
  </td>
</tr>

<tr class="documents">
  <td> LISR</td>
  <td> Ley del Impuesto Sobre la Renta.</td>
</tr>

<tr class="documents">
  <td> LMV</td>
  <td> Ley del Mercado de Valores.</td>
</tr>

<tr class="documents">
  <td> Luxury Hall</td>
  <td> The commercial center located in the territorial reserves of Atlixcáyotl, Puebla.</td>
</tr>


<!--Letra M-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="M" class="gloss-letra"> M</div>
      </a>
    </div>
  </td>
</tr>



<tr class="documents">
  <td> Management Agreement</td>
  <td> The agreement to be held between the Trust Issuer and the External Manager, in order that the latter performs
    certain management services.
  </td>
</tr>

<tr class="documents">
  <td> Master Trusts</td>
  <td>Trusts whose assets are comprised of premium properties and the respective receivables derived from their
    leases.
  </td>
</tr>

<tr class="documents">
  <td> Mexico</td>
  <td> The United Mexican States.</td>
</tr>

<tr class="documents">
  <td> “Mortgage Trust” "Trust" or "Trust Issuer" or "FIBHIOS"</td>
  <td> The Mortgage Trust constituted by the Trust Agreement.</td>
</tr>



<!--Letra N-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="N" class="gloss-letra">N</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> NOI</td>
  <td>Net Operating Income, obtained by subtracting amortizations, depreciation, interest, and taxes from the net income
    of the respective project, with the understanding that, given that are secured through Trustee Rights on Master
    Trusts, which are contributed to a STA, the result must be adjusted proportionally to represent its participation to
    the totality of the Masters Trust’s beneficial interests.
  </td>
</tr>


<!--Letra O-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="O" class="gloss-letra">O</div>
      </a>
    </div>
  </td>
</tr>



<tr class="documents">
  <td> Operation and Maintenance Expenses</td>
  <td>The necessary expenses for the proper performance of a real estate development, including but not limited to the
    following: payroll, services and maintenance contracts, supplies, repairs, general maintenance expenses,
    advertising, decoration, and parking lot maintenance expenses. Not included in this definition are the payments
    corresponding to financing, financing cost, depreciation and amortization, commissions and legal fees, among others.
  </td>
</tr>

<tr class="documents">
  <td> Ordinary Certificate Holders Meeting</td>
  <td> A General Meeting of Holders that may be called to decide on matters not expressly reserved for an Extraordinary
    General Meeting.
  </td>
</tr>



<!--Letra P-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="P" class="gloss-letra">P</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> Person</td>
  <td> Any person or legal entity, trust, joint venture, civil or commercial company, Governmental Authority, or any
    other entity of any kind.
  </td>
</tr>

<tr class="documents">
  <td> Portfolio of Credits</td>
  <td> Any financing granted by the Trustee in compliance with the Purposes of the Trust.</td>
</tr>

<tr class="documents">
  <td> Premium</td>
  <td> A property that because of its location, construction quality, visitor density level, customer quality, tenant
    quality, anchor quality, occupancy rate (over 80% once stabilized), Eligible Administrator, and Eligible Leasable
    Area, among other features, is classified as “Premium” by an Independent Appraiser.
  </td>
</tr>

<tr class="documents">
  <td> Premium Portfolio</td>
  <td> The set of two (2) or more granted loans secured by properties that collectively (i) have an Eligible Leasable
    Area, (ii) in the case of commercial projects, have a self-service store as an anchor, (iii) have an occupancy rate
    of at least 80%, and (iv) if applicable, are being managed by an Eligible Manager.
  </td>
</tr>

<tr class="documents">
  <td> Proceeds of the offering</td>
  <td> The proceeds from any CBFIs issuing received by the Trust.</td>
</tr>

<tr class="documents">
  <td> Project in Construction</td>
  <td> Collective reference to those projects whose process of excavation and/or foundation has begun, with a
    construction period not more than 5 years from the date on which the respective funding was granted, and whose
    inauguration is expected in a period longer than 3 months from the date on which the respective financing was
    granted, which, from the date of the construction completion, will be considered as Projects in Stabilization
    Process.
  </td>
</tr>

<tr class="documents">
  <td> Project in Stabilization Process</td>
  <td> Collective reference to those recently inaugurated projects (less than 1 year from the inauguration date) or in
    the process of opening (3 months before its inauguration), whose anchor tenants are in process of opening or have
    recently opened.
  </td>
</tr>



<!--Letra R-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="R" class="gloss-letra">R</div>
      </a>
    </div>
  </td>
</tr>



<tr class="documents">
  <td> Real Estate Company</td>
  <td> Any person who receives Real Estate Funding/Financing.</td>
</tr>

<tr class="documents">
  <td> Real Estate Financing</td>
  <td>The secured (through mortgages or fiduciary interests) loans granted or acquired by the Master Trust are used for:
    acquisition or construction of real estate located in Mexico for leasing purposes; acquisition of rights to receive
    income from real estate leases; refinancing of previous real estate loans.
  </td>
</tr>

<tr class="documents">
  <td> Related Party</td>
  <td>As defined in the LMV.</td>
</tr>

<tr class="documents">
  <td> RNV</td>
  <td> Registro Nacional de Valores.</td>
</tr>



<!--Letra S-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="S" class="gloss-letra">S</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> Second place Trustor and Trustee</td>
  <td> FHIPOS Controladora, S.A.P.I. de C.V.</td>
</tr>

<tr class="documents">
  <td> SHCP</td>
  <td> Secretaría de Hacienda y Crédito Público.</td>
</tr>

<tr class="documents">
  <td> Siefores</td>
  <td> specialized retirement funds.</td>
</tr>

<tr class="documents">
  <td> STA</td>
  <td>Security Trust Agreement, held by real estate companies or other entities, certain trust institutions, and the
    Trust Issuer, constituted to secure the funding granted to the corresponding real estate companies
  </td>
</tr>

<tr class="documents">
  <td> Stabilized Project</td>
  <td> Collective reference to projects that are operating normally and have an occupancy rate of over 80% of the GLA,
    and also have a steady number of visitors.
  </td>
</tr>

<tr class="documents">
  <td> Sub-anchors</td>
  <td> Tenants who rent spaces that are significantly larger than other tenants’ in the commercial center in question,
    having relevant influence on the number of visitors.
  </td>
</tr>


<!--Letra T-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="T" class="gloss-letra"> T</div>
      </a>
    </div>
  </td>
</tr>


<tr class="documents">
  <td> Transaction Documents</td>
  <td>The collective reference to the Trust Agreement, the Management Agreement, each title, each settlement agreement
    held for each CBFIs issuing, and all attachments of such agreements and any other agreements, instruments, documents
    and titles relating to them.
  </td>
</tr>

<tr class="documents">
  <td> Trust Accounts</td>
  <td>Bank accounts to be opened and maintained by the Trustee during the term of the Trust Agreement, in compliance
    with the purposes of the trust, and those instructed from time to time by the External Manager.
  </td>
</tr>

<tr class="documents">
  <td>Trust Agreement</td>
  <td> Irrevocable Trust Agreement No. CIB/2075, held between the Trustor, Trustee, Common Representative, and the
    External Manager.
  </td>
</tr>

<tr class="documents">
  <td> Trust Issuer</td>
  <td> CIBanco, S.A., Banking Institution.</td>
</tr>

<tr class="documents">
  <td> Trustee Rights on Master Trusts</td>
  <td> First place trustee rights on Master Trusts.</td>
</tr>



<!--Letra U-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="U" class="gloss-letra">U</div>
      </a>
    </div>
  </td>
</tr>

<tr class="documents">
  <td> UDI</td>
  <td> Unidad de Inversión.</td>
</tr>

<tr class="documents">
  <td> Universidad</td>
  <td> Commercial center located at 1000 Av. Universidad, Santa Cruz Atoyac, Postal Code 03310, Mexico City.</td>
</tr>


<!--Letra V-->
<tr class="documents letra-tira">
  <td colspan="2">
    <div class="glossario">
      <a id="glosarioLink" href="#glossario-id">
        <div id="V" class="gloss-letra"> V</div>
      </a>
    </div>
  </td>
</tr>

<tr class="documents">
  <td> Working day</td>
  <td> Any day which is not a Saturday, Sunday, or Mexican statutory holiday according to the schedule published by the
    CNBV.
  </td>
</tr>


</tbody>
</table>


<br/>

</div>

<!-- Menu complementario en 3md -->
<%= erb :"english/layouts/ri-sidebar" %>


</div>
<!-- end row -->
<div class="clearfix"></div>
</div>
</section>

<!--Contenido END -->



<%= erb :"/english/layouts/parallax-mensaje1" %>

<%= erb :"/english/layouts/prospecto" %>

<%= erb :"/english/layouts/twitter" %>

<%= erb :"/english/layouts/footer" %>

<%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>

<style type="text/css">
  .letra-d{
      display: none;
  }

</style>
