<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Business model</h2>

        <ul class="breadcrumb">

          <li><a href="#">Investors</a></li>

          <li>Strategy</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

                  <img src="/images/fibhios/contenidos/modelo-en.jpg" class="img-responsive center-block">
                  <br/>
                  <p>Through an optimal capital and corporate governance structure, we invest our resources under management in a portfolio of loans which are secured by mortgages and/or fiduciary guarantees of premium offices and commercial properties. The loans that comprise our portfolio are invested in the funding and refinancing of development projects.</p>
                  <p>FIBHIOS centers its efforts on maximizing the cash flow generated from its portfolio of loans. The following chart depicts our origination strategy:</p>
                  <br>
                  <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                      <table class="display table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>
                            Strategies
                        </th>

                        </tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>• Premium world-class properties, mostly stabilized</td>
                          </tr>
                           <tr>
                            <td>• Investments to proven developers (95%- 100% occupancy rate) </td>
                          </tr>
                          <tr>
                            <td>• Geographic and tenant diversification</td>
                          </tr>
                          <tr>
                            <td>• Focused on incremental returns through smart leverage use</td>
                          </tr>
                           <tr>
                            <td>• Strict prudential controls</td>
                          </tr>
                        </tbody>
                        </table>
                     </div>
                       <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                      <table class="display table table-bordered table-striped">
                        <thead>
                        <tr><th>Parameters</th></tr>
                      </thead>
                        <tbody>
                          <tr>
                            <td>• Weighted average rate: 9.5%</td>
                          </tr>
                           <tr>
                            <td>• Term: 30 years</td>
                          </tr>
                          <tr>
                            <td>• Average LTV ratio: 69%</td>
                          </tr>
                          <tr>
                            <td>• NOI Coverage:1.27x</td>
                          </tr>
                           <tr>
                            <td>• Currency: 100% MXN</td>
                          </tr>
                        </tbody>
                        </table>
                     </div>

                    </div>
                </div>
                <!-- Menu complementario en 3md -->
               <%= erb :"english/layouts/ri-sidebar" %>


           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"/english/layouts/parallax-mensaje1" %>

  <%= erb :"/english/layouts/prospecto" %>

  <%= erb :"/english/layouts/twitter" %>

  <%= erb :"/english/layouts/footer" %>

  <%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>
