<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Economic backdrop</h2>

        <ul class="breadcrumb">

          <li><a href="#">Investors</a></li>

          <li>FIBHIOS</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <h3>International </h3>

                  <p>The U.S. shows greater strength, especially in its labor market, but the growth figure reported in the 1Q14 indicates that even with the recovery in 2Q14, higher than the 4% annual rate, the economic recovery should be viewed with caution. Despite the situation in the U.S., we have seen intense institutional investment activity from its funds, mostly in Mexican instruments anchored to real estate, FIBRAs, and CKDs, which has increased since the emergence of the FIBRAs at Mexbol in 2011.</p>

                  <p>While China maintains a growth rate near 7.5%, the International Monetary Fund (IMF), foresees a global growth rate of 3% for the 2014.</p>

                  <h3>National</h3>

                  <p>Although domestic consumption has seen a weak performance over the last six quarters, a recovery is anticipated, building on the recent enactment of the structural reforms (energy, telecommunications, and financial) and the expected positive effects from the Programa Nacional de Infraestructura (PNI). </p>

                  <p>The SHCP, Mexico’s Finance Ministry, expects that the GPD growth will gain momentum beginning with a gradual recovery in 2015, and finally achieving a 5% rate towards 2018. This is expected to be fully reflected throughout the purchasing power of Mexico’s middle class, which could also bring leverage to the economic growth based on the Mexican demographic bond (Mexico possesses a youthful population base).</p>

                  <h3>Sectorial</h3>

                  <p>Recent initiatives of the Federal Government have targeted the reactivation of the Mexican financial market with the goal of attaining a higher rate of economic growth. These initiatives have found support in the soundness of the Mexican financial system, which still has low levels of funding for private endeavors, contrasting with Mexico’s Latin American (LatAm) peers and leaving room for opportunities in new funding instruments.</p>

                  <p>Notwithstanding the low levels of funding to the private sector, the total loans granted to the Mexican real estate sector in the last 5 years, particularly the non-residential construction sector, have steadily grown. Total loans surpassed the Ps.166 billion mark in 2013, providing solid proof of the dynamism in the sector.</p>

                  <p>According to CBRE [CBRE Research, Q4, 2013], the rental price of premium rental and office properties in Mexico is lower than its LatAm peers (e.g. Santiago, Lima, Bogotá, Panama, and Sao Paulo), opening the possibility for an upward trend as the Mexican economy gains momentum.</p>

                  <div class="row">
                    <br>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <img src="/images/fibhios/contenidos/rentas-comercial-en.jpg" class="img-responsive center-block">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <img src="/images/fibhios/contenidos/rentas-oficinas-en.jpg" class="img-responsive center-block">
                    </div>
                  </div>
                  <br>
                </div>
                <!-- Menu complementario en 3md -->
               <%= erb :"english/layouts/ri-sidebar" %>
               
              
           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"/english/layouts/parallax-mensaje1" %>

  <%= erb :"/english/layouts/prospecto" %>

  <%= erb :"/english/layouts/twitter" %>

  <%= erb :"/english/layouts/footer" %>

  <%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>