<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>



<!--wrapper-->
<div class="theme-layout">


  <!--Breadcump-->
  <section class="wrapper-pgtitle">
    <div class="container">
      <div class="calloutbread">

        <h2>Our profile</h2>

        <ul class="breadcrumb">

          <li><a href="#">Investors</a></li>

          <li>FIBHIOS</li>

        </ul>
      </div>
    </div>


    <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
      <div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div>
    </a></div>
  </section>
  <!--Breadcump END-->


  <!--Contenido -->
  <section id="contenido" class="white-wrapper">
    <div class="container">
          <div class="row">
              <br>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                  <h3>FIBHIOS: Mortgage Trust</h3>
                     <p>FIBHIOS is the first Mortgage Trust in Mexico, seeking to build a portfolio of loans secured by mortgages or beneficial interests of master trusts on commercial properties, shopping centers, and office developments, strategically located and classified as premium, in high economic potential zones in Mexico.</p>
                        <p>We pursue opportunities to strengthen our portfolio either with the origination and assignation of funding to refinance, acquire or develop properties to be leased, or by acquiring entitlements to receive income from those leases.  </p>
                        <p>The success of our business model will be linked to our External Management, FHIPOS Controladora, S.A.P.I. de C.V., as well as the operational skills of the managers of the initial underlying properties, Grupo Sordo Madaleno and Grupo DMI, who together have developed over 258.33 million square feet (msf) of leasable area in Mexico.</p>
                        <p>We believe that the initial properties related to our portfolio of loans have a distinctive architectural expression that provides them with a competitive edge that together with our strong corporate governance structure and prudent controls allows us to have a robust profile in our asset class.</p>
                         <br>
                </div>
                <!-- Menu complementario en 3md -->
               <%= erb :"english/layouts/ri-sidebar" %>
               
              
           </div> <!-- end row -->
             <div class="clearfix"></div>
     </div>
  </section>

  <!--Contenido END -->



  <%= erb :"/english/layouts/parallax-mensaje1" %>

  <%= erb :"/english/layouts/prospecto" %>

  <%= erb :"/english/layouts/twitter" %>

  <%= erb :"/english/layouts/footer" %>

  <%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page"%>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>