<!DOCTYPE html>

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<%= erb :"/english/layouts/head" %>

<body>

<%= erb :"/english/layouts/preloader" %>

<%= erb :"/english/layouts/topbar" %>

<%= erb :"/english/layouts/header" %>

<!--wrapper-->
<div class="theme-layout">


<!--Breadcump-->
<section class="wrapper-pgtitle">
  <div class="container">
    <div class="calloutbread">

      <h2>Certificate Holders General Meeting</h2>

      <ul class="breadcrumb">

        <li><a href="#">Investors</a></li>

        <li>Stock Information</li>

      </ul>
    </div>
  </div>


  <div id="triangle-up"><a href="#" class="bonfire-slideout-button">
    <div class="panel-bonfire"><i class="fa fa-plus"></i></div>
  </a></div>
</section>
<!--Breadcump END-->


<!--Contenido -->
<section id="contenido" class="white-wrapper">
  <div class="container">
    <div class="row">
      <br>

      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

        <h3>Certificate Holders General Meeting</h3>


        <p>The Annual Ordinary Certificate Holders General Meeting will be held near April 30th, covering the following:</p>

        <ul class="ck-po">
          <li>Approval of any investment, disinvestment or acquisition representing 20% or more of the capital at book value</li>
          <li>Approval of any modification in the regime and investment policies</li>
          <li>Approval of additional issuing of Certificates (CBFIs)</li>
        </ul>

<p>If it is necessary to solve urgent and strategic business affairs, an Extraordinary General Meeting may be called, without having any scheduled date in advance, to:</p>

        <ul class="ck-po">
          <li>Solve operations with related parties</li>
          <li>Approve general policies on the subscription or assumption of liabilities</li>
          <li>Remove, with or without merit, the External Manager</li>
        </ul>

        <br/>

      </div>

      <!-- Menu complementario en 3md -->
      <%= erb :"english/layouts/ri-sidebar" %>


    </div>
    <!-- end row -->
    <div class="clearfix"></div>
  </div>
</section>

<!--Contenido END -->



<%= erb :"/english/layouts/parallax-mensaje1" %>

<%= erb :"/english/layouts/prospecto" %>

<%= erb :"/english/layouts/twitter" %>

<%= erb :"/english/layouts/footer" %>

<%= erb :"/english/layouts/copyrights" %>

</div>

<!--CONTENT END-->
<!--Pagina off canvas-->
<%= erb :"/english/layouts/off-canvas-page" %>

<!--Flechita de scroll-->
<%= erb :"/english/layouts/scroll-to-top" %>


<!--Javascripts-->
<%= erb :"/english/layouts/js-contenidos" %>


</body>
</html>
